<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">

        <style>
            body{
                background-color: rgb(255,255,255); 
                font-family:"calibri"; 
            }
        </style>
    </head> 


    <body>
        <h2> Stats </h2> 
        <p>
            This page contains tables of NBA player statistics broken down by category. 
            I plan to add more seasons and historical data in the future. 
            The data is from the stats.nba.com API, which I wrangled to form my own custom tables in Python.  
            The tables are then uploaded to a SQL database from my Python script, which I access from another script and export to the HTML file. 
        </p>
        <h2> Analysis </h2> 
        <p>
            Data science analyses on NBA topics are here on this page. 
            The idea is to combine my personal insights with machine learning methods to solve interesting questions.
            I think that there is a lot of overlap between statisitics and entertainment in the NBA, which I hope to show through statistics, explanations and data visualization. 
        </p>
    </body>





</html> 