{% extends "Base.html" %}

{% block content %}
    <div class="center-item">
        <button onclick="loadPage('PerGame')" class="table-button"> 2023-24 </button>
        <button onclick="loadPage('PerGame')" class="table-button"> Per Game </button>
        <button onclick="loadPage('Totals')" class="table-button"> Totals </button> 
        {% comment %} <button onclick="loadPage('Defense')" class="table-button"> Defense </button>  {% endcomment %}
    </div> 
    
    <div class = "center-item"> 
        <iframe id = "contentFrame" src="{% url 'load_table' 'PerGame' %}" style="width: 150vmin; height: 65vmin;">
        </iframe>   
    </div> 

    <script>
        function loadPage(pageName){
            document.getElementById('contentFrame').src = `/load_page/${pageName}/`; 
        } 
    </script> 
{% endblock %}


