{% load static %}
<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0"> 
        <link rel="stylesheet" href="{% static 'styles.css' %}"> 

        <style>
            body{
                font-family:calibri; 
                color:white;
                background-color: rgb(35, 35, 35); 
            }
        </style>
    </head> 


    <body style="">
        <h2> Stats Page </h2> 
        <p>
            - Customize tables and plots of NBA player data 
            <br> 
            - Data organized by season and stat type 
        </p>
        <h2> Analysis Page </h2> 
        <p>
            - Analyzing machine learning applications on NBA data 
            <br> 
            - Comprehensive explanation and visualization 
        </p> 
        <h2> Tools Page </h2> 
        <p>
            - Feed input to machine learning models and receive predictions 
            <br> 
            - Stats left empty or with extraneous input default to the mean 
            <br> 
            - Models perform poorly with inputs left blank due to relationships between variables 
        </p> 
        
    </body>





</html> 