{% extends "Base.html" %} 

{% block content %}
    <div class="center-item dropdown-container"> 
        <div class="dropdown" id="output-dropdown" style="width:100%;">
            <button id="analysis-button" onclick="showDropdown()" class="table-button" style="width:100%"> What Makes an All-Star↓ </button>  
            <div id="output-content" class="dropdown-content">
                <button onclick="loadAnalysis('star')" id ="star" class="dropdown-button"> What Makes an All-Star </button> 
            </div>
        </div>
    </div> 
    <div class="center-item">
        <button id="full-screen" class="full-screen-button" onclick="fullScreen()"> Fullscreen </button> 
    </div> 
    <div class="center-item"> 
        <iframe id="analysisFrame" class="analysis-container" src="{% url 'load_analysis' 'star' %}"></iframe> 
    </div> 

    <script>
        function fullScreen(){ 
            container = document.getElementById('analysisFrame'); 
            if (container.classList.contains('full-screen')) {
                container.classList.remove('full-screen');
                document.getElementById("analysisFrame").className = "analysis-container";  
                document.getElementById("full-screen").style = "none"; 
                document.getElementById("full-screen").innerHTML = "Fullscreen"; 
                
            }
            else{
                document.getElementById("analysisFrame").className = "full-screen";
                document.getElementById("analysisFrame").style = "none";
                document.getElementById("full-screen").style = "position:absolute; top:0px; border-top:0px; z-index:3; width:100%;"; 
                document.getElementById("full-screen").innerHTML = "Exit Fullscreen"; 
            }
        }
        function loadAnalysis(title){ 
            document.getElementById('analysisFrame').src = `/load_analysis/${title}/`;  
            button = document.getElementById('analysis-button'); 
            button.innerHTML = document.getElementById(title).innerHTML.concat("↓"); 
        } 
        function showDropdown() {
            document.getElementById("output-content").classList.toggle("show"); 
        }
    
        window.onclick = function(event) { 
          handleClick(event);
        };
        function handleClick(event) { 
            if (!event.target.matches('.table-button')) {
                var dropdowns = document.getElementsByClassName("dropdown-content"); 
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        } 
    </script> 
{% endblock %}



