{% extends "Base.html" %} 

{% block content %} 
<div class="center-item dropdown-container"> 
    <div class="dropdown" id="output-dropdown" style="width:100%">
        <button id="tool-button" class="table-button" style="width:100%;" onclick="showDropdown()"> All-Star Prediction Tool↓</button>  
        <div id="output-content" class="dropdown-content">
            <button id="Tools-AS" onclick="loadTool('Tools-AS')" class="dropdown-button"> All-Star Prediction Tool </button>
        </div>
    </div>
</div> 
<div class="center-item"> 
    <iframe id="toolFrame" class="tool-container" src="{% url 'load_tool' 'Tools-AS' %}"></iframe>  
</div> 

<script>
    function loadTool(title){ 
        document.getElementById('toolFrame').src = `/load_tool/${title}/`;  
        button = document.getElementById('tool-button'); 
        button.innerHTML = document.getElementById(title).innerHTML.concat("↓"); 
    } 

    function showDropdown() { 
        document.getElementById("output-content").classList.toggle("show"); 
    }

    window.onclick = function(event) {
      handleClick(event);
    };
  
  function handleClick(event) { 
      if (!event.target.matches('.table-button')) {
          var dropdowns = document.getElementsByClassName("dropdown-content"); 
          for (var i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
              }
          }
      }
  }  
  
  var iframe = document.getElementById("toolFrame");
    iframe.contentWindow.document.addEventListener('click', function(event) {
        console.log("iframe clicked");
        handleClick(event);
    });

</script> 

{% endblock %} 