
{%extends 'Main/TableBase.html'%}
{% block table %} 

<table border="1" class="dataframe table table-hover table-stripped table-bordered" style="width:100%" id="table">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Age</th>
      <th>DWS</th>
      <th>FTr</th>
      <th>OWS</th>
      <th>TS%</th>
      <th>eFG%</th>
      <th>WS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Al Ferrari</td>
      <td>SF</td>
      <td>STL</td>
      <td>22.0</td>
      <td>1.6</td>
      <td>0.442</td>
      <td>0.4</td>
      <td>42.8</td>
      <td>35.8</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Alex Hannum</td>
      <td>PF</td>
      <td>STL</td>
      <td>32.0</td>
      <td>2.0</td>
      <td>0.340</td>
      <td>-1.6</td>
      <td>37.0</td>
      <td>32.2</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Andy Phillip</td>
      <td>PG</td>
      <td>FTW</td>
      <td>33.0</td>
      <td>2.3</td>
      <td>0.491</td>
      <td>0.6</td>
      <td>41.4</td>
      <td>36.5</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Arnie Risen</td>
      <td>C</td>
      <td>BOS</td>
      <td>31.0</td>
      <td>1.4</td>
      <td>0.487</td>
      <td>1.2</td>
      <td>45.8</td>
      <td>38.3</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Art Spoelstra</td>
      <td>C</td>
      <td>ROC</td>
      <td>23.0</td>
      <td>2.5</td>
      <td>0.413</td>
      <td>1.2</td>
      <td>45.2</td>
      <td>39.2</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Bill Sharman</td>
      <td>SG</td>
      <td>BOS</td>
      <td>29.0</td>
      <td>1.6</td>
      <td>0.336</td>
      <td>7.2</td>
      <td>50.8</td>
      <td>43.8</td>
      <td>8.8</td>
    </tr>
    <tr>
      <td>Billy Kenville</td>
      <td>PG</td>
      <td>SYR</td>
      <td>25.0</td>
      <td>1.8</td>
      <td>0.574</td>
      <td>2.1</td>
      <td>47.7</td>
      <td>37.9</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Bob Cousy</td>
      <td>PG</td>
      <td>BOS</td>
      <td>27.0</td>
      <td>2.6</td>
      <td>0.461</td>
      <td>4.3</td>
      <td>46.1</td>
      <td>36.0</td>
      <td>6.8</td>
    </tr>
    <tr>
      <td>Bob Harrison</td>
      <td>PG</td>
      <td>STL</td>
      <td>28.0</td>
      <td>2.2</td>
      <td>0.201</td>
      <td>-1.3</td>
      <td>39.1</td>
      <td>35.9</td>
      <td>0.9</td>
    </tr>
    <tr>
      <td>Bob Houbregs</td>
      <td>C</td>
      <td>FTW</td>
      <td>23.0</td>
      <td>1.9</td>
      <td>0.666</td>
      <td>4.9</td>
      <td>52.3</td>
      <td>43.0</td>
      <td>6.9</td>
    </tr>
    <tr>
      <td>Bob Peterson</td>
      <td>SF</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>0.5</td>
      <td>0.343</td>
      <td>0.4</td>
      <td>44.4</td>
      <td>39.9</td>
      <td>0.9</td>
    </tr>
    <tr>
      <td>Bob Pettit</td>
      <td>C</td>
      <td>STL</td>
      <td>23.0</td>
      <td>4.8</td>
      <td>0.502</td>
      <td>8.9</td>
      <td>50.2</td>
      <td>42.9</td>
      <td>13.8</td>
    </tr>
    <tr>
      <td>Bob Santini</td>
      <td>0</td>
      <td>NYK</td>
      <td>20.0</td>
      <td>0.0</td>
      <td>0.200</td>
      <td>0.1</td>
      <td>50.6</td>
      <td>50.0</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Bob Schafer</td>
      <td>SG</td>
      <td>PHW-STL</td>
      <td>22.0</td>
      <td>0.5</td>
      <td>0.300</td>
      <td>-1.1</td>
      <td>36.6</td>
      <td>30.0</td>
      <td>-0.6</td>
    </tr>
    <tr>
      <td>Bob Williams</td>
      <td>0</td>
      <td>MNL</td>
      <td>24.0</td>
      <td>0.1</td>
      <td>0.978</td>
      <td>0.3</td>
      <td>50.2</td>
      <td>45.7</td>
      <td>0.5</td>
    </tr>
    <tr>
      <td>Bobby Wanzer</td>
      <td>PG</td>
      <td>ROC</td>
      <td>34.0</td>
      <td>2.5</td>
      <td>0.553</td>
      <td>2.3</td>
      <td>46.3</td>
      <td>37.6</td>
      <td>4.8</td>
    </tr>
    <tr>
      <td>Carl Braun</td>
      <td>SG</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>1.2</td>
      <td>0.359</td>
      <td>2.4</td>
      <td>45.1</td>
      <td>37.2</td>
      <td>3.6</td>
    </tr>
    <tr>
      <td>Chris Harris</td>
      <td>SG</td>
      <td>STL-ROC</td>
      <td>22.0</td>
      <td>0.4</td>
      <td>0.302</td>
      <td>-1.3</td>
      <td>29.9</td>
      <td>24.8</td>
      <td>-0.8</td>
    </tr>
    <tr>
      <td>Chuck Cooper</td>
      <td>0</td>
      <td>STL-FTW</td>
      <td>29.0</td>
      <td>1.3</td>
      <td>0.432</td>
      <td>-0.2</td>
      <td>41.2</td>
      <td>32.8</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>Chuck Mencel</td>
      <td>PG</td>
      <td>MNL</td>
      <td>22.0</td>
      <td>0.6</td>
      <td>0.256</td>
      <td>-0.9</td>
      <td>38.1</td>
      <td>32.0</td>
      <td>-0.3</td>
    </tr>
    <tr>
      <td>Chuck Noble</td>
      <td>SG</td>
      <td>FTW</td>
      <td>24.0</td>
      <td>2.0</td>
      <td>0.254</td>
      <td>-0.9</td>
      <td>40.2</td>
      <td>35.2</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>Chuck Share</td>
      <td>C</td>
      <td>STL</td>
      <td>28.0</td>
      <td>3.3</td>
      <td>0.679</td>
      <td>5.4</td>
      <td>51.3</td>
      <td>43.0</td>
      <td>8.6</td>
    </tr>
    <tr>
      <td>Clyde Lovellette</td>
      <td>C</td>
      <td>MNL</td>
      <td>26.0</td>
      <td>2.5</td>
      <td>0.342</td>
      <td>5.6</td>
      <td>48.4</td>
      <td>43.4</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>Connie Simmons</td>
      <td>PF</td>
      <td>ROC</td>
      <td>30.0</td>
      <td>1.5</td>
      <td>0.301</td>
      <td>-1.4</td>
      <td>37.8</td>
      <td>33.6</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Corky Devlin</td>
      <td>SG</td>
      <td>FTW</td>
      <td>24.0</td>
      <td>1.2</td>
      <td>0.355</td>
      <td>0.6</td>
      <td>43.6</td>
      <td>37.0</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Dick Atha</td>
      <td>SG</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>0.2</td>
      <td>0.307</td>
      <td>0.3</td>
      <td>46.6</td>
      <td>40.9</td>
      <td>0.5</td>
    </tr>
    <tr>
      <td>Dick Farley</td>
      <td>SG</td>
      <td>SYR</td>
      <td>23.0</td>
      <td>1.7</td>
      <td>0.459</td>
      <td>0.8</td>
      <td>44.2</td>
      <td>37.3</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Dick Garmaker</td>
      <td>SG</td>
      <td>MNL</td>
      <td>23.0</td>
      <td>0.6</td>
      <td>0.373</td>
      <td>0.7</td>
      <td>44.7</td>
      <td>37.0</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Dick Hemric</td>
      <td>PF</td>
      <td>BOS</td>
      <td>22.0</td>
      <td>1.1</td>
      <td>0.683</td>
      <td>1.7</td>
      <td>48.0</td>
      <td>40.3</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Dick McGuire</td>
      <td>PG</td>
      <td>NYK</td>
      <td>30.0</td>
      <td>1.2</td>
      <td>0.441</td>
      <td>0.2</td>
      <td>40.6</td>
      <td>34.7</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Dick Ricketts</td>
      <td>PF</td>
      <td>STL-ROC</td>
      <td>22.0</td>
      <td>3.0</td>
      <td>0.259</td>
      <td>-3.0</td>
      <td>36.3</td>
      <td>31.3</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Dick Schnittker</td>
      <td>SF</td>
      <td>MNL</td>
      <td>27.0</td>
      <td>1.1</td>
      <td>0.549</td>
      <td>4.2</td>
      <td>50.5</td>
      <td>39.3</td>
      <td>5.3</td>
    </tr>
    <tr>
      <td>Dolph Schayes</td>
      <td>PF</td>
      <td>SYR</td>
      <td>27.0</td>
      <td>4.9</td>
      <td>0.526</td>
      <td>6.9</td>
      <td>49.7</td>
      <td>38.7</td>
      <td>11.8</td>
    </tr>
    <tr>
      <td>Don Bielke</td>
      <td>0</td>
      <td>FTW</td>
      <td>23.0</td>
      <td>0.0</td>
      <td>0.778</td>
      <td>0.1</td>
      <td>57.9</td>
      <td>55.6</td>
      <td>0.2</td>
    </tr>
    <tr>
      <td>Earl Lloyd</td>
      <td>SF</td>
      <td>SYR</td>
      <td>27.0</td>
      <td>2.9</td>
      <td>0.379</td>
      <td>-0.5</td>
      <td>41.2</td>
      <td>33.5</td>
      <td>2.4</td>
    </tr>
    <tr>
      <td>Ed Conlin</td>
      <td>SF</td>
      <td>SYR</td>
      <td>22.0</td>
      <td>2.2</td>
      <td>0.310</td>
      <td>-0.2</td>
      <td>41.6</td>
      <td>36.8</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Ed Fleming</td>
      <td>SG</td>
      <td>ROC</td>
      <td>22.0</td>
      <td>3.2</td>
      <td>0.451</td>
      <td>1.8</td>
      <td>45.0</td>
      <td>37.1</td>
      <td>5.0</td>
    </tr>
    <tr>
      <td>Ed Kalafat</td>
      <td>SF</td>
      <td>MNL</td>
      <td>23.0</td>
      <td>1.3</td>
      <td>0.467</td>
      <td>0.8</td>
      <td>44.1</td>
      <td>35.9</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Ed Macauley</td>
      <td>C</td>
      <td>BOS</td>
      <td>27.0</td>
      <td>1.6</td>
      <td>0.507</td>
      <td>6.2</td>
      <td>51.0</td>
      <td>42.2</td>
      <td>7.8</td>
    </tr>
    <tr>
      <td>Ernie Barrett</td>
      <td>SG</td>
      <td>BOS</td>
      <td>26.0</td>
      <td>1.0</td>
      <td>0.221</td>
      <td>0.5</td>
      <td>43.3</td>
      <td>38.8</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Ernie Beck</td>
      <td>SG</td>
      <td>PHW</td>
      <td>24.0</td>
      <td>0.8</td>
      <td>0.302</td>
      <td>0.4</td>
      <td>43.8</td>
      <td>38.7</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>Ernie Vandeweghe</td>
      <td>0</td>
      <td>NYK</td>
      <td>27.0</td>
      <td>0.1</td>
      <td>0.065</td>
      <td>-0.1</td>
      <td>34.5</td>
      <td>32.3</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Frank Selvy</td>
      <td>SG</td>
      <td>STL</td>
      <td>23.0</td>
      <td>0.4</td>
      <td>0.388</td>
      <td>0.2</td>
      <td>43.6</td>
      <td>36.6</td>
      <td>0.6</td>
    </tr>
    <tr>
      <td>Frankie Brian</td>
      <td>PG</td>
      <td>FTW</td>
      <td>32.0</td>
      <td>0.6</td>
      <td>0.335</td>
      <td>-0.8</td>
      <td>37.8</td>
      <td>29.7</td>
      <td>-0.2</td>
    </tr>
    <tr>
      <td>Gene Shue</td>
      <td>PG</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>0.9</td>
      <td>0.379</td>
      <td>1.5</td>
      <td>45.3</td>
      <td>38.4</td>
      <td>2.4</td>
    </tr>
    <tr>
      <td>George Dempsey</td>
      <td>PG</td>
      <td>PHW</td>
      <td>26.0</td>
      <td>1.2</td>
      <td>0.525</td>
      <td>2.3</td>
      <td>52.1</td>
      <td>47.5</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>George King</td>
      <td>PG</td>
      <td>SYR</td>
      <td>27.0</td>
      <td>3.3</td>
      <td>0.360</td>
      <td>0.5</td>
      <td>42.1</td>
      <td>37.2</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>George Mikan</td>
      <td>C</td>
      <td>MNL</td>
      <td>31.0</td>
      <td>0.8</td>
      <td>0.325</td>
      <td>0.8</td>
      <td>45.5</td>
      <td>39.5</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>George Yardley</td>
      <td>SF</td>
      <td>FTW</td>
      <td>27.0</td>
      <td>2.8</td>
      <td>0.461</td>
      <td>4.6</td>
      <td>48.0</td>
      <td>40.7</td>
      <td>7.5</td>
    </tr>
    <tr>
      <td>Harry Gallatin</td>
      <td>SF</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>1.7</td>
      <td>0.546</td>
      <td>4.0</td>
      <td>48.4</td>
      <td>38.6</td>
      <td>5.6</td>
    </tr>
    <tr>
      <td>Jack Coleman</td>
      <td>PF</td>
      <td>ROC-STL</td>
      <td>31.0</td>
      <td>4.1</td>
      <td>0.263</td>
      <td>2.2</td>
      <td>45.3</td>
      <td>41.2</td>
      <td>6.4</td>
    </tr>
    <tr>
      <td>Jack George</td>
      <td>PG</td>
      <td>PHW</td>
      <td>27.0</td>
      <td>2.1</td>
      <td>0.416</td>
      <td>2.5</td>
      <td>45.0</td>
      <td>37.4</td>
      <td>4.6</td>
    </tr>
    <tr>
      <td>Jack McMahon</td>
      <td>PG</td>
      <td>ROC-STL</td>
      <td>27.0</td>
      <td>1.9</td>
      <td>0.301</td>
      <td>-2.1</td>
      <td>36.9</td>
      <td>32.8</td>
      <td>-0.2</td>
    </tr>
    <tr>
      <td>Jack Nichols</td>
      <td>PF</td>
      <td>BOS</td>
      <td>29.0</td>
      <td>1.8</td>
      <td>0.317</td>
      <td>2.6</td>
      <td>47.2</td>
      <td>41.3</td>
      <td>4.4</td>
    </tr>
    <tr>
      <td>Jack Stephens</td>
      <td>SG</td>
      <td>STL</td>
      <td>22.0</td>
      <td>2.5</td>
      <td>0.555</td>
      <td>2.3</td>
      <td>46.4</td>
      <td>38.6</td>
      <td>4.8</td>
    </tr>
    <tr>
      <td>Jack Twyman</td>
      <td>SF</td>
      <td>ROC</td>
      <td>21.0</td>
      <td>3.1</td>
      <td>0.302</td>
      <td>2.8</td>
      <td>46.4</td>
      <td>42.2</td>
      <td>5.9</td>
    </tr>
    <tr>
      <td>Jackie Moore</td>
      <td>SF</td>
      <td>PHW</td>
      <td>23.0</td>
      <td>0.4</td>
      <td>0.411</td>
      <td>0.1</td>
      <td>43.3</td>
      <td>38.8</td>
      <td>0.5</td>
    </tr>
    <tr>
      <td>Jesse Arnelle</td>
      <td>PF</td>
      <td>FTW</td>
      <td>22.0</td>
      <td>0.6</td>
      <td>0.421</td>
      <td>-0.6</td>
      <td>37.8</td>
      <td>31.7</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Jim Baechtold</td>
      <td>SF</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>0.8</td>
      <td>0.419</td>
      <td>2.3</td>
      <td>46.7</td>
      <td>38.6</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Jim Holstein</td>
      <td>SF</td>
      <td>FTW</td>
      <td>25.0</td>
      <td>0.4</td>
      <td>0.416</td>
      <td>-0.5</td>
      <td>34.2</td>
      <td>27.0</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Jim Loscutoff</td>
      <td>SF</td>
      <td>BOS</td>
      <td>25.0</td>
      <td>1.5</td>
      <td>0.330</td>
      <td>-0.6</td>
      <td>41.1</td>
      <td>36.0</td>
      <td>0.9</td>
    </tr>
    <tr>
      <td>Jim Tucker</td>
      <td>PF</td>
      <td>SYR</td>
      <td>23.0</td>
      <td>1.3</td>
      <td>0.286</td>
      <td>-0.3</td>
      <td>41.0</td>
      <td>34.8</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Joe Graboski</td>
      <td>PF</td>
      <td>PHW</td>
      <td>26.0</td>
      <td>2.1</td>
      <td>0.316</td>
      <td>-0.2</td>
      <td>42.2</td>
      <td>36.9</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Johnny Horan</td>
      <td>0</td>
      <td>FTW-MNL</td>
      <td>23.0</td>
      <td>0.0</td>
      <td>0.262</td>
      <td>-0.2</td>
      <td>36.3</td>
      <td>28.6</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Kenny Sears</td>
      <td>PF</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>1.4</td>
      <td>0.445</td>
      <td>4.8</td>
      <td>51.5</td>
      <td>43.8</td>
      <td>6.2</td>
    </tr>
    <tr>
      <td>Larry Foust</td>
      <td>C</td>
      <td>FTW</td>
      <td>27.0</td>
      <td>2.6</td>
      <td>0.676</td>
      <td>8.6</td>
      <td>54.7</td>
      <td>44.7</td>
      <td>11.1</td>
    </tr>
    <tr>
      <td>Larry Hennessy</td>
      <td>SG</td>
      <td>PHW</td>
      <td>26.0</td>
      <td>0.3</td>
      <td>0.130</td>
      <td>-0.8</td>
      <td>37.5</td>
      <td>34.4</td>
      <td>-0.5</td>
    </tr>
    <tr>
      <td>Lew Hitch</td>
      <td>PF</td>
      <td>MNL</td>
      <td>26.0</td>
      <td>0.8</td>
      <td>0.562</td>
      <td>1.3</td>
      <td>49.1</td>
      <td>40.0</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Maurice Stokes</td>
      <td>C</td>
      <td>ROC</td>
      <td>22.0</td>
      <td>5.9</td>
      <td>0.393</td>
      <td>0.2</td>
      <td>42.2</td>
      <td>35.4</td>
      <td>6.0</td>
    </tr>
    <tr>
      <td>Max Zaslofsky</td>
      <td>SG</td>
      <td>FTW</td>
      <td>30.0</td>
      <td>0.1</td>
      <td>0.432</td>
      <td>0.2</td>
      <td>45.6</td>
      <td>35.8</td>
      <td>0.3</td>
    </tr>
    <tr>
      <td>Med Park</td>
      <td>SF</td>
      <td>STL</td>
      <td>22.0</td>
      <td>0.5</td>
      <td>0.461</td>
      <td>-0.1</td>
      <td>41.0</td>
      <td>34.9</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Mel Hutchins</td>
      <td>PF</td>
      <td>FTW</td>
      <td>27.0</td>
      <td>2.4</td>
      <td>0.289</td>
      <td>2.1</td>
      <td>46.0</td>
      <td>42.5</td>
      <td>4.4</td>
    </tr>
    <tr>
      <td>Monk Meineke</td>
      <td>PF</td>
      <td>ROC</td>
      <td>25.0</td>
      <td>1.9</td>
      <td>0.560</td>
      <td>1.7</td>
      <td>47.4</td>
      <td>37.2</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Nat Clifton</td>
      <td>PF</td>
      <td>NYK</td>
      <td>33.0</td>
      <td>1.0</td>
      <td>0.353</td>
      <td>1.1</td>
      <td>44.9</td>
      <td>39.4</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Neil Johnston</td>
      <td>C</td>
      <td>PHW</td>
      <td>26.0</td>
      <td>2.7</td>
      <td>0.627</td>
      <td>11.2</td>
      <td>55.5</td>
      <td>45.7</td>
      <td>13.9</td>
    </tr>
    <tr>
      <td>Odie Spears</td>
      <td>SF</td>
      <td>FTW</td>
      <td>31.0</td>
      <td>1.3</td>
      <td>0.429</td>
      <td>0.7</td>
      <td>44.1</td>
      <td>35.5</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Paul Arizin</td>
      <td>SF</td>
      <td>PHW</td>
      <td>27.0</td>
      <td>2.0</td>
      <td>0.454</td>
      <td>10.2</td>
      <td>52.6</td>
      <td>44.8</td>
      <td>12.2</td>
    </tr>
    <tr>
      <td>Paul Seymour</td>
      <td>SG</td>
      <td>SYR</td>
      <td>28.0</td>
      <td>2.2</td>
      <td>0.348</td>
      <td>0.0</td>
      <td>41.6</td>
      <td>33.9</td>
      <td>2.3</td>
    </tr>
    <tr>
      <td>Ray Felix</td>
      <td>C</td>
      <td>NYK</td>
      <td>25.0</td>
      <td>1.2</td>
      <td>0.702</td>
      <td>4.3</td>
      <td>50.6</td>
      <td>41.5</td>
      <td>5.5</td>
    </tr>
    <tr>
      <td>Red Davis</td>
      <td>0</td>
      <td>ROC</td>
      <td>23.0</td>
      <td>0.0</td>
      <td>0.333</td>
      <td>-0.1</td>
      <td>14.5</td>
      <td>0.0</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Red Kerr</td>
      <td>C</td>
      <td>SYR</td>
      <td>23.0</td>
      <td>3.3</td>
      <td>0.338</td>
      <td>1.4</td>
      <td>44.7</td>
      <td>40.3</td>
      <td>4.6</td>
    </tr>
    <tr>
      <td>Red Morrison</td>
      <td>C</td>
      <td>BOS</td>
      <td>23.0</td>
      <td>0.9</td>
      <td>0.371</td>
      <td>-0.4</td>
      <td>39.8</td>
      <td>37.1</td>
      <td>0.5</td>
    </tr>
    <tr>
      <td>Red Rocha</td>
      <td>C</td>
      <td>SYR</td>
      <td>32.0</td>
      <td>2.7</td>
      <td>0.406</td>
      <td>1.0</td>
      <td>44.1</td>
      <td>36.1</td>
      <td>3.6</td>
    </tr>
    <tr>
      <td>Richie Regan</td>
      <td>PG</td>
      <td>ROC</td>
      <td>25.0</td>
      <td>2.1</td>
      <td>0.195</td>
      <td>-1.7</td>
      <td>38.2</td>
      <td>35.2</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Ron Feiereisel</td>
      <td>0</td>
      <td>MNL</td>
      <td>24.0</td>
      <td>0.0</td>
      <td>0.571</td>
      <td>0.0</td>
      <td>42.8</td>
      <td>28.6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Slater Martin</td>
      <td>PG</td>
      <td>MNL</td>
      <td>30.0</td>
      <td>1.8</td>
      <td>0.458</td>
      <td>2.9</td>
      <td>45.7</td>
      <td>35.8</td>
      <td>4.7</td>
    </tr>
    <tr>
      <td>Togo Palazzi</td>
      <td>SF</td>
      <td>BOS</td>
      <td>23.0</td>
      <td>0.5</td>
      <td>0.332</td>
      <td>0.3</td>
      <td>43.9</td>
      <td>38.9</td>
      <td>0.8</td>
    </tr>
    <tr>
      <td>Tom Gola</td>
      <td>SG</td>
      <td>PHW</td>
      <td>23.0</td>
      <td>2.5</td>
      <td>0.563</td>
      <td>4.0</td>
      <td>49.6</td>
      <td>41.2</td>
      <td>6.5</td>
    </tr>
    <tr>
      <td>Vern Mikkelsen</td>
      <td>PF</td>
      <td>MNL</td>
      <td>27.0</td>
      <td>1.8</td>
      <td>0.497</td>
      <td>3.6</td>
      <td>48.1</td>
      <td>38.6</td>
      <td>5.4</td>
    </tr>
    <tr>
      <td>Walt Davis</td>
      <td>PF</td>
      <td>PHW</td>
      <td>25.0</td>
      <td>0.9</td>
      <td>0.336</td>
      <td>0.0</td>
      <td>42.2</td>
      <td>36.9</td>
      <td>0.8</td>
    </tr>
    <tr>
      <td>Walter Dukes</td>
      <td>C</td>
      <td>NYK</td>
      <td>25.0</td>
      <td>0.9</td>
      <td>0.638</td>
      <td>1.9</td>
      <td>49.1</td>
      <td>40.3</td>
      <td>2.8</td>
    </tr>
    <tr>
      <td>Whitey Skoog</td>
      <td>SG</td>
      <td>MNL</td>
      <td>29.0</td>
      <td>1.4</td>
      <td>0.226</td>
      <td>1.4</td>
      <td>44.5</td>
      <td>39.8</td>
      <td>2.9</td>
    </tr>
  </tbody>
</table>
{% endblock %}
