
{%extends 'Main/TableBase.html'%}
{% block table %} 

<table border="1" class="dataframe table table-hover table-stripped table-bordered" style="width:100%" id="table">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Age</th>
      <th>DWS</th>
      <th>FTr</th>
      <th>OWS</th>
      <th>TS%</th>
      <th>eFG%</th>
      <th>WS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Al Attles</td>
      <td>PG</td>
      <td>PHW</td>
      <td>24.0</td>
      <td>1.5</td>
      <td>0.298</td>
      <td>0.4</td>
      <td>44.0</td>
      <td>40.9</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Al Bianchi</td>
      <td>PG</td>
      <td>SYR</td>
      <td>28.0</td>
      <td>0.6</td>
      <td>0.254</td>
      <td>-0.8</td>
      <td>38.9</td>
      <td>34.5</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Al Ferrari</td>
      <td>SG</td>
      <td>STL</td>
      <td>27.0</td>
      <td>1.2</td>
      <td>0.354</td>
      <td>0.2</td>
      <td>43.4</td>
      <td>35.7</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>Andy Johnson</td>
      <td>PF</td>
      <td>PHW</td>
      <td>28.0</td>
      <td>2.0</td>
      <td>0.330</td>
      <td>-1.7</td>
      <td>39.5</td>
      <td>35.9</td>
      <td>0.3</td>
    </tr>
    <tr>
      <td>Archie Dees</td>
      <td>C</td>
      <td>DET</td>
      <td>24.0</td>
      <td>0.1</td>
      <td>0.348</td>
      <td>0.3</td>
      <td>46.6</td>
      <td>39.3</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Bailey Howell</td>
      <td>PF</td>
      <td>DET</td>
      <td>24.0</td>
      <td>1.6</td>
      <td>0.617</td>
      <td>10.1</td>
      <td>55.2</td>
      <td>46.9</td>
      <td>11.7</td>
    </tr>
    <tr>
      <td>Barney Cable</td>
      <td>SF</td>
      <td>SYR</td>
      <td>25.0</td>
      <td>1.6</td>
      <td>0.188</td>
      <td>1.7</td>
      <td>48.7</td>
      <td>46.3</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Bill Russell</td>
      <td>C</td>
      <td>BOS</td>
      <td>26.0</td>
      <td>11.3</td>
      <td>0.375</td>
      <td>1.7</td>
      <td>45.4</td>
      <td>42.6</td>
      <td>13.0</td>
    </tr>
    <tr>
      <td>Bill Sharman</td>
      <td>SG</td>
      <td>BOS</td>
      <td>34.0</td>
      <td>2.7</td>
      <td>0.251</td>
      <td>2.7</td>
      <td>48.4</td>
      <td>42.2</td>
      <td>5.4</td>
    </tr>
    <tr>
      <td>Bob Boozer</td>
      <td>PF</td>
      <td>CIN</td>
      <td>23.0</td>
      <td>0.1</td>
      <td>0.410</td>
      <td>1.3</td>
      <td>46.8</td>
      <td>41.5</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>Bob Cousy</td>
      <td>PG</td>
      <td>BOS</td>
      <td>32.0</td>
      <td>6.3</td>
      <td>0.327</td>
      <td>0.9</td>
      <td>43.6</td>
      <td>37.1</td>
      <td>7.2</td>
    </tr>
    <tr>
      <td>Bob Ferry</td>
      <td>C</td>
      <td>DET</td>
      <td>23.0</td>
      <td>0.8</td>
      <td>0.329</td>
      <td>3.1</td>
      <td>50.0</td>
      <td>45.1</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Bob McNeill</td>
      <td>PG</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>0.4</td>
      <td>0.295</td>
      <td>0.8</td>
      <td>45.3</td>
      <td>38.9</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>Bob Pettit</td>
      <td>PF</td>
      <td>STL</td>
      <td>28.0</td>
      <td>6.5</td>
      <td>0.467</td>
      <td>8.4</td>
      <td>51.1</td>
      <td>44.7</td>
      <td>14.9</td>
    </tr>
    <tr>
      <td>Bucky Bockhorn</td>
      <td>SG</td>
      <td>CIN</td>
      <td>27.0</td>
      <td>0.1</td>
      <td>0.196</td>
      <td>0.1</td>
      <td>43.1</td>
      <td>39.7</td>
      <td>0.3</td>
    </tr>
    <tr>
      <td>Cal Ramsey</td>
      <td>SF</td>
      <td>SYR</td>
      <td>23.0</td>
      <td>0.0</td>
      <td>0.364</td>
      <td>-0.1</td>
      <td>23.5</td>
      <td>18.2</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Carl Braun</td>
      <td>PG</td>
      <td>NYK</td>
      <td>33.0</td>
      <td>0.1</td>
      <td>0.177</td>
      <td>0.4</td>
      <td>49.9</td>
      <td>46.8</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Charlie Tyra</td>
      <td>PF</td>
      <td>NYK</td>
      <td>25.0</td>
      <td>0.5</td>
      <td>0.315</td>
      <td>-0.6</td>
      <td>41.4</td>
      <td>36.2</td>
      <td>-0.2</td>
    </tr>
    <tr>
      <td>Chuck Noble</td>
      <td>SG</td>
      <td>DET</td>
      <td>29.0</td>
      <td>0.7</td>
      <td>0.203</td>
      <td>-1.2</td>
      <td>38.4</td>
      <td>34.6</td>
      <td>-0.5</td>
    </tr>
    <tr>
      <td>Cliff Hagan</td>
      <td>SF</td>
      <td>STL</td>
      <td>29.0</td>
      <td>4.4</td>
      <td>0.313</td>
      <td>6.4</td>
      <td>50.3</td>
      <td>44.4</td>
      <td>10.8</td>
    </tr>
    <tr>
      <td>Clyde Lovellette</td>
      <td>C</td>
      <td>STL</td>
      <td>31.0</td>
      <td>3.4</td>
      <td>0.249</td>
      <td>5.1</td>
      <td>50.2</td>
      <td>45.3</td>
      <td>8.5</td>
    </tr>
    <tr>
      <td>Darrall Imhoff</td>
      <td>C</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>0.3</td>
      <td>0.310</td>
      <td>-0.3</td>
      <td>41.6</td>
      <td>39.4</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Dave Budd</td>
      <td>SF</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>0.3</td>
      <td>0.371</td>
      <td>0.9</td>
      <td>47.5</td>
      <td>43.2</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>Dave Gambee</td>
      <td>SF</td>
      <td>SYR</td>
      <td>23.0</td>
      <td>2.0</td>
      <td>0.372</td>
      <td>3.3</td>
      <td>49.2</td>
      <td>41.9</td>
      <td>5.3</td>
    </tr>
    <tr>
      <td>Dave Piontek</td>
      <td>SF</td>
      <td>STL</td>
      <td>26.0</td>
      <td>0.4</td>
      <td>0.323</td>
      <td>0.4</td>
      <td>50.2</td>
      <td>49.0</td>
      <td>0.8</td>
    </tr>
    <tr>
      <td>Dick Barnett</td>
      <td>SG</td>
      <td>SYR</td>
      <td>24.0</td>
      <td>1.7</td>
      <td>0.282</td>
      <td>4.1</td>
      <td>49.2</td>
      <td>45.2</td>
      <td>5.8</td>
    </tr>
    <tr>
      <td>Dick Garmaker</td>
      <td>PG</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>0.6</td>
      <td>0.380</td>
      <td>4.1</td>
      <td>50.2</td>
      <td>44.0</td>
      <td>4.7</td>
    </tr>
    <tr>
      <td>Dolph Schayes</td>
      <td>PF</td>
      <td>SYR</td>
      <td>32.0</td>
      <td>3.5</td>
      <td>0.491</td>
      <td>5.0</td>
      <td>48.2</td>
      <td>37.2</td>
      <td>8.5</td>
    </tr>
    <tr>
      <td>Don Ohl</td>
      <td>SG</td>
      <td>DET</td>
      <td>24.0</td>
      <td>0.8</td>
      <td>0.256</td>
      <td>0.4</td>
      <td>43.7</td>
      <td>39.4</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>Ed Conlin</td>
      <td>SF</td>
      <td>PHW</td>
      <td>27.0</td>
      <td>1.4</td>
      <td>0.232</td>
      <td>-0.9</td>
      <td>40.6</td>
      <td>36.1</td>
      <td>0.5</td>
    </tr>
    <tr>
      <td>Elgin Baylor</td>
      <td>SF</td>
      <td>LAL</td>
      <td>26.0</td>
      <td>5.7</td>
      <td>0.398</td>
      <td>9.1</td>
      <td>49.8</td>
      <td>43.0</td>
      <td>14.8</td>
    </tr>
    <tr>
      <td>Ernie Beck</td>
      <td>SG</td>
      <td>STL-SYR</td>
      <td>29.0</td>
      <td>0.1</td>
      <td>0.241</td>
      <td>0.0</td>
      <td>40.5</td>
      <td>34.5</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Frank Ramsey</td>
      <td>SG</td>
      <td>BOS</td>
      <td>29.0</td>
      <td>3.8</td>
      <td>0.322</td>
      <td>2.7</td>
      <td>47.4</td>
      <td>40.7</td>
      <td>6.5</td>
    </tr>
    <tr>
      <td>Frank Selvy</td>
      <td>SG</td>
      <td>LAL</td>
      <td>28.0</td>
      <td>2.2</td>
      <td>0.364</td>
      <td>1.9</td>
      <td>46.8</td>
      <td>40.5</td>
      <td>4.1</td>
    </tr>
    <tr>
      <td>Fred LaCour</td>
      <td>SF</td>
      <td>STL</td>
      <td>22.0</td>
      <td>1.1</td>
      <td>0.285</td>
      <td>0.6</td>
      <td>46.5</td>
      <td>41.7</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Gary Alcorn</td>
      <td>C</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>0.2</td>
      <td>0.200</td>
      <td>-0.2</td>
      <td>35.6</td>
      <td>30.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Gene Conley</td>
      <td>PF</td>
      <td>BOS</td>
      <td>30.0</td>
      <td>3.2</td>
      <td>0.309</td>
      <td>-0.5</td>
      <td>42.0</td>
      <td>37.0</td>
      <td>2.8</td>
    </tr>
    <tr>
      <td>Gene Guarilia</td>
      <td>SF</td>
      <td>BOS</td>
      <td>23.0</td>
      <td>0.4</td>
      <td>0.106</td>
      <td>-0.2</td>
      <td>40.1</td>
      <td>40.4</td>
      <td>0.3</td>
    </tr>
    <tr>
      <td>Gene Shue</td>
      <td>PG</td>
      <td>DET</td>
      <td>29.0</td>
      <td>1.4</td>
      <td>0.351</td>
      <td>6.2</td>
      <td>49.5</td>
      <td>42.1</td>
      <td>7.6</td>
    </tr>
    <tr>
      <td>George Lee</td>
      <td>SF</td>
      <td>DET</td>
      <td>24.0</td>
      <td>0.8</td>
      <td>0.508</td>
      <td>1.8</td>
      <td>47.2</td>
      <td>39.9</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Guy Rodgers</td>
      <td>PG</td>
      <td>PHW</td>
      <td>25.0</td>
      <td>4.1</td>
      <td>0.292</td>
      <td>0.8</td>
      <td>43.1</td>
      <td>38.6</td>
      <td>4.8</td>
    </tr>
    <tr>
      <td>Hal Greer</td>
      <td>SG</td>
      <td>SYR</td>
      <td>24.0</td>
      <td>2.5</td>
      <td>0.285</td>
      <td>5.4</td>
      <td>49.9</td>
      <td>45.1</td>
      <td>7.9</td>
    </tr>
    <tr>
      <td>Hot Rod Hundley</td>
      <td>PG</td>
      <td>LAL</td>
      <td>26.0</td>
      <td>2.6</td>
      <td>0.321</td>
      <td>-0.7</td>
      <td>41.3</td>
      <td>35.1</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Howie Jolliff</td>
      <td>PF</td>
      <td>LAL</td>
      <td>22.0</td>
      <td>0.5</td>
      <td>0.163</td>
      <td>-0.8</td>
      <td>34.1</td>
      <td>32.6</td>
      <td>-0.3</td>
    </tr>
    <tr>
      <td>Hub Reed</td>
      <td>C</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>0.1</td>
      <td>0.335</td>
      <td>0.9</td>
      <td>47.5</td>
      <td>42.9</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Jack George</td>
      <td>PG</td>
      <td>NYK</td>
      <td>32.0</td>
      <td>0.1</td>
      <td>0.323</td>
      <td>-0.2</td>
      <td>38.6</td>
      <td>33.3</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Jack Twyman</td>
      <td>SF</td>
      <td>CIN</td>
      <td>26.0</td>
      <td>0.1</td>
      <td>0.339</td>
      <td>9.4</td>
      <td>53.2</td>
      <td>48.8</td>
      <td>9.6</td>
    </tr>
    <tr>
      <td>Jackie Moreland</td>
      <td>PF</td>
      <td>DET</td>
      <td>22.0</td>
      <td>0.5</td>
      <td>0.277</td>
      <td>0.1</td>
      <td>43.7</td>
      <td>40.0</td>
      <td>0.5</td>
    </tr>
    <tr>
      <td>Jerry West</td>
      <td>SG</td>
      <td>LAL</td>
      <td>22.0</td>
      <td>3.5</td>
      <td>0.393</td>
      <td>3.1</td>
      <td>46.8</td>
      <td>41.9</td>
      <td>6.6</td>
    </tr>
    <tr>
      <td>Jim Krebs</td>
      <td>C</td>
      <td>LAL</td>
      <td>25.0</td>
      <td>1.8</td>
      <td>0.134</td>
      <td>-0.6</td>
      <td>42.1</td>
      <td>39.2</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Jim Loscutoff</td>
      <td>SF</td>
      <td>BOS</td>
      <td>30.0</td>
      <td>2.0</td>
      <td>0.159</td>
      <td>-2.9</td>
      <td>32.9</td>
      <td>30.1</td>
      <td>-0.9</td>
    </tr>
    <tr>
      <td>Jim Palmer</td>
      <td>C</td>
      <td>NYK</td>
      <td>27.0</td>
      <td>0.2</td>
      <td>0.210</td>
      <td>0.0</td>
      <td>43.4</td>
      <td>40.3</td>
      <td>0.2</td>
    </tr>
    <tr>
      <td>Joe Graboski</td>
      <td>PF</td>
      <td>PHW</td>
      <td>31.0</td>
      <td>1.1</td>
      <td>0.361</td>
      <td>-1.1</td>
      <td>39.6</td>
      <td>33.3</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Joe Roberts</td>
      <td>SF</td>
      <td>SYR</td>
      <td>24.0</td>
      <td>0.8</td>
      <td>0.296</td>
      <td>-0.6</td>
      <td>40.6</td>
      <td>37.0</td>
      <td>0.2</td>
    </tr>
    <tr>
      <td>Joe Ruklick</td>
      <td>PF</td>
      <td>PHW</td>
      <td>22.0</td>
      <td>0.2</td>
      <td>0.108</td>
      <td>-0.4</td>
      <td>37.4</td>
      <td>35.8</td>
      <td>-0.2</td>
    </tr>
    <tr>
      <td>Johnny Green</td>
      <td>PF</td>
      <td>NYK</td>
      <td>27.0</td>
      <td>0.8</td>
      <td>0.367</td>
      <td>0.8</td>
      <td>45.3</td>
      <td>43.0</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Johnny McCarthy</td>
      <td>PG</td>
      <td>STL</td>
      <td>26.0</td>
      <td>3.4</td>
      <td>0.303</td>
      <td>-1.5</td>
      <td>38.7</td>
      <td>35.7</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>K.C. Jones</td>
      <td>PG</td>
      <td>BOS</td>
      <td>28.0</td>
      <td>3.6</td>
      <td>0.466</td>
      <td>-0.6</td>
      <td>40.9</td>
      <td>33.8</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Kenny Sears</td>
      <td>SF</td>
      <td>NYK</td>
      <td>27.0</td>
      <td>0.4</td>
      <td>0.572</td>
      <td>3.6</td>
      <td>52.7</td>
      <td>42.4</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>Larry Costello</td>
      <td>PG</td>
      <td>SYR</td>
      <td>29.0</td>
      <td>2.3</td>
      <td>0.400</td>
      <td>6.3</td>
      <td>54.6</td>
      <td>48.2</td>
      <td>8.6</td>
    </tr>
    <tr>
      <td>Larry Foust</td>
      <td>C</td>
      <td>STL</td>
      <td>32.0</td>
      <td>1.8</td>
      <td>0.425</td>
      <td>1.3</td>
      <td>47.5</td>
      <td>39.7</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Larry Staverman</td>
      <td>PF</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>0.1</td>
      <td>0.373</td>
      <td>1.4</td>
      <td>51.9</td>
      <td>44.6</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>Lenny Wilkens</td>
      <td>PG</td>
      <td>STL</td>
      <td>23.0</td>
      <td>2.4</td>
      <td>0.383</td>
      <td>2.4</td>
      <td>48.1</td>
      <td>42.5</td>
      <td>4.9</td>
    </tr>
    <tr>
      <td>Mike Farmer</td>
      <td>SF</td>
      <td>NYK-CIN</td>
      <td>24.0</td>
      <td>0.1</td>
      <td>0.204</td>
      <td>-0.2</td>
      <td>42.7</td>
      <td>39.0</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Oscar Robertson</td>
      <td>PG</td>
      <td>CIN</td>
      <td>22.0</td>
      <td>0.2</td>
      <td>0.496</td>
      <td>13.0</td>
      <td>55.5</td>
      <td>47.3</td>
      <td>13.2</td>
    </tr>
    <tr>
      <td>Paul Arizin</td>
      <td>SF</td>
      <td>PHW</td>
      <td>32.0</td>
      <td>3.0</td>
      <td>0.418</td>
      <td>6.7</td>
      <td>50.6</td>
      <td>42.5</td>
      <td>9.7</td>
    </tr>
    <tr>
      <td>Phil Jordon</td>
      <td>C</td>
      <td>CIN-NYK</td>
      <td>27.0</td>
      <td>0.4</td>
      <td>0.308</td>
      <td>0.3</td>
      <td>43.7</td>
      <td>38.6</td>
      <td>0.6</td>
    </tr>
    <tr>
      <td>Phil Rollins</td>
      <td>0</td>
      <td>STL-CIN-NYK</td>
      <td>27.0</td>
      <td>0.3</td>
      <td>0.300</td>
      <td>-0.2</td>
      <td>41.6</td>
      <td>37.2</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Pickles Kennedy</td>
      <td>0</td>
      <td>PHW</td>
      <td>22.0</td>
      <td>0.1</td>
      <td>0.286</td>
      <td>-0.2</td>
      <td>25.4</td>
      <td>19.0</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Ralph Davis</td>
      <td>SG</td>
      <td>CIN</td>
      <td>22.0</td>
      <td>0.1</td>
      <td>0.115</td>
      <td>-0.2</td>
      <td>41.8</td>
      <td>40.1</td>
      <td>-0.2</td>
    </tr>
    <tr>
      <td>Ray Felix</td>
      <td>C</td>
      <td>LAL</td>
      <td>30.0</td>
      <td>1.9</td>
      <td>0.380</td>
      <td>-0.1</td>
      <td>43.3</td>
      <td>37.2</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Red Kerr</td>
      <td>C</td>
      <td>SYR</td>
      <td>28.0</td>
      <td>3.1</td>
      <td>0.283</td>
      <td>0.8</td>
      <td>44.5</td>
      <td>39.7</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Richie Guerin</td>
      <td>SG</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>1.1</td>
      <td>0.405</td>
      <td>4.3</td>
      <td>47.2</td>
      <td>39.6</td>
      <td>5.4</td>
    </tr>
    <tr>
      <td>Ron Johnson</td>
      <td>0</td>
      <td>DET-LAL</td>
      <td>22.0</td>
      <td>0.1</td>
      <td>0.395</td>
      <td>-0.2</td>
      <td>36.6</td>
      <td>30.2</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Rudy LaRusso</td>
      <td>PF</td>
      <td>LAL</td>
      <td>23.0</td>
      <td>3.1</td>
      <td>0.412</td>
      <td>3.8</td>
      <td>49.3</td>
      <td>41.9</td>
      <td>6.9</td>
    </tr>
    <tr>
      <td>Sam Jones</td>
      <td>SG</td>
      <td>BOS</td>
      <td>27.0</td>
      <td>4.2</td>
      <td>0.251</td>
      <td>3.9</td>
      <td>49.3</td>
      <td>44.9</td>
      <td>8.1</td>
    </tr>
    <tr>
      <td>Shellie McMillon</td>
      <td>SF</td>
      <td>DET</td>
      <td>24.0</td>
      <td>0.8</td>
      <td>0.267</td>
      <td>1.4</td>
      <td>46.6</td>
      <td>42.8</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Si Green</td>
      <td>SG</td>
      <td>STL</td>
      <td>27.0</td>
      <td>2.8</td>
      <td>0.344</td>
      <td>-0.2</td>
      <td>42.3</td>
      <td>36.6</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Slick Leonard</td>
      <td>PG</td>
      <td>LAL</td>
      <td>28.0</td>
      <td>0.6</td>
      <td>0.483</td>
      <td>-0.6</td>
      <td>38.4</td>
      <td>29.5</td>
      <td>0.1</td>
    </tr>
    <tr>
      <td>Swede Halbrook</td>
      <td>C</td>
      <td>SYR</td>
      <td>28.0</td>
      <td>1.5</td>
      <td>0.302</td>
      <td>-1.8</td>
      <td>36.8</td>
      <td>33.5</td>
      <td>-0.3</td>
    </tr>
    <tr>
      <td>Tom Gola</td>
      <td>SG</td>
      <td>PHW</td>
      <td>28.0</td>
      <td>3.3</td>
      <td>0.299</td>
      <td>3.5</td>
      <td>49.4</td>
      <td>44.7</td>
      <td>6.8</td>
    </tr>
    <tr>
      <td>Tom Hawkins</td>
      <td>SF</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>2.0</td>
      <td>0.327</td>
      <td>1.2</td>
      <td>46.2</td>
      <td>43.1</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Tom Heinsohn</td>
      <td>PF</td>
      <td>BOS</td>
      <td>26.0</td>
      <td>5.2</td>
      <td>0.271</td>
      <td>1.4</td>
      <td>45.0</td>
      <td>40.0</td>
      <td>6.6</td>
    </tr>
    <tr>
      <td>Tom Sanders</td>
      <td>SF</td>
      <td>BOS</td>
      <td>22.0</td>
      <td>2.5</td>
      <td>0.284</td>
      <td>0.5</td>
      <td>45.8</td>
      <td>42.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Vern Hatton</td>
      <td>SG</td>
      <td>PHW</td>
      <td>25.0</td>
      <td>0.6</td>
      <td>0.184</td>
      <td>-1.1</td>
      <td>36.5</td>
      <td>31.9</td>
      <td>-0.5</td>
    </tr>
    <tr>
      <td>Walter Dukes</td>
      <td>C</td>
      <td>DET</td>
      <td>30.0</td>
      <td>1.4</td>
      <td>0.567</td>
      <td>2.4</td>
      <td>48.4</td>
      <td>40.5</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Wayne Embry</td>
      <td>C</td>
      <td>CIN</td>
      <td>23.0</td>
      <td>0.1</td>
      <td>0.326</td>
      <td>3.3</td>
      <td>49.0</td>
      <td>45.1</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Whitey Bell</td>
      <td>PG</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>0.0</td>
      <td>0.167</td>
      <td>-0.1</td>
      <td>38.8</td>
      <td>38.9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>Willie Jones</td>
      <td>PG</td>
      <td>DET</td>
      <td>24.0</td>
      <td>0.2</td>
      <td>0.292</td>
      <td>-0.3</td>
      <td>40.2</td>
      <td>36.1</td>
      <td>-0.1</td>
    </tr>
    <tr>
      <td>Willie Naulls</td>
      <td>SF</td>
      <td>NYK</td>
      <td>26.0</td>
      <td>1.2</td>
      <td>0.265</td>
      <td>4.6</td>
      <td>48.0</td>
      <td>42.8</td>
      <td>5.7</td>
    </tr>
    <tr>
      <td>Wilt Chamberlain</td>
      <td>C</td>
      <td>PHW</td>
      <td>24.0</td>
      <td>6.5</td>
      <td>0.429</td>
      <td>12.3</td>
      <td>51.9</td>
      <td>50.9</td>
      <td>18.8</td>
    </tr>
    <tr>
      <td>Win Wilfong</td>
      <td>PG</td>
      <td>CIN</td>
      <td>27.0</td>
      <td>0.0</td>
      <td>0.292</td>
      <td>-0.3</td>
      <td>41.3</td>
      <td>34.8</td>
      <td>-0.3</td>
    </tr>
    <tr>
      <td>Woody Sauldsberry</td>
      <td>PF</td>
      <td>STL</td>
      <td>26.0</td>
      <td>2.2</td>
      <td>0.130</td>
      <td>-5.1</td>
      <td>31.8</td>
      <td>29.9</td>
      <td>-2.8</td>
    </tr>
  </tbody>
</table>
{% endblock %}
