
{%extends 'Main/TableBase.html'%}
{% block table %} 

<table border="1" class="dataframe table table-hover table-stripped table-bordered" style="width:100%" id="table">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Age</th>
      <th>PPG</th>
      <th>RPG</th>
      <th>APG</th>
      <th>GP</th>
      <th>FGA</th>
      <th>FG%</th>
      <th>2P%</th>
      <th>FTA</th>
      <th>FT%</th>
      <th>PF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adrian Smith</td>
      <td>SG</td>
      <td>CIN</td>
      <td>25.0</td>
      <td>7.2</td>
      <td>1.9</td>
      <td>2.1</td>
      <td>80.0</td>
      <td>6.2</td>
      <td>40.5</td>
      <td>40.5</td>
      <td>2.8</td>
      <td>77.5</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Al Attles</td>
      <td>PG</td>
      <td>PHW</td>
      <td>25.0</td>
      <td>11.3</td>
      <td>4.7</td>
      <td>4.4</td>
      <td>75.0</td>
      <td>9.7</td>
      <td>47.4</td>
      <td>47.4</td>
      <td>3.6</td>
      <td>59.2</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Al Bianchi</td>
      <td>PG</td>
      <td>SYR</td>
      <td>29.0</td>
      <td>10.3</td>
      <td>3.5</td>
      <td>3.3</td>
      <td>80.0</td>
      <td>10.6</td>
      <td>39.7</td>
      <td>39.7</td>
      <td>2.8</td>
      <td>69.7</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Al Butler</td>
      <td>PG</td>
      <td>BOS-NYK</td>
      <td>23.0</td>
      <td>14.0</td>
      <td>5.7</td>
      <td>3.5</td>
      <td>59.0</td>
      <td>12.8</td>
      <td>46.3</td>
      <td>46.3</td>
      <td>3.1</td>
      <td>70.9</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Al Ferrari</td>
      <td>SG</td>
      <td>STL</td>
      <td>28.0</td>
      <td>7.5</td>
      <td>2.7</td>
      <td>4.0</td>
      <td>79.0</td>
      <td>7.4</td>
      <td>35.7</td>
      <td>35.7</td>
      <td>2.8</td>
      <td>79.9</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Andy Johnson</td>
      <td>SF</td>
      <td>CHP</td>
      <td>29.0</td>
      <td>14.3</td>
      <td>4.9</td>
      <td>3.2</td>
      <td>71.0</td>
      <td>11.5</td>
      <td>44.8</td>
      <td>44.8</td>
      <td>6.4</td>
      <td>62.8</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Archie Dees</td>
      <td>C</td>
      <td>CHP-STL</td>
      <td>25.0</td>
      <td>6.5</td>
      <td>3.7</td>
      <td>0.8</td>
      <td>21.0</td>
      <td>5.5</td>
      <td>44.3</td>
      <td>44.3</td>
      <td>2.2</td>
      <td>76.1</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>Bailey Howell</td>
      <td>SF</td>
      <td>DET</td>
      <td>25.0</td>
      <td>19.9</td>
      <td>12.6</td>
      <td>2.4</td>
      <td>79.0</td>
      <td>15.1</td>
      <td>46.4</td>
      <td>46.4</td>
      <td>7.7</td>
      <td>76.8</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>Barney Cable</td>
      <td>SF</td>
      <td>CHP-STL</td>
      <td>26.0</td>
      <td>10.9</td>
      <td>8.4</td>
      <td>1.7</td>
      <td>67.0</td>
      <td>11.2</td>
      <td>40.7</td>
      <td>40.7</td>
      <td>2.7</td>
      <td>65.2</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Bevo Nordmann</td>
      <td>C</td>
      <td>CIN</td>
      <td>22.0</td>
      <td>2.3</td>
      <td>2.2</td>
      <td>0.3</td>
      <td>58.0</td>
      <td>2.2</td>
      <td>40.5</td>
      <td>40.5</td>
      <td>1.0</td>
      <td>50.9</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>Bill Russell</td>
      <td>C</td>
      <td>BOS</td>
      <td>27.0</td>
      <td>18.9</td>
      <td>23.6</td>
      <td>4.5</td>
      <td>76.0</td>
      <td>16.6</td>
      <td>45.7</td>
      <td>45.7</td>
      <td>6.3</td>
      <td>59.5</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Bill Smith</td>
      <td>0</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>2.6</td>
      <td>1.8</td>
      <td>0.8</td>
      <td>9.0</td>
      <td>3.7</td>
      <td>24.2</td>
      <td>24.2</td>
      <td>0.9</td>
      <td>87.5</td>
      <td>0.7</td>
    </tr>
    <tr>
      <td>Bob Boozer</td>
      <td>PF</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>13.7</td>
      <td>10.2</td>
      <td>1.6</td>
      <td>79.0</td>
      <td>11.8</td>
      <td>43.8</td>
      <td>43.8</td>
      <td>4.7</td>
      <td>70.7</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Bob Cousy</td>
      <td>PG</td>
      <td>BOS</td>
      <td>33.0</td>
      <td>15.7</td>
      <td>3.5</td>
      <td>7.8</td>
      <td>75.0</td>
      <td>15.7</td>
      <td>39.1</td>
      <td>39.1</td>
      <td>4.4</td>
      <td>75.4</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Bob Ferry</td>
      <td>C</td>
      <td>DET</td>
      <td>24.0</td>
      <td>13.9</td>
      <td>6.3</td>
      <td>1.8</td>
      <td>80.0</td>
      <td>11.7</td>
      <td>43.8</td>
      <td>43.8</td>
      <td>5.3</td>
      <td>67.8</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Bob McNeill</td>
      <td>PG</td>
      <td>PHW-LAL</td>
      <td>23.0</td>
      <td>2.8</td>
      <td>1.1</td>
      <td>1.8</td>
      <td>50.0</td>
      <td>2.7</td>
      <td>41.2</td>
      <td>41.2</td>
      <td>0.7</td>
      <td>76.5</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>Bob Pettit</td>
      <td>PF</td>
      <td>STL</td>
      <td>29.0</td>
      <td>31.1</td>
      <td>18.7</td>
      <td>3.7</td>
      <td>78.0</td>
      <td>24.7</td>
      <td>45.0</td>
      <td>45.0</td>
      <td>11.6</td>
      <td>77.1</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Bob Sims</td>
      <td>SG</td>
      <td>LAL-STL</td>
      <td>23.0</td>
      <td>7.8</td>
      <td>2.8</td>
      <td>2.4</td>
      <td>65.0</td>
      <td>7.6</td>
      <td>39.3</td>
      <td>39.3</td>
      <td>3.3</td>
      <td>56.9</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Bob Wiesenhahn</td>
      <td>SF</td>
      <td>CIN</td>
      <td>23.0</td>
      <td>2.0</td>
      <td>1.9</td>
      <td>0.4</td>
      <td>60.0</td>
      <td>2.7</td>
      <td>31.7</td>
      <td>31.7</td>
      <td>0.5</td>
      <td>56.7</td>
      <td>0.8</td>
    </tr>
    <tr>
      <td>Bobby Smith</td>
      <td>0</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3.0</td>
      <td>0.3</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.3</td>
    </tr>
    <tr>
      <td>Bucky Bockhorn</td>
      <td>SG</td>
      <td>CIN</td>
      <td>28.0</td>
      <td>15.8</td>
      <td>4.7</td>
      <td>4.6</td>
      <td>80.0</td>
      <td>15.4</td>
      <td>43.0</td>
      <td>43.0</td>
      <td>3.1</td>
      <td>78.9</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Carl Braun</td>
      <td>PG</td>
      <td>BOS</td>
      <td>34.0</td>
      <td>3.7</td>
      <td>1.0</td>
      <td>1.5</td>
      <td>48.0</td>
      <td>4.3</td>
      <td>37.7</td>
      <td>37.7</td>
      <td>0.6</td>
      <td>74.1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Charlie Tyra</td>
      <td>PF</td>
      <td>CHP</td>
      <td>26.0</td>
      <td>6.7</td>
      <td>7.8</td>
      <td>1.1</td>
      <td>78.0</td>
      <td>6.8</td>
      <td>36.1</td>
      <td>36.1</td>
      <td>2.7</td>
      <td>62.1</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Chuck Noble</td>
      <td>SG</td>
      <td>DET</td>
      <td>30.0</td>
      <td>2.8</td>
      <td>1.7</td>
      <td>2.4</td>
      <td>26.0</td>
      <td>4.3</td>
      <td>28.3</td>
      <td>28.3</td>
      <td>0.6</td>
      <td>53.3</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Chuck Osborne</td>
      <td>PF</td>
      <td>SYR</td>
      <td>23.0</td>
      <td>1.3</td>
      <td>2.3</td>
      <td>0.3</td>
      <td>4.0</td>
      <td>2.0</td>
      <td>12.5</td>
      <td>12.5</td>
      <td>1.0</td>
      <td>75.0</td>
      <td>0.8</td>
    </tr>
    <tr>
      <td>Cleo Hill</td>
      <td>SG</td>
      <td>STL</td>
      <td>23.0</td>
      <td>5.5</td>
      <td>3.1</td>
      <td>2.0</td>
      <td>58.0</td>
      <td>5.3</td>
      <td>34.6</td>
      <td>34.6</td>
      <td>2.4</td>
      <td>77.4</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Cleveland Buckner</td>
      <td>PF</td>
      <td>NYK</td>
      <td>23.0</td>
      <td>6.4</td>
      <td>3.8</td>
      <td>0.6</td>
      <td>62.0</td>
      <td>5.9</td>
      <td>43.1</td>
      <td>43.1</td>
      <td>2.1</td>
      <td>62.4</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Cliff Hagan</td>
      <td>SF</td>
      <td>STL</td>
      <td>30.0</td>
      <td>22.9</td>
      <td>8.2</td>
      <td>4.8</td>
      <td>77.0</td>
      <td>19.4</td>
      <td>47.0</td>
      <td>47.0</td>
      <td>5.7</td>
      <td>82.5</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Clyde Lovellette</td>
      <td>C</td>
      <td>STL</td>
      <td>32.0</td>
      <td>20.9</td>
      <td>8.8</td>
      <td>1.7</td>
      <td>40.0</td>
      <td>18.1</td>
      <td>47.1</td>
      <td>47.1</td>
      <td>4.7</td>
      <td>82.9</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Darrall Imhoff</td>
      <td>C</td>
      <td>NYK</td>
      <td>23.0</td>
      <td>5.9</td>
      <td>6.2</td>
      <td>1.1</td>
      <td>76.0</td>
      <td>6.3</td>
      <td>38.6</td>
      <td>38.6</td>
      <td>1.8</td>
      <td>57.6</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Dave Budd</td>
      <td>SF</td>
      <td>NYK</td>
      <td>23.0</td>
      <td>6.5</td>
      <td>4.4</td>
      <td>1.1</td>
      <td>79.0</td>
      <td>5.5</td>
      <td>43.6</td>
      <td>43.6</td>
      <td>2.9</td>
      <td>59.7</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Dave Gambee</td>
      <td>SF</td>
      <td>SYR</td>
      <td>24.0</td>
      <td>16.7</td>
      <td>7.9</td>
      <td>1.4</td>
      <td>80.0</td>
      <td>14.1</td>
      <td>42.4</td>
      <td>42.4</td>
      <td>5.9</td>
      <td>81.7</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Dave Piontek</td>
      <td>PF</td>
      <td>CHP</td>
      <td>27.0</td>
      <td>4.6</td>
      <td>3.4</td>
      <td>0.7</td>
      <td>45.0</td>
      <td>5.0</td>
      <td>36.9</td>
      <td>36.9</td>
      <td>1.3</td>
      <td>66.1</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Dave Zeller</td>
      <td>PG</td>
      <td>CIN</td>
      <td>22.0</td>
      <td>1.5</td>
      <td>0.4</td>
      <td>1.0</td>
      <td>61.0</td>
      <td>1.7</td>
      <td>35.3</td>
      <td>35.3</td>
      <td>0.4</td>
      <td>75.0</td>
      <td>0.6</td>
    </tr>
    <tr>
      <td>Dolph Schayes</td>
      <td>PF</td>
      <td>SYR</td>
      <td>33.0</td>
      <td>14.7</td>
      <td>7.8</td>
      <td>2.1</td>
      <td>56.0</td>
      <td>13.4</td>
      <td>35.7</td>
      <td>35.7</td>
      <td>5.7</td>
      <td>89.7</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Don Ohl</td>
      <td>SG</td>
      <td>DET</td>
      <td>25.0</td>
      <td>17.0</td>
      <td>3.5</td>
      <td>3.2</td>
      <td>77.0</td>
      <td>16.2</td>
      <td>44.4</td>
      <td>44.4</td>
      <td>3.6</td>
      <td>71.8</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Donnie Butcher</td>
      <td>PG</td>
      <td>NYK</td>
      <td>25.0</td>
      <td>2.9</td>
      <td>1.7</td>
      <td>1.1</td>
      <td>47.0</td>
      <td>3.3</td>
      <td>31.0</td>
      <td>31.0</td>
      <td>1.5</td>
      <td>60.9</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Doug Kistler</td>
      <td>0</td>
      <td>NYK</td>
      <td>23.0</td>
      <td>1.6</td>
      <td>0.2</td>
      <td>0.0</td>
      <td>5.0</td>
      <td>1.2</td>
      <td>50.0</td>
      <td>50.0</td>
      <td>0.8</td>
      <td>50.0</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Ed Burton</td>
      <td>0</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>1.9</td>
      <td>0.6</td>
      <td>0.1</td>
      <td>8.0</td>
      <td>1.8</td>
      <td>50.0</td>
      <td>50.0</td>
      <td>0.5</td>
      <td>25.0</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Ed Conlin</td>
      <td>SG</td>
      <td>PHW</td>
      <td>28.0</td>
      <td>4.6</td>
      <td>2.2</td>
      <td>1.2</td>
      <td>70.0</td>
      <td>5.3</td>
      <td>34.5</td>
      <td>34.5</td>
      <td>1.3</td>
      <td>74.2</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Elgin Baylor</td>
      <td>SF</td>
      <td>LAL</td>
      <td>27.0</td>
      <td>38.3</td>
      <td>18.6</td>
      <td>4.6</td>
      <td>48.0</td>
      <td>33.1</td>
      <td>42.8</td>
      <td>42.8</td>
      <td>13.1</td>
      <td>75.4</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Frank Radovich</td>
      <td>0</td>
      <td>PHW</td>
      <td>23.0</td>
      <td>2.4</td>
      <td>1.4</td>
      <td>0.1</td>
      <td>37.0</td>
      <td>2.5</td>
      <td>39.8</td>
      <td>39.8</td>
      <td>0.7</td>
      <td>50.0</td>
      <td>0.7</td>
    </tr>
    <tr>
      <td>Frank Ramsey</td>
      <td>SG</td>
      <td>BOS</td>
      <td>30.0</td>
      <td>15.3</td>
      <td>4.9</td>
      <td>1.4</td>
      <td>79.0</td>
      <td>12.9</td>
      <td>42.8</td>
      <td>42.8</td>
      <td>5.1</td>
      <td>82.5</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Frank Selvy</td>
      <td>SG</td>
      <td>LAL</td>
      <td>29.0</td>
      <td>14.7</td>
      <td>5.2</td>
      <td>4.8</td>
      <td>79.0</td>
      <td>13.1</td>
      <td>42.0</td>
      <td>42.0</td>
      <td>5.1</td>
      <td>73.8</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Fred LaCour</td>
      <td>PG</td>
      <td>STL</td>
      <td>23.0</td>
      <td>7.8</td>
      <td>3.7</td>
      <td>2.3</td>
      <td>73.0</td>
      <td>7.3</td>
      <td>42.9</td>
      <td>42.9</td>
      <td>1.8</td>
      <td>81.5</td>
      <td>2.3</td>
    </tr>
    <tr>
      <td>Gary Phillips</td>
      <td>PG</td>
      <td>BOS</td>
      <td>22.0</td>
      <td>4.0</td>
      <td>1.6</td>
      <td>1.0</td>
      <td>67.0</td>
      <td>4.6</td>
      <td>35.5</td>
      <td>35.5</td>
      <td>1.3</td>
      <td>58.1</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>Gene Guarilia</td>
      <td>SF</td>
      <td>BOS</td>
      <td>24.0</td>
      <td>3.6</td>
      <td>2.8</td>
      <td>0.2</td>
      <td>45.0</td>
      <td>3.6</td>
      <td>37.9</td>
      <td>37.9</td>
      <td>1.4</td>
      <td>64.1</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>Gene Shue</td>
      <td>PG</td>
      <td>DET</td>
      <td>30.0</td>
      <td>19.0</td>
      <td>4.7</td>
      <td>5.8</td>
      <td>80.0</td>
      <td>17.8</td>
      <td>40.8</td>
      <td>40.8</td>
      <td>5.6</td>
      <td>81.0</td>
      <td>2.4</td>
    </tr>
    <tr>
      <td>George Blaney</td>
      <td>PG</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>3.3</td>
      <td>1.0</td>
      <td>1.3</td>
      <td>36.0</td>
      <td>3.9</td>
      <td>38.0</td>
      <td>38.0</td>
      <td>0.5</td>
      <td>52.9</td>
      <td>0.9</td>
    </tr>
    <tr>
      <td>George Bon Salle</td>
      <td>PF</td>
      <td>CHP</td>
      <td>26.0</td>
      <td>1.3</td>
      <td>0.7</td>
      <td>0.0</td>
      <td>3.0</td>
      <td>2.7</td>
      <td>25.0</td>
      <td>25.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>George Lee</td>
      <td>SF</td>
      <td>DET</td>
      <td>25.0</td>
      <td>7.6</td>
      <td>4.7</td>
      <td>0.9</td>
      <td>75.0</td>
      <td>6.7</td>
      <td>35.8</td>
      <td>35.8</td>
      <td>3.7</td>
      <td>76.1</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Guy Rodgers</td>
      <td>PG</td>
      <td>PHW</td>
      <td>26.0</td>
      <td>8.2</td>
      <td>4.4</td>
      <td>8.0</td>
      <td>80.0</td>
      <td>9.4</td>
      <td>35.6</td>
      <td>35.6</td>
      <td>2.3</td>
      <td>66.5</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Hal Greer</td>
      <td>SG</td>
      <td>SYR</td>
      <td>25.0</td>
      <td>22.8</td>
      <td>7.4</td>
      <td>4.4</td>
      <td>71.0</td>
      <td>20.3</td>
      <td>44.7</td>
      <td>44.7</td>
      <td>5.7</td>
      <td>81.9</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Horace Walker</td>
      <td>SF</td>
      <td>CHP</td>
      <td>24.0</td>
      <td>6.7</td>
      <td>7.2</td>
      <td>1.1</td>
      <td>65.0</td>
      <td>6.8</td>
      <td>33.9</td>
      <td>33.9</td>
      <td>3.0</td>
      <td>72.5</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Hot Rod Hundley</td>
      <td>PG</td>
      <td>LAL</td>
      <td>27.0</td>
      <td>5.5</td>
      <td>2.6</td>
      <td>3.7</td>
      <td>78.0</td>
      <td>6.5</td>
      <td>34.0</td>
      <td>34.0</td>
      <td>1.6</td>
      <td>65.4</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Howie Carl</td>
      <td>PG</td>
      <td>CHP</td>
      <td>23.0</td>
      <td>5.5</td>
      <td>1.3</td>
      <td>1.8</td>
      <td>31.0</td>
      <td>6.5</td>
      <td>33.3</td>
      <td>33.3</td>
      <td>1.6</td>
      <td>70.6</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Howie Jolliff</td>
      <td>PF</td>
      <td>LAL</td>
      <td>23.0</td>
      <td>3.9</td>
      <td>6.0</td>
      <td>1.2</td>
      <td>64.0</td>
      <td>4.0</td>
      <td>41.1</td>
      <td>41.1</td>
      <td>1.2</td>
      <td>52.6</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Hub Reed</td>
      <td>C</td>
      <td>CIN</td>
      <td>25.0</td>
      <td>5.8</td>
      <td>5.5</td>
      <td>0.7</td>
      <td>80.0</td>
      <td>5.8</td>
      <td>44.1</td>
      <td>44.1</td>
      <td>1.0</td>
      <td>73.2</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Jack Turner</td>
      <td>SG</td>
      <td>CHP</td>
      <td>22.0</td>
      <td>4.8</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>42.0</td>
      <td>5.3</td>
      <td>38.0</td>
      <td>38.0</td>
      <td>1.0</td>
      <td>76.2</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>Jack Twyman</td>
      <td>SF</td>
      <td>CIN</td>
      <td>27.0</td>
      <td>22.9</td>
      <td>8.0</td>
      <td>2.7</td>
      <td>80.0</td>
      <td>19.3</td>
      <td>47.9</td>
      <td>47.9</td>
      <td>5.4</td>
      <td>81.1</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>Jackie Moreland</td>
      <td>PF</td>
      <td>DET</td>
      <td>23.0</td>
      <td>7.4</td>
      <td>5.8</td>
      <td>1.0</td>
      <td>74.0</td>
      <td>6.6</td>
      <td>42.1</td>
      <td>42.1</td>
      <td>2.5</td>
      <td>74.7</td>
      <td>2.4</td>
    </tr>
    <tr>
      <td>Jerry West</td>
      <td>PG</td>
      <td>LAL</td>
      <td>23.0</td>
      <td>30.8</td>
      <td>7.9</td>
      <td>5.4</td>
      <td>75.0</td>
      <td>23.9</td>
      <td>44.5</td>
      <td>44.5</td>
      <td>12.3</td>
      <td>76.9</td>
      <td>2.3</td>
    </tr>
    <tr>
      <td>Jim Krebs</td>
      <td>C</td>
      <td>LAL</td>
      <td>26.0</td>
      <td>10.0</td>
      <td>7.9</td>
      <td>1.4</td>
      <td>78.0</td>
      <td>9.0</td>
      <td>44.5</td>
      <td>44.5</td>
      <td>2.7</td>
      <td>75.0</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Jim Loscutoff</td>
      <td>SF</td>
      <td>BOS</td>
      <td>31.0</td>
      <td>5.3</td>
      <td>4.2</td>
      <td>0.6</td>
      <td>79.0</td>
      <td>6.6</td>
      <td>36.2</td>
      <td>36.2</td>
      <td>1.1</td>
      <td>53.6</td>
      <td>2.3</td>
    </tr>
    <tr>
      <td>Jimmy Darrow</td>
      <td>0</td>
      <td>STL</td>
      <td>24.0</td>
      <td>2.4</td>
      <td>1.4</td>
      <td>1.2</td>
      <td>5.0</td>
      <td>3.0</td>
      <td>20.0</td>
      <td>20.0</td>
      <td>1.4</td>
      <td>85.7</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Joe Buckhalter</td>
      <td>PF</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>5.9</td>
      <td>4.2</td>
      <td>0.7</td>
      <td>63.0</td>
      <td>5.3</td>
      <td>45.8</td>
      <td>45.8</td>
      <td>1.7</td>
      <td>62.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Joe Graboski</td>
      <td>0</td>
      <td>STL-CHP-SYR</td>
      <td>32.0</td>
      <td>5.1</td>
      <td>4.1</td>
      <td>0.7</td>
      <td>38.0</td>
      <td>5.8</td>
      <td>34.8</td>
      <td>34.8</td>
      <td>1.7</td>
      <td>60.0</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>Joe Roberts</td>
      <td>PF</td>
      <td>SYR</td>
      <td>25.0</td>
      <td>7.7</td>
      <td>6.7</td>
      <td>0.6</td>
      <td>80.0</td>
      <td>7.7</td>
      <td>39.3</td>
      <td>39.3</td>
      <td>2.4</td>
      <td>66.5</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Joe Ruklick</td>
      <td>PF</td>
      <td>PHW</td>
      <td>23.0</td>
      <td>2.3</td>
      <td>1.9</td>
      <td>0.3</td>
      <td>46.0</td>
      <td>3.2</td>
      <td>32.7</td>
      <td>32.7</td>
      <td>0.6</td>
      <td>46.2</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>Johnny Egan</td>
      <td>PG</td>
      <td>DET</td>
      <td>23.0</td>
      <td>5.5</td>
      <td>1.5</td>
      <td>1.8</td>
      <td>58.0</td>
      <td>5.2</td>
      <td>42.5</td>
      <td>42.5</td>
      <td>1.4</td>
      <td>76.2</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>Johnny Green</td>
      <td>PF</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>15.9</td>
      <td>13.3</td>
      <td>2.4</td>
      <td>80.0</td>
      <td>14.6</td>
      <td>43.6</td>
      <td>43.6</td>
      <td>5.4</td>
      <td>60.1</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Johnny McCarthy</td>
      <td>PG</td>
      <td>STL</td>
      <td>27.0</td>
      <td>3.2</td>
      <td>3.7</td>
      <td>4.7</td>
      <td>15.0</td>
      <td>4.9</td>
      <td>24.7</td>
      <td>24.7</td>
      <td>1.8</td>
      <td>44.4</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>K.C. Jones</td>
      <td>PG</td>
      <td>BOS</td>
      <td>29.0</td>
      <td>9.2</td>
      <td>3.7</td>
      <td>4.3</td>
      <td>80.0</td>
      <td>9.1</td>
      <td>40.6</td>
      <td>40.6</td>
      <td>2.9</td>
      <td>63.4</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Larry Costello</td>
      <td>PG</td>
      <td>SYR</td>
      <td>30.0</td>
      <td>13.8</td>
      <td>3.9</td>
      <td>5.7</td>
      <td>63.0</td>
      <td>11.5</td>
      <td>42.7</td>
      <td>42.7</td>
      <td>4.7</td>
      <td>83.7</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Larry Foust</td>
      <td>C</td>
      <td>STL</td>
      <td>33.0</td>
      <td>9.7</td>
      <td>5.8</td>
      <td>1.4</td>
      <td>57.0</td>
      <td>7.6</td>
      <td>47.1</td>
      <td>47.1</td>
      <td>3.1</td>
      <td>81.5</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Lee Shaffer</td>
      <td>SF</td>
      <td>SYR</td>
      <td>22.0</td>
      <td>16.9</td>
      <td>6.8</td>
      <td>1.3</td>
      <td>75.0</td>
      <td>15.7</td>
      <td>43.6</td>
      <td>43.6</td>
      <td>4.1</td>
      <td>77.1</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Lenny Wilkens</td>
      <td>PG</td>
      <td>STL</td>
      <td>24.0</td>
      <td>18.2</td>
      <td>6.6</td>
      <td>5.8</td>
      <td>20.0</td>
      <td>18.2</td>
      <td>38.5</td>
      <td>38.5</td>
      <td>5.5</td>
      <td>76.4</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Oscar Robertson</td>
      <td>PG</td>
      <td>CIN</td>
      <td>23.0</td>
      <td>30.8</td>
      <td>12.5</td>
      <td>11.4</td>
      <td>79.0</td>
      <td>22.9</td>
      <td>47.8</td>
      <td>47.8</td>
      <td>11.0</td>
      <td>80.3</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Paul Arizin</td>
      <td>SF</td>
      <td>PHW</td>
      <td>33.0</td>
      <td>21.9</td>
      <td>6.8</td>
      <td>2.6</td>
      <td>78.0</td>
      <td>19.1</td>
      <td>41.0</td>
      <td>41.0</td>
      <td>7.7</td>
      <td>80.5</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Paul Neumann</td>
      <td>PG</td>
      <td>SYR</td>
      <td>24.0</td>
      <td>6.2</td>
      <td>2.5</td>
      <td>2.3</td>
      <td>77.0</td>
      <td>5.2</td>
      <td>42.9</td>
      <td>42.9</td>
      <td>2.2</td>
      <td>77.3</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Phil Jordon</td>
      <td>C</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>11.9</td>
      <td>6.3</td>
      <td>2.1</td>
      <td>76.0</td>
      <td>13.5</td>
      <td>39.2</td>
      <td>39.2</td>
      <td>2.2</td>
      <td>57.1</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Ralph Davis</td>
      <td>SG</td>
      <td>CHP</td>
      <td>23.0</td>
      <td>10.4</td>
      <td>2.1</td>
      <td>3.2</td>
      <td>77.0</td>
      <td>11.4</td>
      <td>41.3</td>
      <td>41.3</td>
      <td>1.3</td>
      <td>68.9</td>
      <td>2.4</td>
    </tr>
    <tr>
      <td>Ray Felix</td>
      <td>C</td>
      <td>LAL</td>
      <td>31.0</td>
      <td>5.4</td>
      <td>5.9</td>
      <td>0.7</td>
      <td>80.0</td>
      <td>5.0</td>
      <td>43.0</td>
      <td>43.0</td>
      <td>1.6</td>
      <td>69.2</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Ray Scott</td>
      <td>PF</td>
      <td>DET</td>
      <td>23.0</td>
      <td>13.3</td>
      <td>11.5</td>
      <td>1.8</td>
      <td>75.0</td>
      <td>12.7</td>
      <td>38.7</td>
      <td>38.7</td>
      <td>5.2</td>
      <td>65.7</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Red Kerr</td>
      <td>C</td>
      <td>SYR</td>
      <td>29.0</td>
      <td>16.3</td>
      <td>14.7</td>
      <td>3.0</td>
      <td>80.0</td>
      <td>15.3</td>
      <td>44.3</td>
      <td>44.3</td>
      <td>3.8</td>
      <td>73.5</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Rich Eichhorst</td>
      <td>0</td>
      <td>STL</td>
      <td>28.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>50.0</td>
      <td>50.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Richie Guerin</td>
      <td>SG</td>
      <td>NYK</td>
      <td>29.0</td>
      <td>29.5</td>
      <td>6.4</td>
      <td>6.9</td>
      <td>78.0</td>
      <td>24.3</td>
      <td>44.2</td>
      <td>44.2</td>
      <td>9.8</td>
      <td>82.0</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Ron Horn</td>
      <td>SF</td>
      <td>STL</td>
      <td>23.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>0.3</td>
      <td>3.0</td>
      <td>4.0</td>
      <td>8.3</td>
      <td>8.3</td>
      <td>0.7</td>
      <td>50.0</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Rudy LaRusso</td>
      <td>PF</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>17.2</td>
      <td>10.4</td>
      <td>2.2</td>
      <td>80.0</td>
      <td>13.9</td>
      <td>46.6</td>
      <td>46.6</td>
      <td>5.6</td>
      <td>76.3</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Sam Jones</td>
      <td>SG</td>
      <td>BOS</td>
      <td>28.0</td>
      <td>18.4</td>
      <td>5.9</td>
      <td>3.0</td>
      <td>78.0</td>
      <td>16.5</td>
      <td>46.4</td>
      <td>46.4</td>
      <td>3.8</td>
      <td>81.8</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Sam Stith</td>
      <td>SG</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>4.4</td>
      <td>1.6</td>
      <td>1.9</td>
      <td>32.0</td>
      <td>5.1</td>
      <td>36.4</td>
      <td>36.4</td>
      <td>1.2</td>
      <td>60.5</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Shellie McMillon</td>
      <td>SF</td>
      <td>DET-STL</td>
      <td>25.0</td>
      <td>10.3</td>
      <td>5.9</td>
      <td>1.0</td>
      <td>62.0</td>
      <td>9.5</td>
      <td>44.8</td>
      <td>44.8</td>
      <td>2.9</td>
      <td>59.3</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Si Green</td>
      <td>0</td>
      <td>STL-CHP</td>
      <td>28.0</td>
      <td>12.7</td>
      <td>5.6</td>
      <td>4.5</td>
      <td>71.0</td>
      <td>12.7</td>
      <td>37.7</td>
      <td>37.7</td>
      <td>4.4</td>
      <td>70.1</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Slick Leonard</td>
      <td>PG</td>
      <td>CHP</td>
      <td>29.0</td>
      <td>16.1</td>
      <td>2.8</td>
      <td>5.4</td>
      <td>70.0</td>
      <td>16.1</td>
      <td>37.5</td>
      <td>37.5</td>
      <td>5.3</td>
      <td>75.2</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Stacey Arceneaux</td>
      <td>0</td>
      <td>STL</td>
      <td>25.0</td>
      <td>7.1</td>
      <td>4.6</td>
      <td>0.6</td>
      <td>7.0</td>
      <td>8.0</td>
      <td>39.3</td>
      <td>39.3</td>
      <td>1.9</td>
      <td>46.2</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>Swede Halbrook</td>
      <td>C</td>
      <td>SYR</td>
      <td>29.0</td>
      <td>6.3</td>
      <td>6.2</td>
      <td>0.5</td>
      <td>64.0</td>
      <td>6.6</td>
      <td>36.0</td>
      <td>36.0</td>
      <td>2.4</td>
      <td>63.6</td>
      <td>2.8</td>
    </tr>
    <tr>
      <td>Ted Luckenbill</td>
      <td>PF</td>
      <td>PHW</td>
      <td>22.0</td>
      <td>2.0</td>
      <td>1.6</td>
      <td>0.4</td>
      <td>67.0</td>
      <td>1.8</td>
      <td>35.8</td>
      <td>35.8</td>
      <td>1.1</td>
      <td>64.5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Tom Gola</td>
      <td>SG</td>
      <td>PHW</td>
      <td>29.0</td>
      <td>13.7</td>
      <td>9.8</td>
      <td>4.9</td>
      <td>60.0</td>
      <td>12.8</td>
      <td>42.1</td>
      <td>42.1</td>
      <td>3.8</td>
      <td>76.5</td>
      <td>4.5</td>
    </tr>
    <tr>
      <td>Tom Hawkins</td>
      <td>SF</td>
      <td>LAL</td>
      <td>25.0</td>
      <td>9.1</td>
      <td>6.5</td>
      <td>1.2</td>
      <td>79.0</td>
      <td>8.9</td>
      <td>41.1</td>
      <td>41.1</td>
      <td>2.8</td>
      <td>64.4</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Tom Heinsohn</td>
      <td>PF</td>
      <td>BOS</td>
      <td>27.0</td>
      <td>22.1</td>
      <td>9.5</td>
      <td>2.1</td>
      <td>79.0</td>
      <td>20.4</td>
      <td>42.9</td>
      <td>42.9</td>
      <td>5.5</td>
      <td>81.9</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Tom Meschery</td>
      <td>PF</td>
      <td>PHW</td>
      <td>23.0</td>
      <td>12.1</td>
      <td>9.1</td>
      <td>1.8</td>
      <td>80.0</td>
      <td>11.6</td>
      <td>40.4</td>
      <td>40.4</td>
      <td>3.3</td>
      <td>82.4</td>
      <td>4.1</td>
    </tr>
    <tr>
      <td>Tom Sanders</td>
      <td>SF</td>
      <td>BOS</td>
      <td>23.0</td>
      <td>11.2</td>
      <td>9.5</td>
      <td>0.9</td>
      <td>80.0</td>
      <td>10.1</td>
      <td>43.5</td>
      <td>43.5</td>
      <td>3.3</td>
      <td>74.9</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Vern Hatton</td>
      <td>SG</td>
      <td>CHP-STL</td>
      <td>26.0</td>
      <td>8.1</td>
      <td>2.6</td>
      <td>2.5</td>
      <td>40.0</td>
      <td>8.3</td>
      <td>33.8</td>
      <td>33.8</td>
      <td>3.1</td>
      <td>78.4</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>Walt Bellamy</td>
      <td>C</td>
      <td>CHP</td>
      <td>22.0</td>
      <td>31.6</td>
      <td>19.0</td>
      <td>2.7</td>
      <td>79.0</td>
      <td>23.7</td>
      <td>51.9</td>
      <td>51.9</td>
      <td>10.8</td>
      <td>64.4</td>
      <td>3.6</td>
    </tr>
    <tr>
      <td>Walter Dukes</td>
      <td>C</td>
      <td>DET</td>
      <td>31.0</td>
      <td>9.4</td>
      <td>10.4</td>
      <td>1.6</td>
      <td>77.0</td>
      <td>8.4</td>
      <td>39.6</td>
      <td>39.6</td>
      <td>3.8</td>
      <td>71.5</td>
      <td>4.2</td>
    </tr>
    <tr>
      <td>Wayne Embry</td>
      <td>C</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>19.8</td>
      <td>13.0</td>
      <td>2.4</td>
      <td>75.0</td>
      <td>16.1</td>
      <td>46.6</td>
      <td>46.6</td>
      <td>6.9</td>
      <td>69.0</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Wayne Yates</td>
      <td>C</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>1.9</td>
      <td>2.5</td>
      <td>0.4</td>
      <td>37.0</td>
      <td>2.8</td>
      <td>29.5</td>
      <td>29.5</td>
      <td>0.6</td>
      <td>45.5</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Whitey Martin</td>
      <td>SG</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>3.4</td>
      <td>2.4</td>
      <td>1.7</td>
      <td>66.0</td>
      <td>4.4</td>
      <td>32.5</td>
      <td>32.5</td>
      <td>0.8</td>
      <td>67.3</td>
      <td>2.4</td>
    </tr>
    <tr>
      <td>Willie Jones</td>
      <td>PG</td>
      <td>DET</td>
      <td>25.0</td>
      <td>6.1</td>
      <td>2.6</td>
      <td>1.7</td>
      <td>69.0</td>
      <td>6.9</td>
      <td>37.3</td>
      <td>37.3</td>
      <td>1.5</td>
      <td>63.4</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Willie Naulls</td>
      <td>SF</td>
      <td>NYK</td>
      <td>27.0</td>
      <td>25.0</td>
      <td>11.6</td>
      <td>2.6</td>
      <td>75.0</td>
      <td>24.0</td>
      <td>41.5</td>
      <td>41.5</td>
      <td>6.1</td>
      <td>84.2</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Wilt Chamberlain</td>
      <td>C</td>
      <td>PHW</td>
      <td>25.0</td>
      <td>50.4</td>
      <td>25.7</td>
      <td>2.4</td>
      <td>80.0</td>
      <td>39.5</td>
      <td>50.6</td>
      <td>50.6</td>
      <td>17.0</td>
      <td>61.3</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Woody Sauldsberry</td>
      <td>PF</td>
      <td>STL-CHP</td>
      <td>27.0</td>
      <td>10.7</td>
      <td>8.5</td>
      <td>1.4</td>
      <td>63.0</td>
      <td>13.8</td>
      <td>34.3</td>
      <td>34.3</td>
      <td>2.0</td>
      <td>64.2</td>
      <td>2.8</td>
    </tr>
    <tr>
      <td>York Larese</td>
      <td>SG</td>
      <td>CHP-PHW</td>
      <td>23.0</td>
      <td>5.1</td>
      <td>1.3</td>
      <td>1.6</td>
      <td>59.0</td>
      <td>5.5</td>
      <td>37.3</td>
      <td>37.3</td>
      <td>1.2</td>
      <td>80.6</td>
      <td>1.8</td>
    </tr>
  </tbody>
</table>
{% endblock %}
