
{%extends 'TableBase.html'%}
{% block table %} 

<table border="1" class="dataframe table table-hover table-stripped table-bordered" style="width:100%" id="table">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Age</th>
      <th>PPG</th>
      <th>RPG</th>
      <th>APG</th>
      <th>GP</th>
      <th>FGA</th>
      <th>FG%</th>
      <th>2P%</th>
      <th>FTA</th>
      <th>FT%</th>
      <th>PF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adrian Smith</td>
      <td>SG</td>
      <td>CIN</td>
      <td>31.0</td>
      <td>15.6</td>
      <td>2.3</td>
      <td>3.3</td>
      <td>82.0</td>
      <td>12.6</td>
      <td>46.4</td>
      <td>46.4</td>
      <td>4.7</td>
      <td>82.9</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Al Attles</td>
      <td>PG</td>
      <td>SFW</td>
      <td>31.0</td>
      <td>9.8</td>
      <td>4.1</td>
      <td>5.8</td>
      <td>67.0</td>
      <td>8.1</td>
      <td>46.7</td>
      <td>46.7</td>
      <td>3.2</td>
      <td>69.4</td>
      <td>4.2</td>
    </tr>
    <tr>
      <td>Al Jackson</td>
      <td>0</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>2.0</td>
      <td>1.5</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Al Tucker</td>
      <td>PF</td>
      <td>SEA</td>
      <td>24.0</td>
      <td>13.1</td>
      <td>7.5</td>
      <td>1.4</td>
      <td>81.0</td>
      <td>12.2</td>
      <td>44.2</td>
      <td>44.2</td>
      <td>3.2</td>
      <td>70.7</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Archie Clark</td>
      <td>PG</td>
      <td>LAL</td>
      <td>26.0</td>
      <td>19.9</td>
      <td>4.2</td>
      <td>4.4</td>
      <td>81.0</td>
      <td>16.2</td>
      <td>48.0</td>
      <td>48.0</td>
      <td>5.9</td>
      <td>74.0</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Art Williams</td>
      <td>PG</td>
      <td>SDR</td>
      <td>28.0</td>
      <td>8.1</td>
      <td>3.6</td>
      <td>4.9</td>
      <td>79.0</td>
      <td>9.1</td>
      <td>36.9</td>
      <td>36.9</td>
      <td>2.1</td>
      <td>68.5</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Bailey Howell</td>
      <td>PF</td>
      <td>BOS</td>
      <td>31.0</td>
      <td>19.8</td>
      <td>9.8</td>
      <td>1.6</td>
      <td>82.0</td>
      <td>16.3</td>
      <td>48.1</td>
      <td>48.1</td>
      <td>5.6</td>
      <td>72.7</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Barry Clemens</td>
      <td>SF</td>
      <td>CHI</td>
      <td>24.0</td>
      <td>9.3</td>
      <td>4.8</td>
      <td>1.3</td>
      <td>78.0</td>
      <td>8.6</td>
      <td>44.9</td>
      <td>44.9</td>
      <td>2.2</td>
      <td>72.4</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Bill Bradley</td>
      <td>SF</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>8.0</td>
      <td>2.5</td>
      <td>3.0</td>
      <td>45.0</td>
      <td>7.6</td>
      <td>41.6</td>
      <td>41.6</td>
      <td>2.3</td>
      <td>73.1</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Bill Bridges</td>
      <td>PF</td>
      <td>STL</td>
      <td>28.0</td>
      <td>15.6</td>
      <td>13.4</td>
      <td>3.1</td>
      <td>82.0</td>
      <td>12.3</td>
      <td>46.2</td>
      <td>46.2</td>
      <td>5.9</td>
      <td>71.7</td>
      <td>4.5</td>
    </tr>
    <tr>
      <td>Bill Dinwiddie</td>
      <td>SF</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>5.1</td>
      <td>3.5</td>
      <td>0.5</td>
      <td>67.0</td>
      <td>5.3</td>
      <td>39.4</td>
      <td>39.4</td>
      <td>1.5</td>
      <td>60.8</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Bill Melchionni</td>
      <td>PG</td>
      <td>PHI</td>
      <td>23.0</td>
      <td>4.6</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>71.0</td>
      <td>4.7</td>
      <td>43.5</td>
      <td>43.5</td>
      <td>0.7</td>
      <td>70.2</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>Bill Russell</td>
      <td>C</td>
      <td>BOS</td>
      <td>33.0</td>
      <td>12.5</td>
      <td>18.6</td>
      <td>4.6</td>
      <td>78.0</td>
      <td>11.0</td>
      <td>42.5</td>
      <td>42.5</td>
      <td>5.9</td>
      <td>53.7</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Bill Turner</td>
      <td>SF</td>
      <td>SFW</td>
      <td>23.0</td>
      <td>4.1</td>
      <td>3.7</td>
      <td>0.4</td>
      <td>42.0</td>
      <td>3.7</td>
      <td>43.3</td>
      <td>43.3</td>
      <td>1.4</td>
      <td>60.0</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Billy Cunningham</td>
      <td>SF</td>
      <td>PHI</td>
      <td>24.0</td>
      <td>18.9</td>
      <td>7.6</td>
      <td>2.5</td>
      <td>74.0</td>
      <td>15.9</td>
      <td>43.8</td>
      <td>43.8</td>
      <td>6.9</td>
      <td>72.3</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Bob Boozer</td>
      <td>PF</td>
      <td>CHI</td>
      <td>30.0</td>
      <td>21.5</td>
      <td>9.8</td>
      <td>1.6</td>
      <td>77.0</td>
      <td>16.4</td>
      <td>49.2</td>
      <td>49.2</td>
      <td>6.9</td>
      <td>76.8</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Bob Ferry</td>
      <td>C</td>
      <td>BAL</td>
      <td>30.0</td>
      <td>5.6</td>
      <td>3.2</td>
      <td>1.0</td>
      <td>59.0</td>
      <td>5.3</td>
      <td>41.2</td>
      <td>41.2</td>
      <td>2.0</td>
      <td>62.4</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>Bob Love</td>
      <td>SF</td>
      <td>CIN</td>
      <td>25.0</td>
      <td>6.4</td>
      <td>2.9</td>
      <td>0.8</td>
      <td>72.0</td>
      <td>6.3</td>
      <td>42.4</td>
      <td>42.4</td>
      <td>1.6</td>
      <td>68.4</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Bob Rule</td>
      <td>C</td>
      <td>SEA</td>
      <td>23.0</td>
      <td>18.1</td>
      <td>9.5</td>
      <td>1.2</td>
      <td>82.0</td>
      <td>14.2</td>
      <td>48.9</td>
      <td>48.9</td>
      <td>6.5</td>
      <td>65.8</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Bob Warlick</td>
      <td>SG</td>
      <td>SFW</td>
      <td>26.0</td>
      <td>8.9</td>
      <td>3.8</td>
      <td>2.3</td>
      <td>69.0</td>
      <td>8.8</td>
      <td>42.1</td>
      <td>42.1</td>
      <td>2.5</td>
      <td>56.7</td>
      <td>2.4</td>
    </tr>
    <tr>
      <td>Bob Weiss</td>
      <td>PG</td>
      <td>SEA</td>
      <td>25.0</td>
      <td>9.8</td>
      <td>1.8</td>
      <td>4.2</td>
      <td>82.0</td>
      <td>8.4</td>
      <td>43.0</td>
      <td>43.0</td>
      <td>3.1</td>
      <td>83.9</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Bobby Lewis</td>
      <td>SG</td>
      <td>SFW</td>
      <td>22.0</td>
      <td>4.4</td>
      <td>1.4</td>
      <td>1.0</td>
      <td>41.0</td>
      <td>3.7</td>
      <td>39.1</td>
      <td>39.1</td>
      <td>1.9</td>
      <td>77.2</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Bud Acton</td>
      <td>SF</td>
      <td>SDR</td>
      <td>26.0</td>
      <td>3.3</td>
      <td>2.0</td>
      <td>0.5</td>
      <td>23.0</td>
      <td>3.2</td>
      <td>39.2</td>
      <td>39.2</td>
      <td>1.3</td>
      <td>65.5</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Bud Olsen</td>
      <td>PF</td>
      <td>SEA</td>
      <td>27.0</td>
      <td>3.8</td>
      <td>2.8</td>
      <td>1.0</td>
      <td>73.0</td>
      <td>3.9</td>
      <td>45.6</td>
      <td>45.6</td>
      <td>0.8</td>
      <td>27.4</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Cazzie Russell</td>
      <td>SF</td>
      <td>NYK</td>
      <td>23.0</td>
      <td>16.9</td>
      <td>4.6</td>
      <td>2.4</td>
      <td>82.0</td>
      <td>14.5</td>
      <td>46.2</td>
      <td>46.2</td>
      <td>4.3</td>
      <td>80.8</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Chet Walker</td>
      <td>SF</td>
      <td>PHI</td>
      <td>27.0</td>
      <td>17.9</td>
      <td>7.4</td>
      <td>1.9</td>
      <td>82.0</td>
      <td>14.3</td>
      <td>46.0</td>
      <td>46.0</td>
      <td>6.5</td>
      <td>72.6</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Clem Haskins</td>
      <td>PG</td>
      <td>CHI</td>
      <td>24.0</td>
      <td>8.9</td>
      <td>3.0</td>
      <td>2.2</td>
      <td>76.0</td>
      <td>8.6</td>
      <td>42.0</td>
      <td>42.0</td>
      <td>2.7</td>
      <td>65.8</td>
      <td>2.3</td>
    </tr>
    <tr>
      <td>Cliff Anderson</td>
      <td>SG</td>
      <td>LAL</td>
      <td>23.0</td>
      <td>1.4</td>
      <td>0.6</td>
      <td>0.9</td>
      <td>18.0</td>
      <td>1.6</td>
      <td>24.1</td>
      <td>24.1</td>
      <td>1.6</td>
      <td>42.9</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Clyde Lee</td>
      <td>C</td>
      <td>SFW</td>
      <td>23.0</td>
      <td>11.9</td>
      <td>13.9</td>
      <td>1.6</td>
      <td>82.0</td>
      <td>10.9</td>
      <td>41.7</td>
      <td>41.7</td>
      <td>4.1</td>
      <td>68.4</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>Connie Dierking</td>
      <td>C</td>
      <td>CIN</td>
      <td>31.0</td>
      <td>16.4</td>
      <td>9.5</td>
      <td>2.4</td>
      <td>81.0</td>
      <td>14.4</td>
      <td>46.7</td>
      <td>46.7</td>
      <td>3.8</td>
      <td>76.5</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Craig Spitzer</td>
      <td>C</td>
      <td>CHI</td>
      <td>22.0</td>
      <td>1.8</td>
      <td>2.4</td>
      <td>0.0</td>
      <td>10.0</td>
      <td>2.1</td>
      <td>38.1</td>
      <td>38.1</td>
      <td>0.3</td>
      <td>66.7</td>
      <td>0.4</td>
    </tr>
    <tr>
      <td>Darrall Imhoff</td>
      <td>C</td>
      <td>LAL</td>
      <td>29.0</td>
      <td>9.3</td>
      <td>10.9</td>
      <td>2.5</td>
      <td>82.0</td>
      <td>7.5</td>
      <td>47.8</td>
      <td>47.8</td>
      <td>3.5</td>
      <td>61.9</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Dave Bing</td>
      <td>PG</td>
      <td>DET</td>
      <td>24.0</td>
      <td>27.1</td>
      <td>4.7</td>
      <td>6.4</td>
      <td>79.0</td>
      <td>24.0</td>
      <td>44.1</td>
      <td>44.1</td>
      <td>8.5</td>
      <td>70.7</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Dave DeBusschere</td>
      <td>SF</td>
      <td>DET</td>
      <td>27.0</td>
      <td>17.9</td>
      <td>13.5</td>
      <td>2.3</td>
      <td>80.0</td>
      <td>16.2</td>
      <td>44.2</td>
      <td>44.2</td>
      <td>5.4</td>
      <td>66.4</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Dave Gambee</td>
      <td>PF</td>
      <td>SDR</td>
      <td>30.0</td>
      <td>13.4</td>
      <td>5.8</td>
      <td>1.2</td>
      <td>80.0</td>
      <td>10.7</td>
      <td>44.0</td>
      <td>44.0</td>
      <td>4.7</td>
      <td>84.7</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Dave Lattin</td>
      <td>PF</td>
      <td>SFW</td>
      <td>24.0</td>
      <td>2.2</td>
      <td>2.4</td>
      <td>0.3</td>
      <td>44.0</td>
      <td>2.3</td>
      <td>36.3</td>
      <td>36.3</td>
      <td>0.8</td>
      <td>69.7</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Dave Schellhase</td>
      <td>PG</td>
      <td>CHI</td>
      <td>23.0</td>
      <td>2.7</td>
      <td>1.1</td>
      <td>0.9</td>
      <td>42.0</td>
      <td>3.3</td>
      <td>34.1</td>
      <td>34.1</td>
      <td>0.9</td>
      <td>52.6</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Dennis Hamilton</td>
      <td>PF</td>
      <td>LAL</td>
      <td>23.0</td>
      <td>2.8</td>
      <td>1.6</td>
      <td>0.7</td>
      <td>44.0</td>
      <td>2.5</td>
      <td>50.0</td>
      <td>50.0</td>
      <td>0.3</td>
      <td>100.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Dick Barnett</td>
      <td>SG</td>
      <td>NYK</td>
      <td>31.0</td>
      <td>18.0</td>
      <td>2.9</td>
      <td>3.0</td>
      <td>81.0</td>
      <td>14.3</td>
      <td>48.2</td>
      <td>48.2</td>
      <td>5.4</td>
      <td>78.0</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Dick Snyder</td>
      <td>SG</td>
      <td>STL</td>
      <td>23.0</td>
      <td>8.6</td>
      <td>2.6</td>
      <td>2.2</td>
      <td>75.0</td>
      <td>8.2</td>
      <td>41.9</td>
      <td>41.9</td>
      <td>2.2</td>
      <td>77.2</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Dick Van Arsdale</td>
      <td>SG</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>11.0</td>
      <td>5.4</td>
      <td>2.9</td>
      <td>78.0</td>
      <td>9.3</td>
      <td>43.6</td>
      <td>43.6</td>
      <td>4.3</td>
      <td>67.0</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Don Kojis</td>
      <td>SF</td>
      <td>SDR</td>
      <td>29.0</td>
      <td>19.7</td>
      <td>10.3</td>
      <td>2.6</td>
      <td>69.0</td>
      <td>17.2</td>
      <td>44.6</td>
      <td>44.6</td>
      <td>6.0</td>
      <td>72.6</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Don Nelson</td>
      <td>SF</td>
      <td>BOS</td>
      <td>27.0</td>
      <td>10.0</td>
      <td>5.3</td>
      <td>1.3</td>
      <td>82.0</td>
      <td>7.7</td>
      <td>49.4</td>
      <td>49.4</td>
      <td>3.3</td>
      <td>72.8</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Don Ohl</td>
      <td>PG</td>
      <td>BAL-STL</td>
      <td>31.0</td>
      <td>14.0</td>
      <td>2.5</td>
      <td>2.2</td>
      <td>70.0</td>
      <td>12.7</td>
      <td>44.1</td>
      <td>44.1</td>
      <td>3.6</td>
      <td>77.6</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Dorie Murrey</td>
      <td>PF</td>
      <td>SEA</td>
      <td>24.0</td>
      <td>7.3</td>
      <td>7.4</td>
      <td>0.8</td>
      <td>81.0</td>
      <td>6.0</td>
      <td>43.6</td>
      <td>43.6</td>
      <td>3.0</td>
      <td>68.9</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Earl Monroe</td>
      <td>SG</td>
      <td>BAL</td>
      <td>23.0</td>
      <td>24.3</td>
      <td>5.7</td>
      <td>4.3</td>
      <td>82.0</td>
      <td>20.0</td>
      <td>45.3</td>
      <td>45.3</td>
      <td>7.9</td>
      <td>78.1</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Ed Manning</td>
      <td>PF</td>
      <td>BAL</td>
      <td>24.0</td>
      <td>4.0</td>
      <td>5.3</td>
      <td>0.5</td>
      <td>71.0</td>
      <td>3.6</td>
      <td>43.2</td>
      <td>43.2</td>
      <td>1.4</td>
      <td>60.6</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Eddie Miles</td>
      <td>SG</td>
      <td>DET</td>
      <td>27.0</td>
      <td>18.5</td>
      <td>3.5</td>
      <td>2.8</td>
      <td>76.0</td>
      <td>15.5</td>
      <td>47.5</td>
      <td>47.5</td>
      <td>4.9</td>
      <td>76.4</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Elgin Baylor</td>
      <td>SF</td>
      <td>LAL</td>
      <td>33.0</td>
      <td>26.0</td>
      <td>12.2</td>
      <td>4.6</td>
      <td>77.0</td>
      <td>22.2</td>
      <td>44.3</td>
      <td>44.3</td>
      <td>8.1</td>
      <td>78.6</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Em Bryant</td>
      <td>PG</td>
      <td>NYK</td>
      <td>29.0</td>
      <td>3.7</td>
      <td>1.7</td>
      <td>1.7</td>
      <td>77.0</td>
      <td>3.8</td>
      <td>38.5</td>
      <td>38.5</td>
      <td>1.1</td>
      <td>68.6</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Erwin Mueller</td>
      <td>PF</td>
      <td>CHI-LAL</td>
      <td>23.0</td>
      <td>7.5</td>
      <td>5.3</td>
      <td>2.1</td>
      <td>74.0</td>
      <td>6.6</td>
      <td>45.6</td>
      <td>45.6</td>
      <td>2.5</td>
      <td>57.8</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Flynn Robinson</td>
      <td>PG</td>
      <td>CIN-CHI</td>
      <td>26.0</td>
      <td>15.7</td>
      <td>3.6</td>
      <td>2.9</td>
      <td>75.0</td>
      <td>13.5</td>
      <td>44.0</td>
      <td>44.0</td>
      <td>4.7</td>
      <td>82.1</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Fred Hetzel</td>
      <td>SF</td>
      <td>SFW</td>
      <td>25.0</td>
      <td>19.0</td>
      <td>7.1</td>
      <td>1.7</td>
      <td>77.0</td>
      <td>16.7</td>
      <td>41.4</td>
      <td>41.4</td>
      <td>6.2</td>
      <td>83.3</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Freddie Crawford</td>
      <td>SG</td>
      <td>NYK-LAL</td>
      <td>26.0</td>
      <td>8.1</td>
      <td>2.8</td>
      <td>2.0</td>
      <td>69.0</td>
      <td>7.3</td>
      <td>44.2</td>
      <td>44.2</td>
      <td>2.6</td>
      <td>62.0</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Gail Goodrich</td>
      <td>SG</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>13.8</td>
      <td>2.5</td>
      <td>2.6</td>
      <td>79.0</td>
      <td>10.3</td>
      <td>48.6</td>
      <td>48.6</td>
      <td>5.0</td>
      <td>77.0</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Gary Gray</td>
      <td>SG</td>
      <td>CIN</td>
      <td>22.0</td>
      <td>2.4</td>
      <td>0.5</td>
      <td>0.6</td>
      <td>44.0</td>
      <td>3.0</td>
      <td>36.6</td>
      <td>36.6</td>
      <td>0.2</td>
      <td>70.0</td>
      <td>1.1</td>
    </tr>
    <tr>
      <td>Gene Tormohlen</td>
      <td>C</td>
      <td>STL</td>
      <td>30.0</td>
      <td>3.0</td>
      <td>2.9</td>
      <td>0.9</td>
      <td>77.0</td>
      <td>3.4</td>
      <td>37.4</td>
      <td>37.4</td>
      <td>0.7</td>
      <td>58.9</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>George Carter</td>
      <td>SF</td>
      <td>DET</td>
      <td>24.0</td>
      <td>3.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>50.0</td>
      <td>50.0</td>
      <td>1.0</td>
      <td>100.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>George Lee</td>
      <td>0</td>
      <td>SFW</td>
      <td>31.0</td>
      <td>3.3</td>
      <td>2.7</td>
      <td>0.4</td>
      <td>10.0</td>
      <td>3.5</td>
      <td>22.9</td>
      <td>22.9</td>
      <td>2.4</td>
      <td>70.8</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>George Lehmann</td>
      <td>PG</td>
      <td>STL</td>
      <td>25.0</td>
      <td>2.8</td>
      <td>0.8</td>
      <td>1.7</td>
      <td>55.0</td>
      <td>3.1</td>
      <td>34.3</td>
      <td>34.3</td>
      <td>0.8</td>
      <td>81.4</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>George Patterson</td>
      <td>C</td>
      <td>DET</td>
      <td>28.0</td>
      <td>2.0</td>
      <td>2.7</td>
      <td>0.9</td>
      <td>59.0</td>
      <td>2.3</td>
      <td>33.1</td>
      <td>33.1</td>
      <td>0.6</td>
      <td>84.2</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>George Wilson</td>
      <td>C</td>
      <td>SEA</td>
      <td>25.0</td>
      <td>6.1</td>
      <td>6.1</td>
      <td>0.7</td>
      <td>77.0</td>
      <td>6.5</td>
      <td>35.9</td>
      <td>35.9</td>
      <td>2.0</td>
      <td>70.3</td>
      <td>2.8</td>
    </tr>
    <tr>
      <td>Gus Johnson</td>
      <td>SF</td>
      <td>BAL</td>
      <td>29.0</td>
      <td>19.1</td>
      <td>13.0</td>
      <td>2.7</td>
      <td>60.0</td>
      <td>17.2</td>
      <td>46.7</td>
      <td>46.7</td>
      <td>4.5</td>
      <td>66.7</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Guy Rodgers</td>
      <td>PG</td>
      <td>CHI-CIN</td>
      <td>32.0</td>
      <td>5.1</td>
      <td>1.9</td>
      <td>4.8</td>
      <td>79.0</td>
      <td>5.4</td>
      <td>34.7</td>
      <td>34.7</td>
      <td>1.7</td>
      <td>80.5</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Hal Greer</td>
      <td>SG</td>
      <td>PHI</td>
      <td>31.0</td>
      <td>24.1</td>
      <td>5.4</td>
      <td>4.5</td>
      <td>82.0</td>
      <td>19.8</td>
      <td>47.8</td>
      <td>47.8</td>
      <td>6.7</td>
      <td>76.9</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Hank Finkel</td>
      <td>C</td>
      <td>SDR</td>
      <td>25.0</td>
      <td>11.6</td>
      <td>7.1</td>
      <td>1.4</td>
      <td>53.0</td>
      <td>9.3</td>
      <td>49.2</td>
      <td>49.2</td>
      <td>3.6</td>
      <td>68.6</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Happy Hairston</td>
      <td>PF</td>
      <td>CIN-DET</td>
      <td>25.0</td>
      <td>17.9</td>
      <td>8.3</td>
      <td>1.3</td>
      <td>74.0</td>
      <td>13.3</td>
      <td>48.7</td>
      <td>48.7</td>
      <td>7.1</td>
      <td>69.9</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Henry Akin</td>
      <td>C</td>
      <td>SEA</td>
      <td>23.0</td>
      <td>3.1</td>
      <td>1.6</td>
      <td>0.4</td>
      <td>36.0</td>
      <td>3.8</td>
      <td>33.6</td>
      <td>33.6</td>
      <td>0.9</td>
      <td>64.5</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Howard Komives</td>
      <td>PG</td>
      <td>NYK</td>
      <td>26.0</td>
      <td>7.7</td>
      <td>2.2</td>
      <td>3.2</td>
      <td>78.0</td>
      <td>8.1</td>
      <td>36.9</td>
      <td>36.9</td>
      <td>2.1</td>
      <td>82.0</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Jack Marin</td>
      <td>SF</td>
      <td>BAL</td>
      <td>23.0</td>
      <td>13.5</td>
      <td>5.8</td>
      <td>1.3</td>
      <td>82.0</td>
      <td>11.4</td>
      <td>46.0</td>
      <td>46.0</td>
      <td>3.8</td>
      <td>79.6</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Jay Miller</td>
      <td>SF</td>
      <td>STL</td>
      <td>24.0</td>
      <td>2.5</td>
      <td>0.9</td>
      <td>0.1</td>
      <td>8.0</td>
      <td>3.9</td>
      <td>25.8</td>
      <td>25.8</td>
      <td>0.9</td>
      <td>57.1</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>Jeff Mullins</td>
      <td>SG</td>
      <td>SFW</td>
      <td>25.0</td>
      <td>18.9</td>
      <td>5.7</td>
      <td>4.4</td>
      <td>79.0</td>
      <td>17.6</td>
      <td>43.9</td>
      <td>43.9</td>
      <td>4.4</td>
      <td>79.4</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Jerry Lucas</td>
      <td>PF</td>
      <td>CIN</td>
      <td>27.0</td>
      <td>21.5</td>
      <td>19.0</td>
      <td>3.1</td>
      <td>82.0</td>
      <td>16.6</td>
      <td>51.9</td>
      <td>51.9</td>
      <td>5.4</td>
      <td>77.8</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Jerry Sloan</td>
      <td>SG</td>
      <td>CHI</td>
      <td>25.0</td>
      <td>13.3</td>
      <td>7.7</td>
      <td>3.0</td>
      <td>77.0</td>
      <td>12.5</td>
      <td>38.5</td>
      <td>38.5</td>
      <td>5.0</td>
      <td>74.9</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Jerry West</td>
      <td>SG</td>
      <td>LAL</td>
      <td>29.0</td>
      <td>26.3</td>
      <td>5.8</td>
      <td>6.1</td>
      <td>51.0</td>
      <td>18.2</td>
      <td>51.4</td>
      <td>51.4</td>
      <td>9.5</td>
      <td>81.1</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Jim Barnes</td>
      <td>PF</td>
      <td>LAL-CHI</td>
      <td>26.0</td>
      <td>7.3</td>
      <td>5.3</td>
      <td>0.7</td>
      <td>79.0</td>
      <td>6.3</td>
      <td>44.3</td>
      <td>44.3</td>
      <td>2.4</td>
      <td>69.6</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Jim Barnett</td>
      <td>SG</td>
      <td>SDR</td>
      <td>23.0</td>
      <td>9.4</td>
      <td>3.3</td>
      <td>2.9</td>
      <td>47.0</td>
      <td>9.7</td>
      <td>39.3</td>
      <td>39.3</td>
      <td>2.5</td>
      <td>71.2</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Jim Burns</td>
      <td>SG</td>
      <td>CHI</td>
      <td>22.0</td>
      <td>1.3</td>
      <td>0.7</td>
      <td>0.3</td>
      <td>3.0</td>
      <td>2.3</td>
      <td>28.6</td>
      <td>28.6</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.3</td>
    </tr>
    <tr>
      <td>Jim Caldwell</td>
      <td>C</td>
      <td>NYK</td>
      <td>25.0</td>
      <td>0.0</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>2.0</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.5</td>
    </tr>
    <tr>
      <td>Jim Davis</td>
      <td>C</td>
      <td>STL</td>
      <td>26.0</td>
      <td>2.9</td>
      <td>2.5</td>
      <td>0.3</td>
      <td>50.0</td>
      <td>2.8</td>
      <td>43.9</td>
      <td>43.9</td>
      <td>1.3</td>
      <td>39.1</td>
      <td>1.7</td>
    </tr>
    <tr>
      <td>Jim Fox</td>
      <td>C</td>
      <td>CIN-DET</td>
      <td>24.0</td>
      <td>3.6</td>
      <td>4.2</td>
      <td>0.5</td>
      <td>55.0</td>
      <td>2.9</td>
      <td>41.0</td>
      <td>41.0</td>
      <td>2.0</td>
      <td>61.1</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Jim King</td>
      <td>PG</td>
      <td>SFW</td>
      <td>26.0</td>
      <td>16.6</td>
      <td>4.5</td>
      <td>4.2</td>
      <td>54.0</td>
      <td>14.8</td>
      <td>42.5</td>
      <td>42.5</td>
      <td>5.0</td>
      <td>81.0</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Jim Reid</td>
      <td>0</td>
      <td>PHI</td>
      <td>22.0</td>
      <td>3.5</td>
      <td>1.8</td>
      <td>0.5</td>
      <td>6.0</td>
      <td>3.3</td>
      <td>50.0</td>
      <td>50.0</td>
      <td>0.8</td>
      <td>20.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Jim Ware</td>
      <td>PF</td>
      <td>SDR</td>
      <td>23.0</td>
      <td>2.4</td>
      <td>2.6</td>
      <td>0.2</td>
      <td>30.0</td>
      <td>3.2</td>
      <td>25.8</td>
      <td>25.8</td>
      <td>1.1</td>
      <td>67.6</td>
      <td>0.9</td>
    </tr>
    <tr>
      <td>Jim Washington</td>
      <td>C</td>
      <td>CHI</td>
      <td>24.0</td>
      <td>12.5</td>
      <td>10.1</td>
      <td>1.4</td>
      <td>82.0</td>
      <td>11.2</td>
      <td>45.7</td>
      <td>45.7</td>
      <td>3.3</td>
      <td>68.2</td>
      <td>2.8</td>
    </tr>
    <tr>
      <td>Jimmy Walker</td>
      <td>SG</td>
      <td>DET</td>
      <td>23.0</td>
      <td>8.8</td>
      <td>1.7</td>
      <td>2.8</td>
      <td>81.0</td>
      <td>9.0</td>
      <td>39.4</td>
      <td>39.4</td>
      <td>2.2</td>
      <td>76.6</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Joe Caldwell</td>
      <td>SF</td>
      <td>STL</td>
      <td>26.0</td>
      <td>16.4</td>
      <td>4.3</td>
      <td>3.0</td>
      <td>79.0</td>
      <td>15.4</td>
      <td>46.3</td>
      <td>46.3</td>
      <td>3.7</td>
      <td>56.9</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Joe Ellis</td>
      <td>SF</td>
      <td>SFW</td>
      <td>23.0</td>
      <td>5.0</td>
      <td>3.8</td>
      <td>0.7</td>
      <td>51.0</td>
      <td>5.9</td>
      <td>36.8</td>
      <td>36.8</td>
      <td>1.0</td>
      <td>64.0</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>Joe Strawder</td>
      <td>C</td>
      <td>DET</td>
      <td>27.0</td>
      <td>7.5</td>
      <td>9.4</td>
      <td>1.2</td>
      <td>73.0</td>
      <td>6.2</td>
      <td>45.2</td>
      <td>45.2</td>
      <td>2.9</td>
      <td>64.7</td>
      <td>4.3</td>
    </tr>
    <tr>
      <td>John Barnhill</td>
      <td>PG</td>
      <td>SDR</td>
      <td>29.0</td>
      <td>9.9</td>
      <td>2.3</td>
      <td>3.5</td>
      <td>75.0</td>
      <td>9.3</td>
      <td>42.1</td>
      <td>42.1</td>
      <td>3.1</td>
      <td>65.8</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>John Block</td>
      <td>C</td>
      <td>SDR</td>
      <td>23.0</td>
      <td>20.2</td>
      <td>11.0</td>
      <td>1.4</td>
      <td>52.0</td>
      <td>16.6</td>
      <td>42.3</td>
      <td>42.3</td>
      <td>7.6</td>
      <td>80.2</td>
      <td>3.6</td>
    </tr>
    <tr>
      <td>John Havlicek</td>
      <td>SG</td>
      <td>BOS</td>
      <td>27.0</td>
      <td>20.7</td>
      <td>6.7</td>
      <td>4.7</td>
      <td>82.0</td>
      <td>18.9</td>
      <td>42.9</td>
      <td>42.9</td>
      <td>5.5</td>
      <td>81.2</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>John Tresvant</td>
      <td>PF</td>
      <td>DET-CIN</td>
      <td>28.0</td>
      <td>12.3</td>
      <td>8.3</td>
      <td>1.9</td>
      <td>85.0</td>
      <td>10.2</td>
      <td>45.7</td>
      <td>45.7</td>
      <td>4.5</td>
      <td>65.1</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>John Wetzel</td>
      <td>SF</td>
      <td>LAL</td>
      <td>23.0</td>
      <td>3.7</td>
      <td>2.2</td>
      <td>1.3</td>
      <td>38.0</td>
      <td>3.1</td>
      <td>43.7</td>
      <td>43.7</td>
      <td>1.2</td>
      <td>76.1</td>
      <td>1.4</td>
    </tr>
    <tr>
      <td>Johnny Egan</td>
      <td>PG</td>
      <td>BAL</td>
      <td>29.0</td>
      <td>7.0</td>
      <td>1.7</td>
      <td>2.0</td>
      <td>67.0</td>
      <td>6.2</td>
      <td>39.3</td>
      <td>39.3</td>
      <td>2.7</td>
      <td>77.6</td>
      <td>1.9</td>
    </tr>
    <tr>
      <td>Johnny Green</td>
      <td>PF</td>
      <td>SDR-PHI</td>
      <td>34.0</td>
      <td>9.9</td>
      <td>7.1</td>
      <td>1.0</td>
      <td>77.0</td>
      <td>8.8</td>
      <td>45.9</td>
      <td>45.9</td>
      <td>3.8</td>
      <td>47.1</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>Johnny Jones</td>
      <td>SF</td>
      <td>BOS</td>
      <td>24.0</td>
      <td>4.2</td>
      <td>2.2</td>
      <td>0.5</td>
      <td>51.0</td>
      <td>5.0</td>
      <td>34.0</td>
      <td>34.0</td>
      <td>1.3</td>
      <td>61.8</td>
      <td>1.2</td>
    </tr>
    <tr>
      <td>Jon McGlocklin</td>
      <td>SG</td>
      <td>SDR</td>
      <td>24.0</td>
      <td>12.1</td>
      <td>3.1</td>
      <td>2.7</td>
      <td>65.0</td>
      <td>11.6</td>
      <td>41.7</td>
      <td>41.7</td>
      <td>2.8</td>
      <td>86.7</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Keith Erickson</td>
      <td>SF</td>
      <td>CHI</td>
      <td>23.0</td>
      <td>12.2</td>
      <td>5.4</td>
      <td>3.4</td>
      <td>78.0</td>
      <td>12.1</td>
      <td>40.1</td>
      <td>40.1</td>
      <td>3.3</td>
      <td>75.5</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Ken Wilburn</td>
      <td>SF</td>
      <td>CHI</td>
      <td>23.0</td>
      <td>3.7</td>
      <td>3.3</td>
      <td>0.7</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>55.6</td>
      <td>55.6</td>
      <td>1.3</td>
      <td>25.0</td>
      <td>1.3</td>
    </tr>
    <tr>
      <td>Kevin Loughery</td>
      <td>PG</td>
      <td>BAL</td>
      <td>27.0</td>
      <td>15.9</td>
      <td>3.2</td>
      <td>3.3</td>
      <td>77.0</td>
      <td>14.6</td>
      <td>40.6</td>
      <td>40.6</td>
      <td>5.1</td>
      <td>77.8</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Larry Costello</td>
      <td>PG</td>
      <td>PHI</td>
      <td>36.0</td>
      <td>7.2</td>
      <td>1.8</td>
      <td>2.4</td>
      <td>28.0</td>
      <td>5.3</td>
      <td>45.3</td>
      <td>45.3</td>
      <td>2.9</td>
      <td>82.7</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Larry Siegfried</td>
      <td>PG</td>
      <td>BOS</td>
      <td>28.0</td>
      <td>12.2</td>
      <td>3.5</td>
      <td>4.7</td>
      <td>62.0</td>
      <td>10.1</td>
      <td>41.5</td>
      <td>41.5</td>
      <td>4.4</td>
      <td>86.8</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Len Chappell</td>
      <td>C</td>
      <td>CIN-DET</td>
      <td>27.0</td>
      <td>9.1</td>
      <td>5.4</td>
      <td>0.8</td>
      <td>67.0</td>
      <td>6.8</td>
      <td>51.3</td>
      <td>51.3</td>
      <td>2.9</td>
      <td>71.1</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Lenny Wilkens</td>
      <td>PG</td>
      <td>STL</td>
      <td>30.0</td>
      <td>20.0</td>
      <td>5.3</td>
      <td>8.3</td>
      <td>82.0</td>
      <td>15.2</td>
      <td>43.8</td>
      <td>43.8</td>
      <td>8.7</td>
      <td>76.8</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Leroy Ellis</td>
      <td>C</td>
      <td>BAL</td>
      <td>27.0</td>
      <td>12.4</td>
      <td>11.1</td>
      <td>2.0</td>
      <td>78.0</td>
      <td>10.3</td>
      <td>47.5</td>
      <td>47.5</td>
      <td>3.7</td>
      <td>72.4</td>
      <td>3.3</td>
    </tr>
    <tr>
      <td>Lou Hudson</td>
      <td>SG</td>
      <td>STL</td>
      <td>23.0</td>
      <td>12.5</td>
      <td>4.2</td>
      <td>1.4</td>
      <td>46.0</td>
      <td>10.9</td>
      <td>45.4</td>
      <td>45.4</td>
      <td>3.6</td>
      <td>73.2</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Luke Jackson</td>
      <td>PF</td>
      <td>PHI</td>
      <td>26.0</td>
      <td>11.8</td>
      <td>10.6</td>
      <td>1.7</td>
      <td>82.0</td>
      <td>11.3</td>
      <td>43.3</td>
      <td>43.3</td>
      <td>2.8</td>
      <td>71.9</td>
      <td>3.5</td>
    </tr>
    <tr>
      <td>Mal Graham</td>
      <td>PG</td>
      <td>BOS</td>
      <td>22.0</td>
      <td>6.0</td>
      <td>2.0</td>
      <td>1.3</td>
      <td>48.0</td>
      <td>5.7</td>
      <td>43.0</td>
      <td>43.0</td>
      <td>1.8</td>
      <td>63.6</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Matt Guokas</td>
      <td>SG</td>
      <td>PHI</td>
      <td>23.0</td>
      <td>6.1</td>
      <td>2.3</td>
      <td>2.3</td>
      <td>82.0</td>
      <td>4.8</td>
      <td>48.3</td>
      <td>48.3</td>
      <td>1.9</td>
      <td>77.6</td>
      <td>2.1</td>
    </tr>
    <tr>
      <td>McCoy McLemore</td>
      <td>SF</td>
      <td>CHI</td>
      <td>25.0</td>
      <td>12.7</td>
      <td>5.7</td>
      <td>1.7</td>
      <td>76.0</td>
      <td>12.4</td>
      <td>39.8</td>
      <td>39.8</td>
      <td>3.6</td>
      <td>77.9</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Mel Counts</td>
      <td>PF</td>
      <td>LAL</td>
      <td>26.0</td>
      <td>11.7</td>
      <td>8.9</td>
      <td>1.7</td>
      <td>82.0</td>
      <td>9.9</td>
      <td>47.5</td>
      <td>47.5</td>
      <td>3.1</td>
      <td>74.8</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Nate Bowman</td>
      <td>C</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>2.7</td>
      <td>2.7</td>
      <td>0.5</td>
      <td>42.0</td>
      <td>3.2</td>
      <td>38.8</td>
      <td>38.8</td>
      <td>0.4</td>
      <td>66.7</td>
      <td>1.6</td>
    </tr>
    <tr>
      <td>Nate Thurmond</td>
      <td>C</td>
      <td>SFW</td>
      <td>26.0</td>
      <td>20.5</td>
      <td>22.0</td>
      <td>4.2</td>
      <td>51.0</td>
      <td>18.2</td>
      <td>41.1</td>
      <td>41.1</td>
      <td>8.6</td>
      <td>64.4</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Neil Johnson</td>
      <td>PF</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>2.6</td>
      <td>1.7</td>
      <td>0.8</td>
      <td>43.0</td>
      <td>2.5</td>
      <td>41.5</td>
      <td>41.5</td>
      <td>1.1</td>
      <td>47.9</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Nick Jones</td>
      <td>PG</td>
      <td>SDR</td>
      <td>22.0</td>
      <td>5.4</td>
      <td>1.6</td>
      <td>2.1</td>
      <td>42.0</td>
      <td>5.5</td>
      <td>37.1</td>
      <td>37.1</td>
      <td>1.6</td>
      <td>79.7</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Oscar Robertson</td>
      <td>PG</td>
      <td>CIN</td>
      <td>29.0</td>
      <td>29.2</td>
      <td>6.0</td>
      <td>9.7</td>
      <td>65.0</td>
      <td>20.3</td>
      <td>50.0</td>
      <td>50.0</td>
      <td>10.2</td>
      <td>87.3</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Pat Riley</td>
      <td>SG</td>
      <td>SDR</td>
      <td>22.0</td>
      <td>7.9</td>
      <td>2.2</td>
      <td>1.7</td>
      <td>80.0</td>
      <td>8.3</td>
      <td>37.9</td>
      <td>37.9</td>
      <td>2.5</td>
      <td>63.4</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Paul Long</td>
      <td>SG</td>
      <td>DET</td>
      <td>23.0</td>
      <td>3.6</td>
      <td>0.9</td>
      <td>0.8</td>
      <td>16.0</td>
      <td>3.2</td>
      <td>45.1</td>
      <td>45.1</td>
      <td>0.9</td>
      <td>73.3</td>
      <td>0.8</td>
    </tr>
    <tr>
      <td>Paul Silas</td>
      <td>PF</td>
      <td>STL</td>
      <td>24.0</td>
      <td>13.4</td>
      <td>11.7</td>
      <td>2.0</td>
      <td>82.0</td>
      <td>10.6</td>
      <td>45.8</td>
      <td>45.8</td>
      <td>5.2</td>
      <td>70.5</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Phil Jackson</td>
      <td>PF</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>6.2</td>
      <td>4.5</td>
      <td>0.7</td>
      <td>75.0</td>
      <td>6.1</td>
      <td>40.0</td>
      <td>40.0</td>
      <td>2.2</td>
      <td>58.9</td>
      <td>2.8</td>
    </tr>
    <tr>
      <td>Plummer Lott</td>
      <td>SF</td>
      <td>SEA</td>
      <td>22.0</td>
      <td>2.5</td>
      <td>2.1</td>
      <td>0.8</td>
      <td>44.0</td>
      <td>3.4</td>
      <td>31.1</td>
      <td>31.1</td>
      <td>0.7</td>
      <td>61.3</td>
      <td>1.5</td>
    </tr>
    <tr>
      <td>Ray Scott</td>
      <td>PF</td>
      <td>BAL</td>
      <td>29.0</td>
      <td>16.4</td>
      <td>13.7</td>
      <td>2.1</td>
      <td>81.0</td>
      <td>14.7</td>
      <td>41.2</td>
      <td>41.2</td>
      <td>5.5</td>
      <td>77.9</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Reggie Harding</td>
      <td>C</td>
      <td>CHI</td>
      <td>25.0</td>
      <td>4.6</td>
      <td>6.7</td>
      <td>1.3</td>
      <td>14.0</td>
      <td>5.1</td>
      <td>33.8</td>
      <td>33.8</td>
      <td>2.4</td>
      <td>51.5</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Rick Weitzman</td>
      <td>SG</td>
      <td>BOS</td>
      <td>21.0</td>
      <td>1.3</td>
      <td>0.4</td>
      <td>0.3</td>
      <td>25.0</td>
      <td>1.8</td>
      <td>26.1</td>
      <td>26.1</td>
      <td>0.5</td>
      <td>69.2</td>
      <td>0.3</td>
    </tr>
    <tr>
      <td>Rod Thorn</td>
      <td>SG</td>
      <td>SEA</td>
      <td>26.0</td>
      <td>15.2</td>
      <td>4.0</td>
      <td>3.5</td>
      <td>66.0</td>
      <td>12.7</td>
      <td>45.1</td>
      <td>45.1</td>
      <td>5.2</td>
      <td>73.7</td>
      <td>1.8</td>
    </tr>
    <tr>
      <td>Roland West</td>
      <td>0</td>
      <td>BAL</td>
      <td>23.0</td>
      <td>1.0</td>
      <td>1.3</td>
      <td>0.0</td>
      <td>4.0</td>
      <td>1.3</td>
      <td>40.0</td>
      <td>40.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.8</td>
    </tr>
    <tr>
      <td>Ron Filipek</td>
      <td>0</td>
      <td>PHI</td>
      <td>23.0</td>
      <td>2.3</td>
      <td>1.3</td>
      <td>0.4</td>
      <td>19.0</td>
      <td>2.5</td>
      <td>38.3</td>
      <td>38.3</td>
      <td>0.7</td>
      <td>50.0</td>
      <td>0.6</td>
    </tr>
    <tr>
      <td>Rudy LaRusso</td>
      <td>PF</td>
      <td>SFW</td>
      <td>30.0</td>
      <td>21.8</td>
      <td>9.4</td>
      <td>2.3</td>
      <td>79.0</td>
      <td>17.6</td>
      <td>43.3</td>
      <td>43.3</td>
      <td>8.4</td>
      <td>79.0</td>
      <td>4.3</td>
    </tr>
    <tr>
      <td>Sam Jones</td>
      <td>SG</td>
      <td>BOS</td>
      <td>34.0</td>
      <td>21.3</td>
      <td>4.9</td>
      <td>3.0</td>
      <td>73.0</td>
      <td>18.5</td>
      <td>46.1</td>
      <td>46.1</td>
      <td>5.2</td>
      <td>82.7</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Sonny Dove</td>
      <td>PF</td>
      <td>DET</td>
      <td>22.0</td>
      <td>2.0</td>
      <td>1.9</td>
      <td>0.4</td>
      <td>28.0</td>
      <td>2.7</td>
      <td>29.3</td>
      <td>29.3</td>
      <td>0.9</td>
      <td>46.2</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Stan McKenzie</td>
      <td>SG</td>
      <td>BAL</td>
      <td>23.0</td>
      <td>4.1</td>
      <td>2.4</td>
      <td>0.5</td>
      <td>50.0</td>
      <td>3.6</td>
      <td>40.1</td>
      <td>40.1</td>
      <td>1.8</td>
      <td>65.9</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Terry Dischinger</td>
      <td>SF</td>
      <td>DET</td>
      <td>27.0</td>
      <td>13.1</td>
      <td>6.2</td>
      <td>1.5</td>
      <td>78.0</td>
      <td>10.2</td>
      <td>49.4</td>
      <td>49.4</td>
      <td>4.0</td>
      <td>76.2</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Toby Kimball</td>
      <td>PF</td>
      <td>SDR</td>
      <td>25.0</td>
      <td>11.0</td>
      <td>11.7</td>
      <td>1.8</td>
      <td>81.0</td>
      <td>11.0</td>
      <td>39.6</td>
      <td>39.6</td>
      <td>3.8</td>
      <td>59.2</td>
      <td>3.4</td>
    </tr>
    <tr>
      <td>Tom Hawkins</td>
      <td>PF</td>
      <td>LAL</td>
      <td>31.0</td>
      <td>11.6</td>
      <td>5.9</td>
      <td>1.5</td>
      <td>78.0</td>
      <td>10.0</td>
      <td>49.9</td>
      <td>49.9</td>
      <td>2.9</td>
      <td>54.6</td>
      <td>3.7</td>
    </tr>
    <tr>
      <td>Tom Meschery</td>
      <td>SF</td>
      <td>SEA</td>
      <td>29.0</td>
      <td>14.5</td>
      <td>10.2</td>
      <td>2.4</td>
      <td>82.0</td>
      <td>12.3</td>
      <td>46.9</td>
      <td>46.9</td>
      <td>4.2</td>
      <td>70.7</td>
      <td>3.9</td>
    </tr>
    <tr>
      <td>Tom Sanders</td>
      <td>SF</td>
      <td>BOS</td>
      <td>29.0</td>
      <td>10.2</td>
      <td>5.8</td>
      <td>1.3</td>
      <td>78.0</td>
      <td>8.9</td>
      <td>42.8</td>
      <td>42.8</td>
      <td>3.3</td>
      <td>78.4</td>
      <td>3.8</td>
    </tr>
    <tr>
      <td>Tom Thacker</td>
      <td>SG</td>
      <td>BOS</td>
      <td>28.0</td>
      <td>4.2</td>
      <td>2.5</td>
      <td>1.1</td>
      <td>65.0</td>
      <td>4.2</td>
      <td>41.9</td>
      <td>41.9</td>
      <td>1.3</td>
      <td>51.2</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Tom Van Arsdale</td>
      <td>SG</td>
      <td>DET-CIN</td>
      <td>24.0</td>
      <td>7.9</td>
      <td>2.9</td>
      <td>2.0</td>
      <td>77.0</td>
      <td>7.1</td>
      <td>38.7</td>
      <td>38.7</td>
      <td>3.3</td>
      <td>74.6</td>
      <td>2.6</td>
    </tr>
    <tr>
      <td>Tom Workman</td>
      <td>0</td>
      <td>STL-BAL</td>
      <td>23.0</td>
      <td>2.8</td>
      <td>1.3</td>
      <td>0.2</td>
      <td>20.0</td>
      <td>2.0</td>
      <td>47.5</td>
      <td>47.5</td>
      <td>1.2</td>
      <td>78.3</td>
      <td>0.9</td>
    </tr>
    <tr>
      <td>Tommy Kron</td>
      <td>SG</td>
      <td>SEA</td>
      <td>24.0</td>
      <td>9.7</td>
      <td>4.7</td>
      <td>3.7</td>
      <td>76.0</td>
      <td>9.2</td>
      <td>39.6</td>
      <td>39.6</td>
      <td>3.1</td>
      <td>79.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Tyrone Britt</td>
      <td>SG</td>
      <td>SDR</td>
      <td>23.0</td>
      <td>2.5</td>
      <td>1.4</td>
      <td>1.1</td>
      <td>11.0</td>
      <td>3.1</td>
      <td>38.2</td>
      <td>38.2</td>
      <td>0.3</td>
      <td>66.7</td>
      <td>0.9</td>
    </tr>
    <tr>
      <td>Wali Jones</td>
      <td>PG</td>
      <td>PHI</td>
      <td>25.0</td>
      <td>12.8</td>
      <td>2.8</td>
      <td>3.2</td>
      <td>77.0</td>
      <td>13.5</td>
      <td>39.7</td>
      <td>39.7</td>
      <td>2.6</td>
      <td>78.7</td>
      <td>2.9</td>
    </tr>
    <tr>
      <td>Walt Bellamy</td>
      <td>C</td>
      <td>NYK</td>
      <td>28.0</td>
      <td>16.7</td>
      <td>11.7</td>
      <td>2.0</td>
      <td>82.0</td>
      <td>11.5</td>
      <td>54.1</td>
      <td>54.1</td>
      <td>6.5</td>
      <td>66.2</td>
      <td>3.2</td>
    </tr>
    <tr>
      <td>Walt Frazier</td>
      <td>PG</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>9.0</td>
      <td>4.2</td>
      <td>4.1</td>
      <td>74.0</td>
      <td>7.7</td>
      <td>45.1</td>
      <td>45.1</td>
      <td>3.2</td>
      <td>65.5</td>
      <td>2.7</td>
    </tr>
    <tr>
      <td>Walt Hazzard</td>
      <td>PG</td>
      <td>SEA</td>
      <td>25.0</td>
      <td>24.0</td>
      <td>4.2</td>
      <td>6.2</td>
      <td>79.0</td>
      <td>21.0</td>
      <td>44.1</td>
      <td>44.1</td>
      <td>7.0</td>
      <td>77.4</td>
      <td>3.1</td>
    </tr>
    <tr>
      <td>Walt Wesley</td>
      <td>C</td>
      <td>CIN</td>
      <td>23.0</td>
      <td>6.8</td>
      <td>4.3</td>
      <td>0.5</td>
      <td>66.0</td>
      <td>6.1</td>
      <td>46.5</td>
      <td>46.5</td>
      <td>2.3</td>
      <td>50.0</td>
      <td>2.5</td>
    </tr>
    <tr>
      <td>Wayne Embry</td>
      <td>C</td>
      <td>BOS</td>
      <td>30.0</td>
      <td>6.3</td>
      <td>4.1</td>
      <td>0.7</td>
      <td>78.0</td>
      <td>6.2</td>
      <td>40.0</td>
      <td>40.0</td>
      <td>2.4</td>
      <td>58.9</td>
      <td>2.2</td>
    </tr>
    <tr>
      <td>Willis Reed</td>
      <td>PF</td>
      <td>NYK</td>
      <td>25.0</td>
      <td>20.8</td>
      <td>13.2</td>
      <td>2.0</td>
      <td>81.0</td>
      <td>16.6</td>
      <td>49.0</td>
      <td>49.0</td>
      <td>6.3</td>
      <td>72.1</td>
      <td>4.2</td>
    </tr>
    <tr>
      <td>Wilt Chamberlain</td>
      <td>C</td>
      <td>PHI</td>
      <td>31.0</td>
      <td>24.3</td>
      <td>23.8</td>
      <td>8.6</td>
      <td>82.0</td>
      <td>16.8</td>
      <td>59.5</td>
      <td>59.5</td>
      <td>11.4</td>
      <td>38.0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>Zelmo Beaty</td>
      <td>C</td>
      <td>STL</td>
      <td>28.0</td>
      <td>21.1</td>
      <td>11.7</td>
      <td>2.1</td>
      <td>82.0</td>
      <td>16.0</td>
      <td>48.8</td>
      <td>48.8</td>
      <td>7.0</td>
      <td>79.4</td>
      <td>3.6</td>
    </tr>
  </tbody>
</table>
{% endblock %}
