
{%extends 'TableBase.html'%}
{% block table %} 

<table border="1" class="dataframe table table-hover table-stripped table-bordered" style="width:100%" id="table">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Pos</th>
      <th>Team</th>
      <th>Age</th>
      <th>TPTS</th>
      <th>TAST</th>
      <th>TTRB</th>
      <th>T2P</th>
      <th>T2PA</th>
      <th>TFG</th>
      <th>TFGA</th>
      <th>TFT</th>
      <th>TFTA</th>
      <th>TPF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Adrian Smith</td>
      <td>SG</td>
      <td>CIN</td>
      <td>26.0</td>
      <td>705.0</td>
      <td>141.0</td>
      <td>174.0</td>
      <td>241.0</td>
      <td>544.0</td>
      <td>241.0</td>
      <td>544.0</td>
      <td>223.0</td>
      <td>275.0</td>
      <td>157.0</td>
    </tr>
    <tr>
      <td>Al Attles</td>
      <td>PG</td>
      <td>SFW</td>
      <td>26.0</td>
      <td>735.0</td>
      <td>184.0</td>
      <td>205.0</td>
      <td>301.0</td>
      <td>630.0</td>
      <td>301.0</td>
      <td>630.0</td>
      <td>133.0</td>
      <td>206.0</td>
      <td>253.0</td>
    </tr>
    <tr>
      <td>Al Bianchi</td>
      <td>SG</td>
      <td>SYR</td>
      <td>30.0</td>
      <td>524.0</td>
      <td>170.0</td>
      <td>134.0</td>
      <td>202.0</td>
      <td>476.0</td>
      <td>202.0</td>
      <td>476.0</td>
      <td>120.0</td>
      <td>164.0</td>
      <td>165.0</td>
    </tr>
    <tr>
      <td>Al Butler</td>
      <td>PG</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>738.0</td>
      <td>156.0</td>
      <td>170.0</td>
      <td>297.0</td>
      <td>676.0</td>
      <td>297.0</td>
      <td>676.0</td>
      <td>144.0</td>
      <td>187.0</td>
      <td>145.0</td>
    </tr>
    <tr>
      <td>Al Ferrari</td>
      <td>0</td>
      <td>CHZ</td>
      <td>29.0</td>
      <td>38.0</td>
      <td>14.0</td>
      <td>12.0</td>
      <td>12.0</td>
      <td>37.0</td>
      <td>12.0</td>
      <td>37.0</td>
      <td>14.0</td>
      <td>17.0</td>
      <td>21.0</td>
    </tr>
    <tr>
      <td>Bailey Howell</td>
      <td>SF</td>
      <td>DET</td>
      <td>26.0</td>
      <td>1793.0</td>
      <td>232.0</td>
      <td>910.0</td>
      <td>637.0</td>
      <td>1235.0</td>
      <td>637.0</td>
      <td>1235.0</td>
      <td>519.0</td>
      <td>650.0</td>
      <td>300.0</td>
    </tr>
    <tr>
      <td>Barney Cable</td>
      <td>SF</td>
      <td>STL-CHZ</td>
      <td>27.0</td>
      <td>408.0</td>
      <td>83.0</td>
      <td>238.0</td>
      <td>173.0</td>
      <td>380.0</td>
      <td>173.0</td>
      <td>380.0</td>
      <td>62.0</td>
      <td>96.0</td>
      <td>135.0</td>
    </tr>
    <tr>
      <td>Ben Warley</td>
      <td>PF</td>
      <td>SYR</td>
      <td>26.0</td>
      <td>125.0</td>
      <td>4.0</td>
      <td>86.0</td>
      <td>50.0</td>
      <td>111.0</td>
      <td>50.0</td>
      <td>111.0</td>
      <td>25.0</td>
      <td>35.0</td>
      <td>42.0</td>
    </tr>
    <tr>
      <td>Bevo Nordmann</td>
      <td>C</td>
      <td>STL-NYK</td>
      <td>23.0</td>
      <td>371.0</td>
      <td>47.0</td>
      <td>316.0</td>
      <td>156.0</td>
      <td>319.0</td>
      <td>156.0</td>
      <td>319.0</td>
      <td>59.0</td>
      <td>122.0</td>
      <td>156.0</td>
    </tr>
    <tr>
      <td>Bill Bridges</td>
      <td>PF</td>
      <td>STL</td>
      <td>23.0</td>
      <td>164.0</td>
      <td>23.0</td>
      <td>144.0</td>
      <td>66.0</td>
      <td>160.0</td>
      <td>66.0</td>
      <td>160.0</td>
      <td>32.0</td>
      <td>51.0</td>
      <td>58.0</td>
    </tr>
    <tr>
      <td>Bill Russell</td>
      <td>C</td>
      <td>BOS</td>
      <td>28.0</td>
      <td>1309.0</td>
      <td>348.0</td>
      <td>1843.0</td>
      <td>511.0</td>
      <td>1182.0</td>
      <td>511.0</td>
      <td>1182.0</td>
      <td>287.0</td>
      <td>517.0</td>
      <td>189.0</td>
    </tr>
    <tr>
      <td>Billy McGill</td>
      <td>C</td>
      <td>CHZ</td>
      <td>23.0</td>
      <td>442.0</td>
      <td>38.0</td>
      <td>161.0</td>
      <td>181.0</td>
      <td>353.0</td>
      <td>181.0</td>
      <td>353.0</td>
      <td>80.0</td>
      <td>119.0</td>
      <td>118.0</td>
    </tr>
    <tr>
      <td>Bob Boozer</td>
      <td>PF</td>
      <td>CIN</td>
      <td>25.0</td>
      <td>1132.0</td>
      <td>102.0</td>
      <td>878.0</td>
      <td>440.0</td>
      <td>992.0</td>
      <td>440.0</td>
      <td>992.0</td>
      <td>252.0</td>
      <td>353.0</td>
      <td>299.0</td>
    </tr>
    <tr>
      <td>Bob Cousy</td>
      <td>PG</td>
      <td>BOS</td>
      <td>34.0</td>
      <td>1003.0</td>
      <td>515.0</td>
      <td>193.0</td>
      <td>392.0</td>
      <td>988.0</td>
      <td>392.0</td>
      <td>988.0</td>
      <td>219.0</td>
      <td>298.0</td>
      <td>175.0</td>
    </tr>
    <tr>
      <td>Bob Duffy</td>
      <td>PG</td>
      <td>STL</td>
      <td>22.0</td>
      <td>154.0</td>
      <td>83.0</td>
      <td>39.0</td>
      <td>66.0</td>
      <td>174.0</td>
      <td>66.0</td>
      <td>174.0</td>
      <td>22.0</td>
      <td>39.0</td>
      <td>42.0</td>
    </tr>
    <tr>
      <td>Bob Ferry</td>
      <td>C</td>
      <td>DET</td>
      <td>25.0</td>
      <td>1072.0</td>
      <td>170.0</td>
      <td>537.0</td>
      <td>426.0</td>
      <td>984.0</td>
      <td>426.0</td>
      <td>984.0</td>
      <td>220.0</td>
      <td>339.0</td>
      <td>246.0</td>
    </tr>
    <tr>
      <td>Bob Pettit</td>
      <td>PF</td>
      <td>STL</td>
      <td>30.0</td>
      <td>2241.0</td>
      <td>245.0</td>
      <td>1191.0</td>
      <td>778.0</td>
      <td>1746.0</td>
      <td>778.0</td>
      <td>1746.0</td>
      <td>685.0</td>
      <td>885.0</td>
      <td>282.0</td>
    </tr>
    <tr>
      <td>Bucky Bockhorn</td>
      <td>SG</td>
      <td>CIN</td>
      <td>29.0</td>
      <td>933.0</td>
      <td>261.0</td>
      <td>322.0</td>
      <td>375.0</td>
      <td>954.0</td>
      <td>375.0</td>
      <td>954.0</td>
      <td>183.0</td>
      <td>242.0</td>
      <td>260.0</td>
    </tr>
    <tr>
      <td>Bud Olsen</td>
      <td>PF</td>
      <td>CIN</td>
      <td>22.0</td>
      <td>113.0</td>
      <td>42.0</td>
      <td>105.0</td>
      <td>43.0</td>
      <td>133.0</td>
      <td>43.0</td>
      <td>133.0</td>
      <td>27.0</td>
      <td>39.0</td>
      <td>78.0</td>
    </tr>
    <tr>
      <td>Charlie Hardnett</td>
      <td>PF</td>
      <td>CHZ</td>
      <td>24.0</td>
      <td>827.0</td>
      <td>74.0</td>
      <td>602.0</td>
      <td>301.0</td>
      <td>683.0</td>
      <td>301.0</td>
      <td>683.0</td>
      <td>225.0</td>
      <td>349.0</td>
      <td>225.0</td>
    </tr>
    <tr>
      <td>Chet Walker</td>
      <td>SF</td>
      <td>SYR</td>
      <td>22.0</td>
      <td>957.0</td>
      <td>83.0</td>
      <td>561.0</td>
      <td>352.0</td>
      <td>751.0</td>
      <td>352.0</td>
      <td>751.0</td>
      <td>253.0</td>
      <td>362.0</td>
      <td>220.0</td>
    </tr>
    <tr>
      <td>Chico Vaughn</td>
      <td>SG</td>
      <td>STL</td>
      <td>22.0</td>
      <td>778.0</td>
      <td>252.0</td>
      <td>258.0</td>
      <td>295.0</td>
      <td>708.0</td>
      <td>295.0</td>
      <td>708.0</td>
      <td>188.0</td>
      <td>261.0</td>
      <td>201.0</td>
    </tr>
    <tr>
      <td>Cleveland Buckner</td>
      <td>PF</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>12.0</td>
      <td>5.0</td>
      <td>4.0</td>
      <td>5.0</td>
      <td>10.0</td>
      <td>5.0</td>
      <td>10.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <td>Cliff Hagan</td>
      <td>SF</td>
      <td>STL</td>
      <td>31.0</td>
      <td>1226.0</td>
      <td>193.0</td>
      <td>341.0</td>
      <td>491.0</td>
      <td>1055.0</td>
      <td>491.0</td>
      <td>1055.0</td>
      <td>244.0</td>
      <td>305.0</td>
      <td>211.0</td>
    </tr>
    <tr>
      <td>Clyde Lovellette</td>
      <td>C</td>
      <td>BOS</td>
      <td>33.0</td>
      <td>395.0</td>
      <td>27.0</td>
      <td>177.0</td>
      <td>161.0</td>
      <td>376.0</td>
      <td>161.0</td>
      <td>376.0</td>
      <td>73.0</td>
      <td>98.0</td>
      <td>137.0</td>
    </tr>
    <tr>
      <td>Dan Swartz</td>
      <td>SF</td>
      <td>BOS</td>
      <td>28.0</td>
      <td>175.0</td>
      <td>21.0</td>
      <td>88.0</td>
      <td>57.0</td>
      <td>150.0</td>
      <td>57.0</td>
      <td>150.0</td>
      <td>61.0</td>
      <td>72.0</td>
      <td>92.0</td>
    </tr>
    <tr>
      <td>Dan Tieman</td>
      <td>PG</td>
      <td>CIN</td>
      <td>22.0</td>
      <td>34.0</td>
      <td>27.0</td>
      <td>22.0</td>
      <td>15.0</td>
      <td>57.0</td>
      <td>15.0</td>
      <td>57.0</td>
      <td>4.0</td>
      <td>10.0</td>
      <td>18.0</td>
    </tr>
    <tr>
      <td>Danny Doyle</td>
      <td>PF</td>
      <td>DET</td>
      <td>22.0</td>
      <td>16.0</td>
      <td>3.0</td>
      <td>8.0</td>
      <td>6.0</td>
      <td>12.0</td>
      <td>6.0</td>
      <td>12.0</td>
      <td>4.0</td>
      <td>5.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>Darrall Imhoff</td>
      <td>C</td>
      <td>DET</td>
      <td>24.0</td>
      <td>120.0</td>
      <td>28.0</td>
      <td>155.0</td>
      <td>48.0</td>
      <td>153.0</td>
      <td>48.0</td>
      <td>153.0</td>
      <td>24.0</td>
      <td>50.0</td>
      <td>66.0</td>
    </tr>
    <tr>
      <td>Dave Budd</td>
      <td>SF</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>739.0</td>
      <td>87.0</td>
      <td>395.0</td>
      <td>294.0</td>
      <td>596.0</td>
      <td>294.0</td>
      <td>596.0</td>
      <td>151.0</td>
      <td>202.0</td>
      <td>204.0</td>
    </tr>
    <tr>
      <td>Dave DeBusschere</td>
      <td>SF</td>
      <td>DET</td>
      <td>22.0</td>
      <td>1018.0</td>
      <td>207.0</td>
      <td>694.0</td>
      <td>406.0</td>
      <td>944.0</td>
      <td>406.0</td>
      <td>944.0</td>
      <td>206.0</td>
      <td>287.0</td>
      <td>247.0</td>
    </tr>
    <tr>
      <td>Dave Fedor</td>
      <td>0</td>
      <td>SFW</td>
      <td>22.0</td>
      <td>6.0</td>
      <td>1.0</td>
      <td>6.0</td>
      <td>3.0</td>
      <td>10.0</td>
      <td>3.0</td>
      <td>10.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <td>Dave Gambee</td>
      <td>SF</td>
      <td>SYR</td>
      <td>25.0</td>
      <td>669.0</td>
      <td>48.0</td>
      <td>289.0</td>
      <td>235.0</td>
      <td>537.0</td>
      <td>235.0</td>
      <td>537.0</td>
      <td>199.0</td>
      <td>238.0</td>
      <td>190.0</td>
    </tr>
    <tr>
      <td>Dave Gunther</td>
      <td>0</td>
      <td>SFW</td>
      <td>25.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Dave Piontek</td>
      <td>SF</td>
      <td>CIN</td>
      <td>28.0</td>
      <td>130.0</td>
      <td>26.0</td>
      <td>96.0</td>
      <td>60.0</td>
      <td>158.0</td>
      <td>60.0</td>
      <td>158.0</td>
      <td>10.0</td>
      <td>16.0</td>
      <td>67.0</td>
    </tr>
    <tr>
      <td>Dick Barnett</td>
      <td>SG</td>
      <td>LAL</td>
      <td>26.0</td>
      <td>1437.0</td>
      <td>224.0</td>
      <td>242.0</td>
      <td>547.0</td>
      <td>1162.0</td>
      <td>547.0</td>
      <td>1162.0</td>
      <td>343.0</td>
      <td>421.0</td>
      <td>189.0</td>
    </tr>
    <tr>
      <td>Dolph Schayes</td>
      <td>PF</td>
      <td>SYR</td>
      <td>34.0</td>
      <td>627.0</td>
      <td>175.0</td>
      <td>375.0</td>
      <td>223.0</td>
      <td>575.0</td>
      <td>223.0</td>
      <td>575.0</td>
      <td>181.0</td>
      <td>206.0</td>
      <td>177.0</td>
    </tr>
    <tr>
      <td>Don Nelson</td>
      <td>SF</td>
      <td>CHZ</td>
      <td>22.0</td>
      <td>419.0</td>
      <td>72.0</td>
      <td>279.0</td>
      <td>129.0</td>
      <td>293.0</td>
      <td>129.0</td>
      <td>293.0</td>
      <td>161.0</td>
      <td>221.0</td>
      <td>136.0</td>
    </tr>
    <tr>
      <td>Don Ohl</td>
      <td>SG</td>
      <td>DET</td>
      <td>26.0</td>
      <td>1547.0</td>
      <td>325.0</td>
      <td>239.0</td>
      <td>636.0</td>
      <td>1450.0</td>
      <td>636.0</td>
      <td>1450.0</td>
      <td>275.0</td>
      <td>380.0</td>
      <td>234.0</td>
    </tr>
    <tr>
      <td>Donnie Butcher</td>
      <td>SG</td>
      <td>NYK</td>
      <td>26.0</td>
      <td>475.0</td>
      <td>138.0</td>
      <td>180.0</td>
      <td>172.0</td>
      <td>424.0</td>
      <td>172.0</td>
      <td>424.0</td>
      <td>131.0</td>
      <td>194.0</td>
      <td>164.0</td>
    </tr>
    <tr>
      <td>Elgin Baylor</td>
      <td>SF</td>
      <td>LAL</td>
      <td>28.0</td>
      <td>2719.0</td>
      <td>386.0</td>
      <td>1146.0</td>
      <td>1029.0</td>
      <td>2273.0</td>
      <td>1029.0</td>
      <td>2273.0</td>
      <td>661.0</td>
      <td>790.0</td>
      <td>226.0</td>
    </tr>
    <tr>
      <td>Frank Ramsey</td>
      <td>SG</td>
      <td>BOS</td>
      <td>31.0</td>
      <td>839.0</td>
      <td>95.0</td>
      <td>288.0</td>
      <td>284.0</td>
      <td>743.0</td>
      <td>284.0</td>
      <td>743.0</td>
      <td>271.0</td>
      <td>332.0</td>
      <td>259.0</td>
    </tr>
    <tr>
      <td>Frank Selvy</td>
      <td>SG</td>
      <td>LAL</td>
      <td>30.0</td>
      <td>826.0</td>
      <td>281.0</td>
      <td>289.0</td>
      <td>317.0</td>
      <td>747.0</td>
      <td>317.0</td>
      <td>747.0</td>
      <td>192.0</td>
      <td>269.0</td>
      <td>149.0</td>
    </tr>
    <tr>
      <td>Fred LaCour</td>
      <td>0</td>
      <td>SFW</td>
      <td>24.0</td>
      <td>65.0</td>
      <td>19.0</td>
      <td>24.0</td>
      <td>28.0</td>
      <td>73.0</td>
      <td>28.0</td>
      <td>73.0</td>
      <td>9.0</td>
      <td>16.0</td>
      <td>27.0</td>
    </tr>
    <tr>
      <td>Gary Phillips</td>
      <td>SG</td>
      <td>SFW</td>
      <td>23.0</td>
      <td>609.0</td>
      <td>137.0</td>
      <td>225.0</td>
      <td>256.0</td>
      <td>643.0</td>
      <td>256.0</td>
      <td>643.0</td>
      <td>97.0</td>
      <td>152.0</td>
      <td>185.0</td>
    </tr>
    <tr>
      <td>Gene Conley</td>
      <td>PF</td>
      <td>NYK</td>
      <td>32.0</td>
      <td>630.0</td>
      <td>70.0</td>
      <td>469.0</td>
      <td>254.0</td>
      <td>651.0</td>
      <td>254.0</td>
      <td>651.0</td>
      <td>122.0</td>
      <td>186.0</td>
      <td>263.0</td>
    </tr>
    <tr>
      <td>Gene Guarilia</td>
      <td>SF</td>
      <td>BOS</td>
      <td>25.0</td>
      <td>26.0</td>
      <td>2.0</td>
      <td>14.0</td>
      <td>11.0</td>
      <td>38.0</td>
      <td>11.0</td>
      <td>38.0</td>
      <td>4.0</td>
      <td>11.0</td>
      <td>5.0</td>
    </tr>
    <tr>
      <td>Gene Shue</td>
      <td>PG</td>
      <td>NYK</td>
      <td>31.0</td>
      <td>916.0</td>
      <td>259.0</td>
      <td>191.0</td>
      <td>354.0</td>
      <td>894.0</td>
      <td>354.0</td>
      <td>894.0</td>
      <td>208.0</td>
      <td>302.0</td>
      <td>171.0</td>
    </tr>
    <tr>
      <td>Gene Tormohlen</td>
      <td>C</td>
      <td>STL</td>
      <td>25.0</td>
      <td>12.0</td>
      <td>5.0</td>
      <td>15.0</td>
      <td>5.0</td>
      <td>10.0</td>
      <td>5.0</td>
      <td>10.0</td>
      <td>2.0</td>
      <td>10.0</td>
      <td>11.0</td>
    </tr>
    <tr>
      <td>Gene Wiley</td>
      <td>C</td>
      <td>LAL</td>
      <td>25.0</td>
      <td>241.0</td>
      <td>40.0</td>
      <td>504.0</td>
      <td>109.0</td>
      <td>236.0</td>
      <td>109.0</td>
      <td>236.0</td>
      <td>23.0</td>
      <td>68.0</td>
      <td>180.0</td>
    </tr>
    <tr>
      <td>George Lee</td>
      <td>SG</td>
      <td>SFW</td>
      <td>26.0</td>
      <td>450.0</td>
      <td>64.0</td>
      <td>217.0</td>
      <td>149.0</td>
      <td>394.0</td>
      <td>149.0</td>
      <td>394.0</td>
      <td>152.0</td>
      <td>193.0</td>
      <td>113.0</td>
    </tr>
    <tr>
      <td>Guy Rodgers</td>
      <td>PG</td>
      <td>SFW</td>
      <td>27.0</td>
      <td>1098.0</td>
      <td>825.0</td>
      <td>394.0</td>
      <td>445.0</td>
      <td>1150.0</td>
      <td>445.0</td>
      <td>1150.0</td>
      <td>208.0</td>
      <td>286.0</td>
      <td>296.0</td>
    </tr>
    <tr>
      <td>Hal Greer</td>
      <td>SG</td>
      <td>SYR</td>
      <td>26.0</td>
      <td>1562.0</td>
      <td>275.0</td>
      <td>457.0</td>
      <td>600.0</td>
      <td>1293.0</td>
      <td>600.0</td>
      <td>1293.0</td>
      <td>362.0</td>
      <td>434.0</td>
      <td>286.0</td>
    </tr>
    <tr>
      <td>Hot Rod Hundley</td>
      <td>PG</td>
      <td>LAL</td>
      <td>28.0</td>
      <td>260.0</td>
      <td>151.0</td>
      <td>106.0</td>
      <td>88.0</td>
      <td>262.0</td>
      <td>88.0</td>
      <td>262.0</td>
      <td>84.0</td>
      <td>119.0</td>
      <td>81.0</td>
    </tr>
    <tr>
      <td>Howie Jolliff</td>
      <td>PF</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>36.0</td>
      <td>20.0</td>
      <td>62.0</td>
      <td>15.0</td>
      <td>55.0</td>
      <td>15.0</td>
      <td>55.0</td>
      <td>6.0</td>
      <td>9.0</td>
      <td>49.0</td>
    </tr>
    <tr>
      <td>Howie Montgomery</td>
      <td>SF</td>
      <td>SFW</td>
      <td>22.0</td>
      <td>144.0</td>
      <td>21.0</td>
      <td>69.0</td>
      <td>65.0</td>
      <td>153.0</td>
      <td>65.0</td>
      <td>153.0</td>
      <td>14.0</td>
      <td>23.0</td>
      <td>35.0</td>
    </tr>
    <tr>
      <td>Hub Reed</td>
      <td>C</td>
      <td>CIN</td>
      <td>26.0</td>
      <td>472.0</td>
      <td>83.0</td>
      <td>398.0</td>
      <td>199.0</td>
      <td>427.0</td>
      <td>199.0</td>
      <td>427.0</td>
      <td>74.0</td>
      <td>98.0</td>
      <td>261.0</td>
    </tr>
    <tr>
      <td>Hubie White</td>
      <td>SG</td>
      <td>SFW</td>
      <td>23.0</td>
      <td>92.0</td>
      <td>28.0</td>
      <td>35.0</td>
      <td>40.0</td>
      <td>111.0</td>
      <td>40.0</td>
      <td>111.0</td>
      <td>12.0</td>
      <td>18.0</td>
      <td>47.0</td>
    </tr>
    <tr>
      <td>Jack Foley</td>
      <td>0</td>
      <td>BOS-NYK</td>
      <td>23.0</td>
      <td>53.0</td>
      <td>5.0</td>
      <td>16.0</td>
      <td>20.0</td>
      <td>51.0</td>
      <td>20.0</td>
      <td>51.0</td>
      <td>13.0</td>
      <td>15.0</td>
      <td>8.0</td>
    </tr>
    <tr>
      <td>Jack Twyman</td>
      <td>SF</td>
      <td>CIN</td>
      <td>28.0</td>
      <td>1586.0</td>
      <td>214.0</td>
      <td>598.0</td>
      <td>641.0</td>
      <td>1335.0</td>
      <td>641.0</td>
      <td>1335.0</td>
      <td>304.0</td>
      <td>375.0</td>
      <td>286.0</td>
    </tr>
    <tr>
      <td>Jackie Moreland</td>
      <td>PF</td>
      <td>DET</td>
      <td>24.0</td>
      <td>687.0</td>
      <td>114.0</td>
      <td>449.0</td>
      <td>271.0</td>
      <td>622.0</td>
      <td>271.0</td>
      <td>622.0</td>
      <td>145.0</td>
      <td>214.0</td>
      <td>226.0</td>
    </tr>
    <tr>
      <td>Jeff Slade</td>
      <td>0</td>
      <td>CHZ</td>
      <td>21.0</td>
      <td>4.0</td>
      <td>0.0</td>
      <td>7.0</td>
      <td>2.0</td>
      <td>5.0</td>
      <td>2.0</td>
      <td>5.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Jerry West</td>
      <td>PG</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>1489.0</td>
      <td>307.0</td>
      <td>384.0</td>
      <td>559.0</td>
      <td>1213.0</td>
      <td>559.0</td>
      <td>1213.0</td>
      <td>371.0</td>
      <td>477.0</td>
      <td>150.0</td>
    </tr>
    <tr>
      <td>Jim Krebs</td>
      <td>C</td>
      <td>LAL</td>
      <td>27.0</td>
      <td>659.0</td>
      <td>87.0</td>
      <td>502.0</td>
      <td>272.0</td>
      <td>627.0</td>
      <td>272.0</td>
      <td>627.0</td>
      <td>115.0</td>
      <td>154.0</td>
      <td>256.0</td>
    </tr>
    <tr>
      <td>Jim Loscutoff</td>
      <td>SF</td>
      <td>BOS</td>
      <td>32.0</td>
      <td>210.0</td>
      <td>25.0</td>
      <td>157.0</td>
      <td>94.0</td>
      <td>251.0</td>
      <td>94.0</td>
      <td>251.0</td>
      <td>22.0</td>
      <td>42.0</td>
      <td>126.0</td>
    </tr>
    <tr>
      <td>Joe Buckhalter</td>
      <td>PF</td>
      <td>CIN</td>
      <td>25.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>3.0</td>
      <td>0.0</td>
      <td>5.0</td>
      <td>0.0</td>
      <td>5.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>Joe Roberts</td>
      <td>PF</td>
      <td>SYR</td>
      <td>26.0</td>
      <td>181.0</td>
      <td>16.0</td>
      <td>155.0</td>
      <td>73.0</td>
      <td>196.0</td>
      <td>73.0</td>
      <td>196.0</td>
      <td>35.0</td>
      <td>51.0</td>
      <td>66.0</td>
    </tr>
    <tr>
      <td>John Barnhill</td>
      <td>SG</td>
      <td>STL</td>
      <td>24.0</td>
      <td>901.0</td>
      <td>322.0</td>
      <td>359.0</td>
      <td>360.0</td>
      <td>838.0</td>
      <td>360.0</td>
      <td>838.0</td>
      <td>181.0</td>
      <td>255.0</td>
      <td>168.0</td>
    </tr>
    <tr>
      <td>John Havlicek</td>
      <td>SF</td>
      <td>BOS</td>
      <td>22.0</td>
      <td>1140.0</td>
      <td>179.0</td>
      <td>534.0</td>
      <td>483.0</td>
      <td>1085.0</td>
      <td>483.0</td>
      <td>1085.0</td>
      <td>174.0</td>
      <td>239.0</td>
      <td>189.0</td>
    </tr>
    <tr>
      <td>John Rudometkin</td>
      <td>SF</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>289.0</td>
      <td>30.0</td>
      <td>149.0</td>
      <td>108.0</td>
      <td>307.0</td>
      <td>108.0</td>
      <td>307.0</td>
      <td>73.0</td>
      <td>95.0</td>
      <td>58.0</td>
    </tr>
    <tr>
      <td>Johnny Cox</td>
      <td>SG</td>
      <td>CHZ</td>
      <td>26.0</td>
      <td>573.0</td>
      <td>142.0</td>
      <td>280.0</td>
      <td>239.0</td>
      <td>568.0</td>
      <td>239.0</td>
      <td>568.0</td>
      <td>95.0</td>
      <td>135.0</td>
      <td>149.0</td>
    </tr>
    <tr>
      <td>Johnny Egan</td>
      <td>PG</td>
      <td>DET</td>
      <td>24.0</td>
      <td>273.0</td>
      <td>114.0</td>
      <td>59.0</td>
      <td>110.0</td>
      <td>296.0</td>
      <td>110.0</td>
      <td>296.0</td>
      <td>53.0</td>
      <td>69.0</td>
      <td>70.0</td>
    </tr>
    <tr>
      <td>Johnny Green</td>
      <td>PF</td>
      <td>NYK</td>
      <td>29.0</td>
      <td>1444.0</td>
      <td>152.0</td>
      <td>964.0</td>
      <td>582.0</td>
      <td>1261.0</td>
      <td>582.0</td>
      <td>1261.0</td>
      <td>280.0</td>
      <td>439.0</td>
      <td>243.0</td>
    </tr>
    <tr>
      <td>K.C. Jones</td>
      <td>PG</td>
      <td>BOS</td>
      <td>30.0</td>
      <td>572.0</td>
      <td>317.0</td>
      <td>263.0</td>
      <td>230.0</td>
      <td>591.0</td>
      <td>230.0</td>
      <td>591.0</td>
      <td>112.0</td>
      <td>177.0</td>
      <td>221.0</td>
    </tr>
    <tr>
      <td>Kenny Sears</td>
      <td>SF</td>
      <td>NYK-SFW</td>
      <td>29.0</td>
      <td>453.0</td>
      <td>95.0</td>
      <td>206.0</td>
      <td>161.0</td>
      <td>304.0</td>
      <td>161.0</td>
      <td>304.0</td>
      <td>131.0</td>
      <td>168.0</td>
      <td>128.0</td>
    </tr>
    <tr>
      <td>Kevin Loughery</td>
      <td>SG</td>
      <td>DET</td>
      <td>22.0</td>
      <td>363.0</td>
      <td>104.0</td>
      <td>109.0</td>
      <td>146.0</td>
      <td>397.0</td>
      <td>146.0</td>
      <td>397.0</td>
      <td>71.0</td>
      <td>100.0</td>
      <td>135.0</td>
    </tr>
    <tr>
      <td>Larry Costello</td>
      <td>PG</td>
      <td>SYR</td>
      <td>31.0</td>
      <td>858.0</td>
      <td>334.0</td>
      <td>237.0</td>
      <td>285.0</td>
      <td>660.0</td>
      <td>285.0</td>
      <td>660.0</td>
      <td>288.0</td>
      <td>327.0</td>
      <td>263.0</td>
    </tr>
    <tr>
      <td>Larry Staverman</td>
      <td>PF</td>
      <td>CHZ</td>
      <td>26.0</td>
      <td>237.0</td>
      <td>43.0</td>
      <td>158.0</td>
      <td>94.0</td>
      <td>194.0</td>
      <td>94.0</td>
      <td>194.0</td>
      <td>49.0</td>
      <td>62.0</td>
      <td>94.0</td>
    </tr>
    <tr>
      <td>Lee Shaffer</td>
      <td>SF</td>
      <td>SYR</td>
      <td>23.0</td>
      <td>1488.0</td>
      <td>97.0</td>
      <td>524.0</td>
      <td>597.0</td>
      <td>1393.0</td>
      <td>597.0</td>
      <td>1393.0</td>
      <td>294.0</td>
      <td>375.0</td>
      <td>249.0</td>
    </tr>
    <tr>
      <td>Len Chappell</td>
      <td>PF</td>
      <td>SYR</td>
      <td>22.0</td>
      <td>710.0</td>
      <td>56.0</td>
      <td>461.0</td>
      <td>281.0</td>
      <td>604.0</td>
      <td>281.0</td>
      <td>604.0</td>
      <td>148.0</td>
      <td>238.0</td>
      <td>171.0</td>
    </tr>
    <tr>
      <td>Lenny Wilkens</td>
      <td>PG</td>
      <td>STL</td>
      <td>25.0</td>
      <td>888.0</td>
      <td>381.0</td>
      <td>403.0</td>
      <td>333.0</td>
      <td>834.0</td>
      <td>333.0</td>
      <td>834.0</td>
      <td>222.0</td>
      <td>319.0</td>
      <td>256.0</td>
    </tr>
    <tr>
      <td>Leroy Ellis</td>
      <td>C</td>
      <td>LAL</td>
      <td>22.0</td>
      <td>577.0</td>
      <td>46.0</td>
      <td>518.0</td>
      <td>222.0</td>
      <td>530.0</td>
      <td>222.0</td>
      <td>530.0</td>
      <td>133.0</td>
      <td>202.0</td>
      <td>194.0</td>
    </tr>
    <tr>
      <td>Maurice King</td>
      <td>PG</td>
      <td>CHZ</td>
      <td>27.0</td>
      <td>216.0</td>
      <td>142.0</td>
      <td>102.0</td>
      <td>94.0</td>
      <td>241.0</td>
      <td>94.0</td>
      <td>241.0</td>
      <td>28.0</td>
      <td>34.0</td>
      <td>87.0</td>
    </tr>
    <tr>
      <td>Mel Nowell</td>
      <td>SG</td>
      <td>CHZ</td>
      <td>23.0</td>
      <td>232.0</td>
      <td>84.0</td>
      <td>67.0</td>
      <td>92.0</td>
      <td>237.0</td>
      <td>92.0</td>
      <td>237.0</td>
      <td>48.0</td>
      <td>66.0</td>
      <td>86.0</td>
    </tr>
    <tr>
      <td>Mike Farmer</td>
      <td>SF</td>
      <td>STL</td>
      <td>26.0</td>
      <td>595.0</td>
      <td>143.0</td>
      <td>369.0</td>
      <td>239.0</td>
      <td>562.0</td>
      <td>239.0</td>
      <td>562.0</td>
      <td>117.0</td>
      <td>139.0</td>
      <td>155.0</td>
    </tr>
    <tr>
      <td>Nick Mantis</td>
      <td>SG</td>
      <td>STL-CHZ</td>
      <td>27.0</td>
      <td>215.0</td>
      <td>83.0</td>
      <td>85.0</td>
      <td>94.0</td>
      <td>244.0</td>
      <td>94.0</td>
      <td>244.0</td>
      <td>27.0</td>
      <td>49.0</td>
      <td>94.0</td>
    </tr>
    <tr>
      <td>Oscar Robertson</td>
      <td>PG</td>
      <td>CIN</td>
      <td>24.0</td>
      <td>2264.0</td>
      <td>758.0</td>
      <td>835.0</td>
      <td>825.0</td>
      <td>1593.0</td>
      <td>825.0</td>
      <td>1593.0</td>
      <td>614.0</td>
      <td>758.0</td>
      <td>293.0</td>
    </tr>
    <tr>
      <td>Paul Hogue</td>
      <td>C</td>
      <td>NYK</td>
      <td>22.0</td>
      <td>383.0</td>
      <td>42.0</td>
      <td>430.0</td>
      <td>152.0</td>
      <td>419.0</td>
      <td>152.0</td>
      <td>419.0</td>
      <td>79.0</td>
      <td>174.0</td>
      <td>220.0</td>
    </tr>
    <tr>
      <td>Paul Neumann</td>
      <td>PG</td>
      <td>SYR</td>
      <td>25.0</td>
      <td>655.0</td>
      <td>227.0</td>
      <td>200.0</td>
      <td>237.0</td>
      <td>503.0</td>
      <td>237.0</td>
      <td>503.0</td>
      <td>181.0</td>
      <td>222.0</td>
      <td>221.0</td>
    </tr>
    <tr>
      <td>Phil Jordon</td>
      <td>C</td>
      <td>STL</td>
      <td>29.0</td>
      <td>478.0</td>
      <td>103.0</td>
      <td>319.0</td>
      <td>211.0</td>
      <td>527.0</td>
      <td>211.0</td>
      <td>527.0</td>
      <td>56.0</td>
      <td>101.0</td>
      <td>172.0</td>
    </tr>
    <tr>
      <td>Porter Meriwether</td>
      <td>PG</td>
      <td>SYR</td>
      <td>22.0</td>
      <td>119.0</td>
      <td>43.0</td>
      <td>29.0</td>
      <td>48.0</td>
      <td>122.0</td>
      <td>48.0</td>
      <td>122.0</td>
      <td>23.0</td>
      <td>33.0</td>
      <td>19.0</td>
    </tr>
    <tr>
      <td>Ralph Wells</td>
      <td>0</td>
      <td>CHZ</td>
      <td>22.0</td>
      <td>2.0</td>
      <td>7.0</td>
      <td>6.0</td>
      <td>1.0</td>
      <td>7.0</td>
      <td>1.0</td>
      <td>7.0</td>
      <td>0.0</td>
      <td>7.0</td>
      <td>6.0</td>
    </tr>
    <tr>
      <td>Ray Scott</td>
      <td>PF</td>
      <td>DET</td>
      <td>24.0</td>
      <td>1228.0</td>
      <td>191.0</td>
      <td>772.0</td>
      <td>460.0</td>
      <td>1110.0</td>
      <td>460.0</td>
      <td>1110.0</td>
      <td>308.0</td>
      <td>457.0</td>
      <td>263.0</td>
    </tr>
    <tr>
      <td>Red Kerr</td>
      <td>C</td>
      <td>SYR</td>
      <td>30.0</td>
      <td>1255.0</td>
      <td>214.0</td>
      <td>1039.0</td>
      <td>507.0</td>
      <td>1069.0</td>
      <td>507.0</td>
      <td>1069.0</td>
      <td>241.0</td>
      <td>320.0</td>
      <td>208.0</td>
    </tr>
    <tr>
      <td>Richie Guerin</td>
      <td>SG</td>
      <td>NYK</td>
      <td>30.0</td>
      <td>1701.0</td>
      <td>348.0</td>
      <td>331.0</td>
      <td>596.0</td>
      <td>1380.0</td>
      <td>596.0</td>
      <td>1380.0</td>
      <td>509.0</td>
      <td>600.0</td>
      <td>228.0</td>
    </tr>
    <tr>
      <td>Ron Horn</td>
      <td>SF</td>
      <td>LAL</td>
      <td>24.0</td>
      <td>74.0</td>
      <td>10.0</td>
      <td>71.0</td>
      <td>27.0</td>
      <td>82.0</td>
      <td>27.0</td>
      <td>82.0</td>
      <td>20.0</td>
      <td>29.0</td>
      <td>46.0</td>
    </tr>
    <tr>
      <td>Rudy LaRusso</td>
      <td>PF</td>
      <td>LAL</td>
      <td>25.0</td>
      <td>924.0</td>
      <td>187.0</td>
      <td>747.0</td>
      <td>321.0</td>
      <td>761.0</td>
      <td>321.0</td>
      <td>761.0</td>
      <td>282.0</td>
      <td>393.0</td>
      <td>255.0</td>
    </tr>
    <tr>
      <td>Sam Jones</td>
      <td>SG</td>
      <td>BOS</td>
      <td>29.0</td>
      <td>1499.0</td>
      <td>241.0</td>
      <td>396.0</td>
      <td>621.0</td>
      <td>1305.0</td>
      <td>621.0</td>
      <td>1305.0</td>
      <td>257.0</td>
      <td>324.0</td>
      <td>162.0</td>
    </tr>
    <tr>
      <td>Si Green</td>
      <td>PG</td>
      <td>CHZ</td>
      <td>29.0</td>
      <td>853.0</td>
      <td>422.0</td>
      <td>335.0</td>
      <td>322.0</td>
      <td>783.0</td>
      <td>322.0</td>
      <td>783.0</td>
      <td>209.0</td>
      <td>306.0</td>
      <td>274.0</td>
    </tr>
    <tr>
      <td>Slick Leonard</td>
      <td>PG</td>
      <td>CHZ</td>
      <td>30.0</td>
      <td>227.0</td>
      <td>143.0</td>
      <td>68.0</td>
      <td>84.0</td>
      <td>245.0</td>
      <td>84.0</td>
      <td>245.0</td>
      <td>59.0</td>
      <td>85.0</td>
      <td>84.0</td>
    </tr>
    <tr>
      <td>Ted Luckenbill</td>
      <td>PF</td>
      <td>SFW</td>
      <td>23.0</td>
      <td>61.0</td>
      <td>8.0</td>
      <td>56.0</td>
      <td>26.0</td>
      <td>68.0</td>
      <td>26.0</td>
      <td>68.0</td>
      <td>9.0</td>
      <td>20.0</td>
      <td>34.0</td>
    </tr>
    <tr>
      <td>Terry Dischinger</td>
      <td>SF</td>
      <td>CHZ</td>
      <td>22.0</td>
      <td>1452.0</td>
      <td>175.0</td>
      <td>458.0</td>
      <td>525.0</td>
      <td>1026.0</td>
      <td>525.0</td>
      <td>1026.0</td>
      <td>402.0</td>
      <td>522.0</td>
      <td>188.0</td>
    </tr>
    <tr>
      <td>Tom Gola</td>
      <td>SG</td>
      <td>SFW-NYK</td>
      <td>30.0</td>
      <td>896.0</td>
      <td>298.0</td>
      <td>517.0</td>
      <td>363.0</td>
      <td>791.0</td>
      <td>363.0</td>
      <td>791.0</td>
      <td>170.0</td>
      <td>219.0</td>
      <td>295.0</td>
    </tr>
    <tr>
      <td>Tom Hawkins</td>
      <td>SF</td>
      <td>CIN</td>
      <td>26.0</td>
      <td>745.0</td>
      <td>100.0</td>
      <td>543.0</td>
      <td>299.0</td>
      <td>635.0</td>
      <td>299.0</td>
      <td>635.0</td>
      <td>147.0</td>
      <td>241.0</td>
      <td>197.0</td>
    </tr>
    <tr>
      <td>Tom Heinsohn</td>
      <td>PF</td>
      <td>BOS</td>
      <td>28.0</td>
      <td>1440.0</td>
      <td>95.0</td>
      <td>569.0</td>
      <td>550.0</td>
      <td>1300.0</td>
      <td>550.0</td>
      <td>1300.0</td>
      <td>340.0</td>
      <td>407.0</td>
      <td>270.0</td>
    </tr>
    <tr>
      <td>Tom Meschery</td>
      <td>PF</td>
      <td>SFW</td>
      <td>24.0</td>
      <td>1022.0</td>
      <td>104.0</td>
      <td>624.0</td>
      <td>397.0</td>
      <td>935.0</td>
      <td>397.0</td>
      <td>935.0</td>
      <td>228.0</td>
      <td>313.0</td>
      <td>249.0</td>
    </tr>
    <tr>
      <td>Tom Sanders</td>
      <td>SF</td>
      <td>BOS</td>
      <td>24.0</td>
      <td>864.0</td>
      <td>95.0</td>
      <td>576.0</td>
      <td>339.0</td>
      <td>744.0</td>
      <td>339.0</td>
      <td>744.0</td>
      <td>186.0</td>
      <td>252.0</td>
      <td>262.0</td>
    </tr>
    <tr>
      <td>Tom Stith</td>
      <td>SF</td>
      <td>NYK</td>
      <td>24.0</td>
      <td>77.0</td>
      <td>18.0</td>
      <td>39.0</td>
      <td>37.0</td>
      <td>110.0</td>
      <td>37.0</td>
      <td>110.0</td>
      <td>3.0</td>
      <td>10.0</td>
      <td>23.0</td>
    </tr>
    <tr>
      <td>Walt Bellamy</td>
      <td>C</td>
      <td>CHZ</td>
      <td>23.0</td>
      <td>2233.0</td>
      <td>233.0</td>
      <td>1309.0</td>
      <td>840.0</td>
      <td>1595.0</td>
      <td>840.0</td>
      <td>1595.0</td>
      <td>553.0</td>
      <td>821.0</td>
      <td>283.0</td>
    </tr>
    <tr>
      <td>Walter Dukes</td>
      <td>C</td>
      <td>DET</td>
      <td>32.0</td>
      <td>267.0</td>
      <td>55.0</td>
      <td>360.0</td>
      <td>83.0</td>
      <td>255.0</td>
      <td>83.0</td>
      <td>255.0</td>
      <td>101.0</td>
      <td>137.0</td>
      <td>183.0</td>
    </tr>
    <tr>
      <td>Wayne Embry</td>
      <td>C</td>
      <td>CIN</td>
      <td>25.0</td>
      <td>1411.0</td>
      <td>177.0</td>
      <td>936.0</td>
      <td>534.0</td>
      <td>1165.0</td>
      <td>534.0</td>
      <td>1165.0</td>
      <td>343.0</td>
      <td>514.0</td>
      <td>286.0</td>
    </tr>
    <tr>
      <td>Wayne Hightower</td>
      <td>PF</td>
      <td>SFW</td>
      <td>23.0</td>
      <td>489.0</td>
      <td>51.0</td>
      <td>354.0</td>
      <td>192.0</td>
      <td>548.0</td>
      <td>192.0</td>
      <td>548.0</td>
      <td>105.0</td>
      <td>157.0</td>
      <td>181.0</td>
    </tr>
    <tr>
      <td>Willie Jones</td>
      <td>PG</td>
      <td>DET</td>
      <td>26.0</td>
      <td>728.0</td>
      <td>188.0</td>
      <td>233.0</td>
      <td>305.0</td>
      <td>730.0</td>
      <td>305.0</td>
      <td>730.0</td>
      <td>118.0</td>
      <td>164.0</td>
      <td>207.0</td>
    </tr>
    <tr>
      <td>Willie Naulls</td>
      <td>SF</td>
      <td>NYK-SFW</td>
      <td>28.0</td>
      <td>906.0</td>
      <td>102.0</td>
      <td>515.0</td>
      <td>370.0</td>
      <td>887.0</td>
      <td>370.0</td>
      <td>887.0</td>
      <td>166.0</td>
      <td>207.0</td>
      <td>205.0</td>
    </tr>
    <tr>
      <td>Wilt Chamberlain</td>
      <td>C</td>
      <td>SFW</td>
      <td>26.0</td>
      <td>3586.0</td>
      <td>275.0</td>
      <td>1946.0</td>
      <td>1463.0</td>
      <td>2770.0</td>
      <td>1463.0</td>
      <td>2770.0</td>
      <td>660.0</td>
      <td>1113.0</td>
      <td>136.0</td>
    </tr>
    <tr>
      <td>Woody Sauldsberry</td>
      <td>PF</td>
      <td>CHZ-STL</td>
      <td>28.0</td>
      <td>839.0</td>
      <td>78.0</td>
      <td>447.0</td>
      <td>366.0</td>
      <td>966.0</td>
      <td>366.0</td>
      <td>966.0</td>
      <td>107.0</td>
      <td>163.0</td>
      <td>230.0</td>
    </tr>
    <tr>
      <td>Zelmo Beaty</td>
      <td>C</td>
      <td>STL</td>
      <td>23.0</td>
      <td>814.0</td>
      <td>85.0</td>
      <td>665.0</td>
      <td>297.0</td>
      <td>677.0</td>
      <td>297.0</td>
      <td>677.0</td>
      <td>220.0</td>
      <td>307.0</td>
      <td>312.0</td>
    </tr>
  </tbody>
</table>
{% endblock %}
