
{% extends "Stats.html" %} 

{% block season-buttons %}
<button onclick="seasonSelect(1974_75)" class="dropdown-button"> 1974_75 </button>
<button onclick="seasonSelect(1975_76)" class="dropdown-button"> 1975_76 </button>
<button onclick="seasonSelect(1976_77)" class="dropdown-button"> 1976_77 </button>
<button onclick="seasonSelect(1977_78)" class="dropdown-button"> 1977_78 </button>
<button onclick="seasonSelect(1978_79)" class="dropdown-button"> 1978_79 </button>
<button onclick="seasonSelect(1979_80)" class="dropdown-button"> 1979_80 </button>
<button onclick="seasonSelect(1980_81)" class="dropdown-button"> 1980_81 </button>
<button onclick="seasonSelect(1981_82)" class="dropdown-button"> 1981_82 </button>
<button onclick="seasonSelect(1982_83)" class="dropdown-button"> 1982_83 </button>
<button onclick="seasonSelect(1983_84)" class="dropdown-button"> 1983_84 </button>
<button onclick="seasonSelect(1984_85)" class="dropdown-button"> 1984_85 </button>
<button onclick="seasonSelect(1985_86)" class="dropdown-button"> 1985_86 </button>
<button onclick="seasonSelect(1986_87)" class="dropdown-button"> 1986_87 </button>
<button onclick="seasonSelect(1987_88)" class="dropdown-button"> 1987_88 </button>
<button onclick="seasonSelect(1988_89)" class="dropdown-button"> 1988_89 </button>
<button onclick="seasonSelect(1989_90)" class="dropdown-button"> 1989_90 </button>
<button onclick="seasonSelect(1990_91)" class="dropdown-button"> 1990_91 </button>
<button onclick="seasonSelect(1991_92)" class="dropdown-button"> 1991_92 </button>
<button onclick="seasonSelect(1992_93)" class="dropdown-button"> 1992_93 </button>
<button onclick="seasonSelect(1993_94)" class="dropdown-button"> 1993_94 </button>
{% endblock %}