a{
    color: white; 
    margin-left: 2vmin;
}
.about-container{
    width: 60%;
    height: 60vh; 
    background-color: rgb(35, 35, 35); 
    color: white; 
    font-family: calibri; 
    font-size: medium;
    margin-top: 4vmin;
}
.analysis-container{ 
    width: 100%; 
    height: 60vmin; 
    border-width: 2px; 
    border-color: rgb(243, 148, 60);
}
body{
    background-color: rgb(228, 116, 12); 
}
.button-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width:70vmin;
    height:70vmin;
    border-radius: 20px; 
    margin: 3px;
}
.center-item{
    display: flex;
    text-align: center;
    justify-content: center;
} 
.click-dropdown-content{
    display: none;
    /* position: absolute;  */ 
    min-width: 10vmin;
    max-height: 20vmin;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(243, 148, 60);
    width: 100%; 
    z-index: 1;
}
.dropdown{ 
    width:33.33%;
    margin-inline: 2px;
    cursor:pointer; 
    background-color: rgb(228, 116, 12);
    position: relative; 
}
.dropdown-button{
    background-color: rgb(71, 62, 62);
    width: 100%;
    height: 4vmin;
    font-family:'calibri'; 
    font-size:2vmin;
    color: rgb(255, 255, 255); 
    margin:0.01px;
    border-width: 1px;
    cursor:pointer;     
} 
.dropdown-button:hover{
    opacity: 0.3; 
} 
.dropdown-container{
    width: 100%; 
    display: flex; 
    justify-content: center;  
    position: relative; 
}
.dropdown-content{ 
    display: none;
    position: absolute;
    min-width: 10vmin;
    max-height: 12vmin;
    width:100%;
    left:0;
    top:100%;
    overflow: auto;
    background-color: rgb(243, 148, 60); 
    z-index: 1;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
} 
.dropdown-content.show{
    display: block; 
} 
.dropdown:hover .dropdown-content{
    display:block;
}
.show{
    display: block; 
}
.feed-box{
    display:flex; 
    background-color: white;
    width:50vmin;
    height:20vmin; 
    border-radius: 8px;
    margin:2vmin;
    font-family:'calibri';
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}
.feed-box:hover{ 
    opacity: 0.5;
}
.footer-box{ 
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0; 
    bottom: 0;
    width:100%;
    background-color: rgb(35, 35, 35); 
    color: white; 
    font-size: 2.5vmin; 
    position: fixed;
    font-family: 'calibri'; 
}
.full-screen {
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    width:100vw; 
    height:100vh; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden; 
    z-index:1;
}
.full-screen-button{
    font-size: 2vmin; 
    font-family: calibri; 
    background-color: rgb(243, 148, 60); 
    color: rgb(0, 0, 0); 
    width: 100%; 
    border:none;
    opacity: 0.9; 
    margin-top: 1vmin; 
}
.full-screen-button:hover{
    /* opacity: 0.2; */
    background-color: rgb(243, 148, 60);
    border-bottom: 4px;
    border-color: black; 
}

.header-box{
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    top:0;
    left:0;
    position:fixed;
}
.header-button{
    width: 33.333%;
    height: 15%;
    font-size: 3vmin; 
    font-family: 'calibri'; 
    color: white; 
    background-color: rgb(35, 35, 35); 
    border-width: 0.1vmin; 
}
.header-button:hover{
    /* background-color: rgb(247, 180, 86);   */
    opacity: 0.2;
    cursor: pointer; 
}
.header-text {
    text-align: center;
    font-size: 6.5vmin;
    font-family: 'calibri', sans-serif;
    color: rgb(0, 0, 0); 
    margin-top: 1px;
    margin-bottom: 0px; 
}
.home-button{
    background-color:rgb(35, 35, 35);
    color: rgb(255, 255, 255);  
    border-radius:5px;
    border-width: 1px;
    border-color: rgb(243, 148, 60);
    width:50vmin;
    height:15vmin;
    justify-content:center;
    margin:2vmin;
    cursor:pointer;
    font-size:4vmin;
    font-family:'calibri';
}
.home-button:hover{ 
    opacity: 0.3;
}
.iframe-footer{
    display: flex; 
    bottom: 0px; 
    width:100%;
    background-color: rgb(0, 0, 0); 
    position: fixed; 
}
.iframe-header{ 
    display: flex; 
    top: 0px; 
    width:100%;
    background-color: rgb(0, 0, 0); 
    position: fixed; 
}
.input-dropdown{
    font-family: calibri;
    font-size: 4vmin;  
    border-width: 2px; 
    border-color: rgb(243, 148, 60); 
}
.input-label{
    font-weight: normal; 
    font-family: calibri; 
    min-width: 2vmin; 
    width: 8%; 
    color: rgb(255, 255, 255); 
    text-align: center;
}
.input-row{
    display:flex; 
    /* flex-wrap: wrap; */
    justify-content:center; 
    font-family:calibri; 
    font-size:4min;   
}
.input-submit{
    font-family: calibri; 
    color: black; 
    font-size: 4vmin; 
    box-shadow: 1vmin; 
    box-shadow: 1px 1px 1px purple;
    background-color: rgb(243, 148, 60); 
}
.input-submit:hover{
    opacity: 0.9; 
}
.input-text-box{
    width: 10%;  
    max-width: 8vmin;
    border-width: 2px;
    border-color: rgb(243, 148, 60); 
    background-color: rgb(228, 116, 12); 
}
.logo-container {
    width:12vmin; 
    height:auto; 
    margin:1px;
    cursor:pointer;
}
.logo-container:hover{
    opacity: 0.5;
}
main{
    margin-top: 4vmin; 
    margin-bottom: 2vmin;
    padding: 1vmin; 

}
.table-button{
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255); 
    width:15%;
    height:5vmin;
    font-family:'calibri'; 
    font-size:2.5vmin;
    margin:1px;
    border-radius:5px;
    border-width: 2px;
    border-color: rgb(243, 148, 60);
    cursor:pointer;
}
.table-button:hover{
    opacity:0.2;
}
.table-container{
    border-radius: 20px; 
    border-width: 1px; 
    border-color: rgb(243, 148, 60);
    width: 100%; 
    height: 63vmin;
    margin: 5px;
    background-color: rgb(0, 0, 0);
    /* overflow-x: scroll;  */
    overflow-y: hidden; 
    overflow-x: hidden;
}
.table-scroll div{ 
    width: 150vmin; 
    height: 5vmin; 
    border-width:1px; 
    border-color: rgb(243, 148, 60);
}
.tool-container{
    width:100%; 
    height: 60vmin; 
    border-width:1px; 
    border-color: rgb(243, 148, 60);
    overflow-x: auto; 
    overflow-y: auto;
    margin-top: 1vmin; 
} 
.tool-output{
    background-color:rgb(243, 148, 60);
    color: black; 
    font-weight: bold;
    width:50%;
    height:15%;
    font-family:calibri;
    size:1vmin;
    display:flex;
    align-items:center;
    justify-content:center;
}
thead th{
    position: sticky; 
    top:0;
    background:#e28418;  
    z-index: 1;
} 

@media only screen and (max-width: 600px) {
    /* Mobile styles */
    a{
        color: white; 
        margin: 2vmin;
    }
    .analysis-container{ 
        width: 100%; 
        height: 50vh; 
        border-width: 2px; 
        border-color: rgb(243, 148, 60);
    }
    body{
        background-color: rgb(228, 116, 12); 
    }
    .button-container{
        display: flex; 
        flex-direction: column;
        align-items: center;
        width:100%;
        height:40%;
        border-radius: 20px; 
        margin: 3px;
    }
    .center-item{
        display: flex;
        text-align: center;
        justify-content: center;
    } 
    .click-dropdown-content{
        display: none;
        position: default;
        min-width: 10vmin;
        max-height: 50vmin;
        width:100%;
        left:0;
        top:100%;
        overflow: auto;
        z-index: 4; 

        /* background-color: rgb(243, 148, 60);  */
    }
    .dropdown{ 
        width:33.33%;
        margin-inline: 2px;
        cursor:pointer; 
        background-color: rgb(228, 116, 12);
        position: relative; 
    }
    .dropdown-button{
        background-color: rgb(71, 62, 62);
        width: 100%;
        height: 10vmin;
        font-family:'calibri'; 
        font-size:100%;
        color: rgb(255, 255, 255); 
        margin:0.01px;
        border-width: 1px;
        cursor:pointer;     
    }
    .dropdown-button:hover{
        background-color: none; 
        opacity: 0.3; 
    }
    .dropdown-container{
        width: 100%; 
        height: 10vmin;
        display: flex; 
        justify-content: center;  
        position: relative; 
        margin-top: 4vmin; 
    }
    .dropdown-content{ 
        display: none;
        position: absolute;
        min-width: 10vmin;
        max-height: 50vmin; 
        width:100%;
        left:0;
        top:100%;
        overflow: auto;
        background-color: rgb(135, 135, 135);
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
    }
    .dropdown:hover .dropdown-content{
        display:block;
    }
    .show{
        display: block; 
    }
    .dropdown-content.show{
        display: block; 
    } 
    .footer-box{ 
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0; 
        bottom: 0;
        width:100%;
        background-color: rgb(35, 35, 35); 
        color: rgb(255, 255, 255); 
        font-size: 4vmin; 
        position: fixed;
        font-family: 'calibri'; 
    }
    .full-screen {
        position:fixed; 
        top:0; 
        left:0; 
        bottom:0; 
        right:0; 
        width:100vw; 
        height:100vh; 
        border:none; 
        margin:0; 
        padding:0; 
        overflow:hidden; 
        z-index:1;
    }
    .full-screen-button{
        font-size: 6vmin; 
        font-family: calibri; 
        background-color: rgb(243, 148, 60); 
        border-left: 10px; 
        border-right: 10px; 
        border-color: black;
        color: rgb(0, 0, 0); 
        width: 100%; 
        margin-top: 2vmin;
        opacity: 0.9;
    }    
    .full-screen-button:hover{
        /* opacity: 0.2; */
        background-color: rgb(243, 148, 60);
        border-bottom: 4px;
        border-color: black; 
    }
    .header-box{
        display: flex;
        width: 100%;
        justify-content: center;
        border-radius: 5px;
        top:0;
        left:0;
        position:fixed;
    }
    .header-button{
        width: 33.333%;
        height: 10%;
        font-size: 6vmin; 
        font-family: 'calibri'; 
        color: white; 
        background-color: rgb(35, 35, 35); 
        border-width: 0.1vmin; 
    }
    .header-text {
        text-align: center;
        font-size: 300%;
        font-family: 'calibri', sans-serif;
        color: rgb(0, 0, 0); 
        margin-top: 10%;
        margin-bottom: 0px; 
    }
    .home-button{
        background-color:rgb(35, 35, 35);
        color: rgb(255, 255, 255);  
        border-radius:2vmin;
        border-width: 1px;
        border-color: rgb(243, 148, 60);
        width:80%;
        height:20vmin;
        justify-content:center;
        margin:2vmin;
        cursor:pointer;
        font-size:8vmin;
        font-family:'calibri';
    }
    .iframe-footer{
        position: fixed; 
        display: flex; 
        bottom: 0px; 
        width:100%;
        /* background-color: rgb(0, 0, 0);  */
        
    } 
    .iframe-header{ 
        display: flex; 
        top: 0px; 
        width:100%;
        background-color: rgb(0, 0, 0); 
        color: black;
        position: fixed; 
    }
    .input-dropdown{
        font-family: calibri;
        font-size: 4vmin;  
        border-width: 2px; 
        border-color: rgb(243, 148, 60); 
    }
    .input-label{
        font-weight: normal; 
        font-family: calibri; 
        width: 15%; 
        color: rgb(255, 255, 255); 
        text-align: center;
    }
    .input-row{
        display:flex; 
        /* flex-wrap: wrap; */
        justify-content:center; 
        font-family:calibri; 
        font-size:4min;  
        left:0; 
    }
    .input-submit{
        font-family: calibri; 
        color: black; 
        font-size: 6vmin; 
        box-shadow: 1vmin; 
        background-color: rgb(243, 148, 60); 
    }
    .input-text-box{
        width: 10vmin; 
        border: none; 
        background-color: rgb(243, 148, 60); 
    }
    .logo-container {
        width:50%; 
        height:auto; 
        margin:1px;
    }
    main{
        margin-top: 4vmin; 
        margin-bottom: 2vmin;
        padding: 1vmin; 
    
    }
    .table-button{
        background-color: rgb(35, 35, 35);
        color: rgb(255, 255, 255); 
        width:100%;
        height:100%;
        font-family:'calibri'; 
        font-size:5vmin;
        margin:1px;
        border-radius:1vmin;
        border-width: 0px;
        /* border-color: rgb(243, 148, 60); */
    }
    .table-container{
        border-radius: 2vmin; 
        border-width: 1px; 
        border-color: rgb(243, 148, 60);
        width: 100%; 
        height: 50vh;
        margin: 5px;
        background-color: rgb(0, 0, 0);
        /* overflow-x: scroll;  */
        overflow-y: hidden; 
        overflow-x: hidden;
    }
    .table-scroll div{ 
        width: 150vmin; 
        height: 5vmin; 
        border-width:1px; 
        border-color: rgb(243, 148, 60);
    }
    .tool-container{
        width:100%; 
        height: 50vh;  
        border:none; 
        margin-top: 2vmin; 
        overflow-y: auto; 
        overflow-x: auto; 
    } 
    .tool-output{
        background-color:rgb(243, 148, 60);
        color: black;
        width:80%;
        height:15%;
        font-family:calibri;
        size:1vmin;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    thead th{
        position: sticky; 
        top:0;
        background:#e28418;  
        z-index: 1;
    }
}
