{% load static %}
{% comment %} <!DOCTYPE html> {% endcomment %}
    <html lang='en'>

    <head>
        <meta charset='UTF-8'>
    </head> 
    <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    <body style="background-color:rgb(35, 35, 35)">
        <form id='prediction-form' method="POST" action={url 'predict_allstar'}>
            {% csrf_token %}
            <div class="center-item" style="background-color":"black">
                <div class="tool-output" id="tool-output"> Prediction Result </div> 
            </div> 
            </select> 
            <br> 
            <div style="display:flex; justify-content:center;border-style:solid;border-width:2px;">
                <select name="player-select"> 
                    <option value=""> Sample Player </option> 
                    <option value=""> LeBron James (2003-04) </option> 
                    <option value=""> Michael Jordan (1984-85) </option> 
                    <option value=""> Kobe Bryant (1996-97) </option> 
                </select> 
                <label class="input-label"> PPG: </label> 
                    <input id = "PPG" name= "PPG" type="text" value="" class="input-text-box"> 
                <label class="input-label"> RPG: </label> 
                    <input id = "RPG" name= "RPG" type="text" value="" class="input-text-box"> 
                <label class="input-label"> APG: </label> 
                    <input id = "APG" name= "APG" type="text" value="" class="input-text-box"> 
                <label class="input-label"> SPG: </label> 
                    <input id="SPG" name="SPG" type="ntext" class="input-text-box"> 
                <label class="input-label"> BPG: </label> 
                    <input id = "BPG" name="BPG" type="text" value="" class="input-text-box"> 
            </div> 
            <br> 
            <div class="center-item"> 
                <select name="model" id="model"> 
                    <!-- <option value="neural_network_simple"> Neural Network </option>  -->
                    <option value="logistic_regression_simple"> Logistic Regression </option> 
                    <option value="random_forest_simple"> Random Forest </option> 
                </select> 
                <input type="submit" value="Submit" class="input-submit"> 
            </div> 
            

            <br>

            
        </form> 
    </body> 
    </html> 

<script>
    document.getElementById('prediction-form').onsubmit = async function(event){
        event.preventDefault(); 
        const formData = new FormData(this); 
        const response = await fetch("{% url 'predict_allstar' %}", {
            method: 'POST', 
            body: formData 
        }); 
        const result = await response.json();  
        document.getElementById("tool-output").textContent = result.prediction; 
        pred = result.prediction; 
        if (pred > 0.5){
            document.getElementById("tool-output").style.color="red";
        }

    }
</script> 